@model IEnumerable<RMERP.DAL.ViewModel.WageProcessListVM>
@using RMERP.DAL.Helpers;

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        var style = (item.WageStatus == true ? "#ccffdd;" : "none");
        <tr style="background-color:@style;">
            <td>
                <div class="row wage_raw">
                    <div class="col-md-2">
                        <h4>@item.WAG_Full_Month()</h4>
                        Total Clients: @item.ActiveClients
                    </div>
                    <div class="col-md-2">
                        <h6>Attendance:</h6>
                        <b>@Html.ActionLink("Attendance", "NewWageAttendanceList", "Attendance", new { WAG_Id = item.WAG_Id })</b>
                        <div style="font-size:10px;">
                            @if (item.ImportedClients == item.ActiveClients)
                            {
                                <span class="done" style="color:green;">Attendence Imported for all clients.</span>
                            }
                            else
                            {
                                <span style="color:orangered;">@item.NotImportedClients client's attendence Pending to import.</span>
                            }
                        </div>
                    </div>
                    <div class="col-md-2">
                        <h6>Advance:</h6>
                        <ul style="font-size:10px;padding-left: 10px !important;list-style-type:none;">
                            <li>@Html.ActionLink("Advance Distribution(" + item.totEmpTakeAdvance + ")", "AdvanceRptForBank", "Employees", new { WAG_Month = item.WAG_Month, FRM_Id = item.FRM_Id })</li>
                            <li>@Html.ActionLink("Installment against advance", "UpdateAdvanceEMI", "Employees", new { WAG_Month = item.WAG_Month, WAG_Id = item.WAG_Id, FRM_Id = item.FRM_Id })</li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h6>Wage Register:</h6>
                        <b>@Html.ActionLink("Wage Register", "WageProcessClients", "WageRegister", new { WAG_Id = item.WAG_Id, FRM_Id = item.FRM_Id })</b>
                        <div style="font-size:10px;">

                            @if (item.WageStatus == true)
                            {
                                <span class="done" style="color:green;font-weight:bold;">Wage Register Finalized.</span>
                            }
                            else
                            {
                                @if (item.WageRegisterSaved == item.ActiveClients)
                                {
                                    <span style="color:green;">Wage Register for all Clients is Finalize.</span><br />
                                    <a onclick="return window.confirm('Are you sure, you want to finalize wage Register for this month? Now onwards wage register can not be able to modify.')"
                                       href='@Url.Action("WageRegisterStatus", "WageProcess", new { WAG_Id = item.WAG_Id})' title="Confirm">
                                        Finalize Web Register
                                    </a>
                                }
                                else
                                {
                                    <span style="color:orangered;">@item.WageRegisterNotSaved client's Wage register Pending to finalize.</span>
                                }

                            }
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h6>Reports:</h6>

                        <div class="raw">
                            @if (item.WageRegisterSaved > 0)
                            {
                                <div class="col-md-6">
                                    <ul style="font-size:10px;padding-left: 10px !important;margin-bottom:0px;list-style-type:none;">
                                        <li><a style="font-size:10px;color:#009ce7;" href='@Url.Action( "ClientsSelectionForPF","Reports",new { WAG_Id = item.WAG_Id ,item.FRM_Id})' title="Employees PF Report"><i class="fa fa-file-excel-o m-r-5"></i>PF Reports</a></li>
                                        <li><a style="font-size:10px;color:#009ce7;" href='@Url.Action( "ClientsSelectionForESIC","Reports",new { WAG_Id = item.WAG_Id ,item.FRM_Id})' title="Employees ESIC Report"><i class="fa fa-file-excel-o m-r-5"></i>ESIC Reports</a></li>
                                        <li><a href='@Url.Action( "PayTaxExcel","Reports",new { WAG_Id = item.WAG_Id })' title="PAY TAX Report"><i class="fa fa-file-excel-o m-r-5"></i>PAY TAX Report.xlsx</a></li>
                                        @if (item.WAG_Month.Month.Equals((int)ProjectUtils.Month.June) || item.WAG_Month.Month.Equals((int)ProjectUtils.Month.December))
                                        {
                                            <li><a href='@Url.Action( "Labour_WelfareFund_Excel","Reports",new { WAG_Id = item.WAG_Id })' title="MLWF CONTRIBUTION Report"><i class="fa fa-file-excel-o m-r-5"></i>MLWF CONTRIBUTION.xlsx</a></li>
                                        }


                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul style="font-size:10px;padding-left: 10px !important;list-style-type:none">
                                        <li><a style="font-size:10px;color:#009ce7;" href='@Url.Action( "ClientsSelectionForBank","Reports",new { WAG_Id = item.WAG_Id ,item.FRM_Id})' title="Employees Bank Report"><i class="fa fa-file-excel-o m-r-5"></i>Bank Reports</a></li>
                                        <li>
                                            <div class="dropdown">
                                                <a href="#" style="font-size:10px;color:#009ce7;padding-left: 0px;" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-file-excel-o m-r-5"></i>Advance Reports</a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a style="font-size:10px;color:#009ce7;" href='@Url.Action( "IDBI_To_IDBI_AdvanceReportExcel","Reports",new { WAG_Id = item.WAG_Id,FRM_Id=item.FRM_Id })' title="IDBI To IDBI Advance Report"><i class="fa fa-file-excel-o m-r-5"></i>IDBI To IDBI Advance Report.xlsx</a></li>
                                                    <li><a style="font-size:10px;color:#009ce7;" href='@Url.Action( "IDBI_To_Other_AdvanceReportExcel","Reports",new { WAG_Id = item.WAG_Id,FRM_Id=item.FRM_Id })' title="IDBI To Others Advance Report"><i class="fa fa-file-excel-o m-r-5"></i>IDBI To Others Advance Report.xlsx</a></li>
                                                    <li><a style="font-size:10px;color:#009ce7;" href='@Url.Action( "CHEQUE_CASH_AdvanceReportExcel","Reports",new { WAG_Id = item.WAG_Id,FRM_Id=item.FRM_Id })' title="CHEQUE/CASH Advance Report"><i class="fa fa-file-excel-o m-r-5"></i>CHEQUE/CASH Advance Report.xlsx</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a style="font-size:10px;color:#009ce7;" href='@Url.Action( "PaySlipGenerate","Reports",new { WAG_Id = item.WAG_Id})' title="Employees PaySlip Report"><i class="fa fa-file-excel-o m-r-5"></i>PaySlip Reports</a></li>
                                        <li><a style="font-size:10px;color:#009ce7;" href='@Url.Action( "EmployeesReport","Reports",new { WAG_Id = item.WAG_Id})' title="Employees Report"><i class="fa fa-file-excel-o m-r-5"></i>Employee Data Reports</a></li>
                                    </ul>

                                </div>
                            }
                            else
                            {
                                <div class="col-md-6">
                                    <ul style="font-size:10px;padding-left: 10px !important;margin-bottom:0px;list-style-type:none;">
                                        <li><a style="font-size:10px;color:#009ce7;" href="javascript:void(0)" onclick="return window.alert('No Wages Saved For This Report')" title="Employees PF Report"><i class="fa fa-file-excel-o m-r-5"></i>PF Reports</a></li>
                                        <li><a style="font-size:10px;color:#009ce7;" href="javascript:void(0)" onclick="return window.alert('No Wages Saved For This Report')" title="Employees ESIC Report"><i class="fa fa-file-excel-o m-r-5"></i>ESIC Reports</a></li>
                                        <li><a href="javascript:void(0)" onclick="return window.alert('No Wages Saved For This Report')" title="PAY TAX Report"><i class="fa fa-file-excel-o m-r-5"></i>PAY TAX Report.xlsx</a></li>
                                        @if (item.WAG_Month.Month.Equals((int)ProjectUtils.Month.June) || item.WAG_Month.Month.Equals((int)ProjectUtils.Month.December))
                                        {
                                            <li><a href="javascript:void(0)" onclick="return window.alert('No Wages Saved For This Report')" title="MLWF CONTRIBUTION Report"><i class="fa fa-file-excel-o m-r-5"></i>MLWF CONTRIBUTION.xlsx</a></li>
                                        }

                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul style="font-size:10px;padding-left: 10px !important;list-style-type:none">
                                        <li><a style="font-size:10px;color:#009ce7;" href="javascript:void(0)" onclick="return window.alert('No Wages Saved For This Report')" title="Employees Bank Report"><i class="fa fa-file-excel-o m-r-5"></i>Bank Reports</a></li>
                                        <li>
                                            <div class="dropdown">
                                                <a href="#" style="font-size:10px;color:#009ce7;padding-left: 0px;" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-file-excel-o m-r-5"></i>Advance Reports</a>

                                                <ul class="dropdown-menu pull-right">
                                                    <li><a style="font-size:10px;color:#009ce7;" href='@Url.Action( "IDBI_To_IDBI_AdvanceReportExcel","Reports",new { WAG_Id = item.WAG_Id,FRM_Id=item.FRM_Id })' title="IDBI To IDBI Advance Report"><i class="fa fa-file-excel-o m-r-5"></i>IDBI To IDBI Advance Report.xlsx</a></li>
                                                    <li><a style="font-size:10px;color:#009ce7;" href='@Url.Action( "IDBI_To_Other_AdvanceReportExcel","Reports",new { WAG_Id = item.WAG_Id,FRM_Id=item.FRM_Id })' title="IDBI To Others Advance Report"><i class="fa fa-file-excel-o m-r-5"></i>IDBI To Others Advance Report.xlsx</a></li>
                                                    <li><a style="font-size:10px;color:#009ce7;" href='@Url.Action( "CHEQUE_CASH_AdvanceReportExcel","Reports",new { WAG_Id = item.WAG_Id,FRM_Id=item.FRM_Id })' title="CHEQUE/CASH Advance Report"><i class="fa fa-file-excel-o m-r-5"></i>CHEQUE/CASH Advance Report.xlsx</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a style="font-size:10px;color:#009ce7;" href="javascript:void(0)" onclick="return window.alert('No Wages Saved For This Report')" title="Employees PaySlip Report"><i class="fa fa-file-excel-o m-r-5"></i>PaySlip Reports</a></li>
                                    </ul>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }
}
else
{
    <p>No Wage Process Available!</p>
}