@model IEnumerable<RMERP.DAL.ViewModel.WageProcessVM>
@using System.Globalization;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row">
    <div class="col-md-12">
        <div>
            @if (Model.Count() > 0)
            {
                <table class="table table-striped custom-table m-b-0">
                    <thead>
                        <tr>
                            <th>Wag Month</th>
                            <th>Attendance</th>
                            <th>Wage Register</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td><b>@item.WAG_Month.ToString("MMMM", CultureInfo.CreateSpecificCulture("IN")) - @item.WAG_Month.Year.ToString()</b></td>
                            <td>
                                @Html.ActionLink("Attendance", "WageAttendanceList", "Attendance", new { WAG_Id = item.WAG_Id })
                                [ <a data-toggle="tooltip" data-placement="top" title="Total Clients" style="color:black;font-weight: 600;">@item.ActiveClients,</a>
                                <a data-toggle="tooltip" data-placement="bottom" title="Imported Clients" style="color:green;font-weight: 600;">@item.ImportedClients(),</a>
                                <a data-toggle="tooltip" data-placement="right" title="Not Imported Clients" style="color:red;font-weight: 600;">@item.NotImportedClients()</a>
                                ]
                            </td>
                           
                            <td>
                                @Html.ActionLink("Wage Register", "WageRegister", "WageRegister", new { WAG_Id = item.WAG_Id })
                                [
                                <a data-toggle="tooltip" data-placement="top" title="Total WageRegisters" style="color:black;font-weight: 600;">@item.ActiveClients,</a>
                                <a data-toggle="tooltip" data-placement="bottom" title="Saved WageRegisters" style="color:green;font-weight: 600;">@item.WageRegisterSaved(),</a>
                                <a data-toggle="tooltip" data-placement="right" title="Not Saved WageRegisters" style="color:red;font-weight: 600;">@item.WageRegisterNotSaved()</a>
                                ]
                                @if (item.WageRegisterSaved() == item.ActiveClients && item.WageRegisterNotSaved() == 0)
                                {
                                    @*<a onclick="return window.confirm('Are you sure,You want to confirm? Now onwards wage register can not be able to modify.')"
                                       href='@Url.Action("WageRegisterStatus", "WageProcess", new { WAG_Id = item.WAG_Id})' title="Confirm">
                                        <i class="fa fa-check-circle m-r-5"></i> Confirm WageRegisters
                                    </a>*@
                                    if (item.WageStatus == true)
                                    {
                                        <span class='label label-danger-border'> Wage Register Confirmed! Now can not be able to edit. </span>
                                    }
                                    else
                                    {
                                        <a class="btn btn-white btn-sm rounded" onclick="return window.confirm('Are you sure,You want to confirm? Now onwards wage register can not be able to modify.')"
                                           href='@Url.Action("WageRegisterStatus", "WageProcess", new { WAG_Id = item.WAG_Id})' title="Confirm">
                                            <i class="fa fa-dot-circle-o text-success"></i> Confirm WageRegisters
                                        </a>
                                    }
                                }
                            </td>
                            

                        </tr>
                        }

                    </tbody>
                </table>
            }
            else
            {
                <p>No Wage Process To Display</p>
            }
        </div>
    </div>
</div>