@model RMERP.DAL.ViewModel.WageProcessVM

<div class="row wage_raw">
    <div class="col-md-2">
        <h4>@Model.WAG_Full_Month()</h4>
        Total Clients: @Model.ActiveClients
    </div>
    <div class="col-md-2">
        <h6>Attendance:</h6>
        <b>@Html.ActionLink("Attendance", "WageAttendanceList", "Attendance", new { WAG_Id = Model.WAG_Id})</b>
        <div style="font-size:10px;">
            @if (Model.ImportedClients() == Model.ActiveClients)
            {
                <span class="done" style="color:green;">Attendence Imported for all clients.</span>
            }
            else
            {
                <span style="color:orangered;">@Model.NotImportedClients() client's attendence Pending to import.</span>
            }
        </div>
    </div>
    <div class="col-md-2">
        <h6>Advance:</h6>
        <ul style="font-size:10px;padding-left: 10px !important;">
            <li>@Html.ActionLink("Advance Distribution Report(" + Model.totEmpTakeAdvance + ")", "AdvanceRptForBank", "Employees", new { WAG_Month = Model.WAG_Month })</li>
            <li>@Html.ActionLink("Set installment against advance", "UpdateAdvanceEMI", "Employees", new { WAG_Month = Model.WAG_Month, WAG_Id = Model.WAG_Id })</li>
        </ul>
    </div>
    <div class="col-md-2">
        <h6>Wage Register:</h6>
        <b>@Html.ActionLink("Wage Register", "WageRegister", "WageRegister", new { WAG_Id = Model.WAG_Id, FRM_Id=Model.FRM_Id })</b>
        <div style="font-size:10px;">

            @if (Model.WageStatus == true)
            {
                <span class="done" style="color:green;font-weight:bold;">Wage Register Finalized.</span>
            }
            else
            {
                @if (Model.WageRegisterSaved() == Model.ActiveClients)
                {
                    <span style="color:green;">Wage Register for all Clients is Finalize.</span><br />
                    <a class="btn btn-primary btn-xs" onclick="return window.confirm('Are you sure, you want to finalize wage Register for this month? Now onwards wage register can not be able to modify.')"
                       href='@Url.Action("WageRegisterStatus", "WageProcess", new { WAG_Id = Model.WAG_Id})' title="Confirm">
                        Finalize Web Register
                    </a>
                }
                else
                {
                    <span style="color:orangered;">@Model.WageRegisterNotSaved() client's Wage register Pending to finalize.</span>
                }

            }
        </div>
    </div>
    <div class="col-md-4">
        <h6>Reports:</h6>

        <div class="raw">
            <div class="col-md-6">
                <ul style="font-size:10px;padding-left: 10px !important;">
                    @if (Model.WageStatus == true)
                    {
                        @*<li>@Html.ActionLink("PF Report", "PFReport", "Reports", new { WAG_Id = Model.WAG_Id })</li>*@
                        <li><a href='@Url.Action( "PFReportExcel","Reports",new { WAG_Id = Model.WAG_Id })' title="PF Report"><i class="fa fa-file-excel-o m-r-5"></i>PF Report.xlsx</a></li>
                        <li><a href='@Url.Action( "PFReportText","Reports",new { WAG_Id = Model.WAG_Id })' title="PF Report"><i class="fa fa-file-text-o m-r-5"></i>PF Report.txt</a></li>

                        <li><a href='@Url.Action( "ESICReportExcel","Reports",new { WAG_Id = Model.WAG_Id })' title="PF Report"><i class="fa fa-file-excel-o m-r-5"></i>ESIC Report.xlsx</a></li>


                    }
                    else
                    {
                        <li><i class="fa fa-file-excel-o m-r-5"></i>PF Report.xlsx</li>
                        <li><i class="fa fa-file-text-o m-r-5"></i>PF Report.txt</li>
                        <li><i class="fa fa-file-excel-o m-r-5"></i>ESIC Report.xlsx</li>
                    }


                </ul>
            </div>
            <div class="col-md-6">
                <ul style="font-size:10px;padding-left: 10px !important;">
                    @if (Model.WageStatus == true)
                    {
                        <li><a href='@Url.Action( "NEFT_BankReportExcel","Reports",new { WAG_Id = Model.WAG_Id })' title="NEFT/Bank Report"><i class="fa fa-file-excel-o m-r-5"></i>NEFT/Bank Report.xlsx</a></li>
                        <li><a href='@Url.Action( "MLWF_ContributionExcel","Reports",new { WAG_Id = Model.WAG_Id })' title="MLWF CONTRIBUTION Report"><i class="fa fa-file-excel-o m-r-5"></i>MLWF CONTRIBUTION Report.xlsx</a></li>
                        <li><a href='@Url.Action( "PayTaxExcel","Reports",new { WAG_Id = Model.WAG_Id })' title="PAY TAX Report"><i class="fa fa-file-excel-o m-r-5"></i>PAY TAX Report.xlsx</a></li>
                    }
                    else
                    {
                        <li>NEFT/Bank Report</li>
                        <li>ESIC Report</li>
                    }

                </ul>
            </div>
        </div>
    </div>
</div>

@*<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        if ($("#WageStatus").val() == false) {
            debugger;
            $("#PFReport").attr("disabled", true)
        }
    });
</script>*@