@model RMERP.DAL.ViewModel.AttendanceListViewModel
@using static RMERP.DAL.App_Code.ProjectUtils;
@{
    ViewData["Title"] = "Edit AttendanceRecord";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}

<div class="modal-dialog">
    <div class="modal-content modal-md">
        <div class="modal-header">
            <h4 class="modal-title"> @ViewData["Title"]</h4>
        </div>
        <div class="modal-body">
            <div class="m-b-30">
                @using (Html.BeginForm("EditAttendanceRecord", "WageProcess", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.attendanceVM.ATT_Id)
                    @Html.HiddenFor(m => m.attendanceVM.EMP_Id)
                    @Html.HiddenFor(m => m.attendanceVM.DES_Id)
                    @Html.HiddenFor(m => m.attendanceVM.WAG_Id)
                    @Html.HiddenFor(m => m.attendanceVM.CLI_Id)
                    @Html.HiddenFor(m => m.attendanceVM.ATT_Date)
                    @Html.HiddenFor(m => m.attendanceVM.ATT_ImportedOn)
                    
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.attendanceVM.ATT_Date, new { @class = "control-label" })
                            @*@Html.DisplayFor(m => m.attendanceVM.AttDate, new { @class = "form-control" })*@
                            @Convert.ToString(string.Format("{0:dd-MMM-yyyy}", Model.attendanceVM.ATT_Date))
                            @Html.ValidationMessageFor(m => m.attendanceVM.ATT_Date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.attendanceVM.ATT_IsEarnLeave, new { @class = "control-label" })
                            <label class="switch">
                                @Html.CheckBoxFor(m => m.attendanceVM.ATT_IsEarnLeave, (Model.attendanceVM.ATT_IsEarnLeave == true ? (object)new { type = "checkbox", @checked = (Model.attendanceVM.ATT_IsEarnLeave == true ? "checked" : "") } : new { type = "checkbox" }))
                                <span class="slider round"></span>
                            </label>
                            @Html.ValidationMessageFor(m => m.attendanceVM.ATT_IsEarnLeave, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.attendanceVM.ATT_IsPublicHoliday, new { @class = "control-label" })
                            <label class="switch">
                                @Html.CheckBoxFor(m => m.attendanceVM.ATT_IsPublicHoliday, (Model.attendanceVM.ATT_IsPublicHoliday == true ? (object)new { type = "checkbox", @checked = (Model.attendanceVM.ATT_IsPublicHoliday == true ? "checked" : "") } : new { type = "checkbox" }))
                                <span class="slider round"></span>
                            </label>
                            @Html.ValidationMessageFor(m => m.attendanceVM.ATT_IsPublicHoliday, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.attendanceVM.ATT_IsPresent, new { @class = "control-label" })
                            <label class="switch">
                                @Html.CheckBoxFor(m => m.attendanceVM.ATT_IsPresent, (Model.attendanceVM.ATT_IsPresent == true ? (object)new { type = "checkbox", @checked = (Model.attendanceVM.ATT_IsPresent == true ? "checked" : "") } : new { type = "checkbox" }))
                                <span class="slider round"></span>
                            </label>
                            @Html.ValidationMessageFor(m => m.attendanceVM.ATT_IsPresent, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.attendanceVM.ATT_IsHalfday, new { @class = "control-label" })
                            <label class="switch">
                                @Html.CheckBoxFor(m => m.attendanceVM.ATT_IsHalfday, (Model.attendanceVM.ATT_IsHalfday == true ? (object)new { type = "checkbox", @checked = (Model.attendanceVM.ATT_IsHalfday == true ? "checked" : "") } : new { type = "checkbox" }))
                                <span class="slider round"></span>
                            </label>
                            @Html.ValidationMessageFor(m => m.attendanceVM.ATT_IsHalfday, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.attendanceVM.ATT_IsWeeklyOff, new { @class = "control-label" })

                            <label class="switch">
                                @Html.CheckBoxFor(m => m.attendanceVM.ATT_IsWeeklyOff, (Model.attendanceVM.ATT_IsWeeklyOff == true ? (object)new { type = "checkbox", @checked = (Model.attendanceVM.ATT_IsWeeklyOff == true ? "checked" : "") } : new { type = "checkbox" }))
                                <span class="slider round"></span>
                            </label>
                            @Html.ValidationMessageFor(m => m.attendanceVM.ATT_IsWeeklyOff, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.attendanceVM.ATT_Shift, new { @class = "control-label" })
                            @*@Html.TextBoxFor(m => m.attendanceVM.AttShift, new { @class = "form-control" })*@
                            Choose Template :
                            <label class="radio-inline form-control">
                                @foreach (var AttendanceShift in Enum.GetValues(typeof(AttendanceShift)))
                                {
                                    <label class="radio-inline">
                                        <b>@Html.RadioButtonFor(s => s.attendanceVM.ATT_Shift, (int)AttendanceShift, (int)AttendanceShift == 1 ? (object)new { @checked = true, @id = (int)AttendanceShift } : new { @id = (int)AttendanceShift })@AttendanceShift</b>
                                    </label>
                                }
                            </label>
                            @Html.ValidationMessageFor(m => m.attendanceVM.ATT_Shift, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.attendanceVM.ATT_ExtraHoursWorked, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.attendanceVM.ATT_ExtraHoursWorked, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.attendanceVM.ATT_ExtraHoursWorked, "", new { @class = "text-danger" })
                        </div>
                    </div>



                </div>

                    <div class="m-t-20 text-center">
                        <input type="submit" name="Update" id="btnSubmit" class="btn btn-primary" />
                    </div>
                    }

                </div>
        </div>
    </div>
</div>

<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 22px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>