@model IEnumerable<RMERP.DAL.Models.Attendance>
@using RMERP.DAL.Models;
@using static RMERP.DAL.App_Code.ProjectUtils;
@{
    ViewData["Title"] = "View Attendance";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}

<div class="content container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h5>
                Client:
                @ViewBag.ClientName
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>

                <table class="table table-striped custom-table m-b-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Designation</th>
                            @{
                                int counter = 0;
                                DateTime tmpDate = ViewBag.startDate;

                                while (ViewBag.endDate >= tmpDate)
                                {
                                    counter = counter + 1;
                                    <th> @tmpDate.Day</th>
                                    tmpDate = tmpDate.AddDays(1);
                                }
                            }
                            <th>Total Working Days</th>
                            <th>Total Extra Working Hours</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            List<Employees> employees = Model.Select(m => m.EMP_).Distinct().ToList();
                        }


                        @foreach (var item in employees)
                        {

                            <tr>
                                <td>@item.EMP_FirstName</td>
                                <td>@item.EMP_Designation</td>
                                @{
                                    int counter1 = 0;
                                    DateTime tmpDate1 = ViewBag.startDate;
                                    int totWorkingDays = 0;
                                    double totExtraWorkingHours = 0;
                                    while (ViewBag.endDate >= tmpDate1)
                                    {
                                        counter1 = counter1 + 1;
                                        Attendance att = Model.Where(m => m.EMP_Id == item.EMP_Id && m.ATT_Date.Equals(tmpDate1)).FirstOrDefault();

                                        if (att != null)
                                        {

                                            <td>
                                                <div class="row">
                                                    @{
                                                        String str = "";
                                                        if (att.ATT_IsWeeklyOff)
                                                        {
                                                            str = "<span style='color:red;'>W/O</span>";
                                                        }
                                                        else
                                                        {
                                                            if (att.ATT_IsPresent)
                                                            {
                                                                str = "P";
                                                            }
                                                            else
                                                            {
                                                                str = "A";
                                                            }
                                                        }
                                                    }
                                                    <div class="col-md-12">@Html.Raw(str)</div>
                                                    <div class="col-md-12">
                                                        @{
                                                            @Html.Raw("Extra Hrs: ");
                                                            if (att.ATT_ExtraHoursWorked == 0)
                                                            {
                                                                // @:&nbsp;
                                                                @Html.Raw("-");
                                                            }
                                                            else
                                                            {
                                                                @att.ATT_ExtraHoursWorked.ToString("#.#")
                                                            }
                                                        }
                                                    </div>
                                                    <div class="col-md-12">
                                                        @{
                                                            if (att.ATT_Shift == null)
                                                            {
                                                                @:&nbsp;
                                                            }
                                                            else
                                                            {
                                                                @Html.Raw("[ ");
                                                                @att.ATT_Shift.ToString()                                                        
                                                            
                                                            @Html.Raw(" ]");
                                                        }
                                                        }
                                                    </div>
                                                    <div class="col-md-12">
                                                        <a href='@Url.Action("EditAttendanceRecord","WageProcess",new { attId=att.ATT_Id})' title="Edit"><i class="fa fa-pencil m-r-5"></i></a>
                                                    </div>

                                            </td>
                                            if (att.ATT_IsPresent == true)
                                            {
                                                totWorkingDays++;
                                            }
                                            if (att.ATT_ExtraHoursWorked > 0)
                                            {
                                                totExtraWorkingHours += att.ATT_ExtraHoursWorked;
                                            }

                                        }
                                        else
                                        {
                                            <th>
                                                -
                                            </th>
                                        }

                                        tmpDate1 = tmpDate1.AddDays(1);
                                    }

                                }

                                <td>@totWorkingDays Days</td>
                                <td>@totExtraWorkingHours Hours</td>
                                @*<td class="text-right">
                                        <div class="dropdown">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a href='@Url.Action("EditAttendance","WageProcess",new { empId=item.EmpId})' title="Edit"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
                                            </ul>
                                        </div>
                                    </td>*@
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


