@model RMERP.DAL.ViewModel.WageRegisterVM
@using RMERP.DAL.Models

@{
    ViewData["Title"] = "WageRegister";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}

@section scripts{
    <script>
        $(document).ready(function () {
            debugger;
            $("#myTab a:first").tab('show');
        });          
    </script>
}

    <ul class="nav nav-tabs" id="myTab">
        @foreach (var item in Model.listClients)
        {
            <li><a data-toggle="tab" href="#@item.CLI_Id">@item.CLI_Name</a></li>
        }
    </ul>

<div class="tab-content">
   
    @foreach (var item in Model.listClients)
    {
    <div id="@item.CLI_Id" class="tabcontent tab-pane fade">
        <h3><u>@item.CLI_Name</u></h3>
        <hr/>
        @{
            List<int> designationID = Model.listAttendance.Where(m=>m.CLI_Id.Equals(item.CLI_Id)).Select(m => m.DES_Id).Distinct().ToList();
        }
        @foreach (int desID in designationID)
        {
          
        <h4>@Model.listDesignations.Where(m => m.DES_Id.Equals(Convert.ToInt32(desID))).FirstOrDefault().DES_Title </h4>                               
        
            @if (item.Clients_Employees != null && item.Client_Requirements != null)
            {
                <table class="table table-border">
                    <thead>
                        <tr>
                            <td>Employee ID</td>
                            <td>Employee Name</td>
                            <td>Date Of Joining</td>
                            <td>Basic/(Basic+DA)</td>
                            <td>HRA(%)/HRA(Fixed)</td>
                            <td>UPKEEP ALLOW.</td>
                            <td>M/F</td>
                            <td>Pay Days</td>
                            <td>OT Hours</td>
                            <td>Gross Total</td>
                            <td>PF</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            List<Clients_Employees> lstCliEmp = item.Clients_Employees.Where(m=> m.DES_Id.Equals(desID)).OrderBy(m => m.EMP_Id).ToList();
                            List<Client_Requirements> lstCliReq = item.Client_Requirements.Where(m => m.CLI_Id == item.CLI_Id && m.DES_Id.Equals(desID)).ToList();
                        }
                        @foreach (var emp in lstCliEmp)
                        {
                            <tr>
                                @if (Model.listAttendance.Where(m => m.CLI_Id.Equals(item.CLI_Id)).Count() > 0)
                                {
                                    Client_Requirements cr = lstCliReq.Where(m => m.CLI_Id == item.CLI_Id && m.CRI_Active == true && m.DES_Id == emp.DES_Id).FirstOrDefault();
                                    int PayDays;
                                    Employees employees = new Employees();
                                    employees = Model.listEmployee.Where(m => m.EMP_Id.Equals(emp.EMP_Id)).FirstOrDefault();

                                    <td>@employees.EMP_Id.ToString("D5")</td>
                                    <td>@employees.EMP_FirstName @employees.EMP_MiddleName @employees.EMP_SurName</td>

                                    <td>@emp.CLE_RegisteredOn.ToShortDateString()</td>

                                    <td>@(Convert.ToDecimal(cr.CRI_Basic) == (0.0m) ? cr.CRI_BasicDA : (cr.CRI_Basic + Convert.ToDecimal(cr.CRI_DA)))</td>
                                    <td>@(Convert.ToString(cr.CRI_HRA_Percentage) == "" ? Convert.ToString(cr.CRI_HRA_Fixed) : Convert.ToString(cr.CRI_HRA_Percentage) + "%")</td>

                                    <td>@(Convert.ToString(cr.CRI_Allowance_UpKeep) != "" ? Convert.ToString(cr.CRI_Allowance_UpKeep) : "-")</td>
                                    <td>@(employees.EMP_Gender == true ? "M" : "F")</td>
                                    <td> @{PayDays = Model.listAttendance.Where(m => m.EMP_Id == employees.EMP_Id && m.ATT_IsPresent == true && m.CLI_Id.Equals(item.CLI_Id)).Count();} @PayDays</td>
                                    <td>@Model.listAttendance.Where(m => m.EMP_Id == employees.EMP_Id).Sum(m => m.ATT_ExtraHoursWorked)</td>
                                    <td>@(Convert.ToDecimal(cr.CRI_Basic) == (0.0m) ? cr.CRI_BasicDA : (cr.CRI_Basic + Convert.ToDecimal(cr.CRI_DA)) * PayDays)</td>
                                    <td>@(Convert.ToString(cr.CRI_PF_Percentage) == "" ? "-" : Convert.ToString(cr.CRI_PF_Percentage))</td>
                                }
                            </tr>
                        }

                    </tbody>
                </table>
            }
        }

    </div>
    }

</div>

