@model RMERP.DAL.ViewModel.WageRegisterVM
@using RMERP.DAL.Models

@{
    ViewData["Title"] = "WageRegister";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}

@section scripts{
    <script>
        $(document).ready(function () {
            $("#myTab a:first").tab('show');
        });          
    </script>
}

    <ul class="nav nav-tabs" id="myTab">
        @foreach (var client in Model.listClients)
        {
            <li><a data-toggle="tab" href="#@client.CLI_Id">@client.CLI_Name</a></li>
        }
    </ul>

    <div class="tab-content">
        @foreach (var item in Model.listClients)
        {
        <div id="@item.CLI_Id" class="tabcontent tab-pane fade">
            <h3><u>@item.CLI_Name</u></h3>
            <hr />
            @{
                List<Clients_Employees> clientsEmployees = item.Clients_Employees.ToList();
                IEnumerable<int> designationID = clientsEmployees.Select(m => m.DES_.DES_Id).Distinct();
            }

            @foreach (var desID in designationID)
            {
                Client_Requirements cr = Model.client_Requirements.Where(m => m.DES_Id.Equals(desID) && m.CLI_Id.Equals(item.CLI_Id)).First();
                List<Allowances> allowances = Model.allowances;
                <h3>@Model.listDesignations.Where(m => m.DES_Id.Equals(desID)).First().DES_Title</h3>

               
                <table class="table table-border">
                    <thead>
                        <tr>
                            <td>Employee ID</td>
                            <td>Employee Name</td>
                            <td>Date Of Joining</td>
                            <td>Pay Days</td>
                            <td>Basic+DA</td>
                            <td>HRA(%)/HRA(Fixed)</td>
                            @foreach (var all in cr.Client_Requirement_Allowances)
                            {
                                <td>@allowances.Where(m=>m.ALL_Id.Equals(all.ALL_Id)).First().ALL_Title</td>
                            }
                            <td>M/F</td>
                            <td>OT Hours</td>
                            <td>OT Amount</td>
                            <td>Gross Total</td>
                            <td>PF</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var employee in clientsEmployees.Where(m => m.DES_Id.Equals(desID)))
                        {
                        <tr>
                            <td>@employee.EMP_Id.ToString("D5")</td>
                            <td>@employee.EMP_.EMP_FirstName @employee.EMP_.EMP_MiddleName @employee.EMP_.EMP_SurName</td>
                            <td>@employee.CLE_RegisteredOn.ToShortDateString()</td>
                            @{
                                decimal basic;
                                int payDays;
                                double OThrs;
                                int DaysInMonth = DateTime.DaysInMonth(Model.WAG_Month.Year,Model.WAG_Month.Month);
                                List<Attendance> attendances = employee.EMP_.Attendance.Where(m => m.CLI_Id.Equals(item.CLI_Id)).ToList();
                            }
                            <td>@(payDays = attendances.Where(m => m.ATT_IsPresent).Count())</td>
                            <td>@(basic = Decimal.Add(cr.CRI_Basic.Value, Convert.ToDecimal(cr.CRI_DA)))</td>
                            <td>@(cr.CRI_HRA_Fixed == null ? ((basic * Convert.ToDecimal(cr.CRI_HRA_Percentage)) / 100) : cr.CRI_HRA_Fixed)</td>
                           
                            @foreach (var all in cr.Client_Requirement_Allowances)
                            {
                                <td>@all.CRA_Amount</td>

                            }
                            <td>@(employee.EMP_.EMP_Gender == true ? "M" : "F")</td>
                            <td>@(OThrs=attendances.Sum(m => m.ATT_ExtraHoursWorked))</td>
                            <td>@(Math.Round(((Convert.ToDouble(basic) / DaysInMonth) / 8)*OThrs,2))</td>
                            <td>@(payDays * basic)</td>
                            <td>@(cr.CRI_PF_Percentage == null ? 0.0 : cr.CRI_PF_Percentage)</td>
                        </tr>
                        }
                    </tbody>
                </table>
            }


        </div>
            

        }


    </div>

    