@model RMERP.DAL.ViewModel.WageRegisterViewModel
@using RMERP.DAL.Models
@using RMERP.Helpers

@{
    ViewData["Title"] = "WageRegister";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
    Allowances allowances1 = new Allowances();
}

@section scripts{
    <script>
        $(document).ready(function () {
            $("#myTab a:first").tab('show');
        });
        
    </script>
}

<style>
    .gainsboro {
        background-color: #DCDCDC;
    }

    .lightgray {
        background-color: #D3D3D3;
    }

    .silver {
        background-color: #C0C0C0;
    }

    .darkgray {
        background-color: #A9A9A9;
    }

    .gray {
        background-color: #a29e9e;
    }
</style>

@{int DaysInMonth = DateTime.DaysInMonth(Model.WAG_Month.Year, Model.WAG_Month.Month); }

<h2>@Model.WAG_Full_Month() <small>Total Days: @DaysInMonth</small></h2>

<ul class="nav nav-tabs" id="myTab">
    @foreach (var client in Model.wageRegisters.Select(m=>m.CLI_).Distinct())
    {
        <li><a data-toggle="tab" href="#@client.CLI_Id">@client.CLI_Name</a></li>
    }
</ul>

<div class="tab-content">
    @foreach (var item in Model.wageRegisters.Select(m=>m.CLI_))
    {        
    <div id="@item.CLI_Id" class="tabcontent tab-pane fade">
        <div class="well well-sm"> <h3><u>@item.CLI_Name</u></h3></div>
        <hr />
        @foreach (var desID in Model.wageRegisters.Where(m => m.CLI_Id.Equals(item.CLI_Id)).Select(m => new { m.designationID, m.DES_Title,m.DES_Id, m.CRI_ }).Distinct())
        {
            <h3>@desID.DES_Title</h3>
            <div class="table-responsive">
                <table class="table table-border">
                    <thead style="font-weight:500">
                        <tr>
                            <td class="gainsboro">ID</td>
                            <td class="gainsboro">Name</td>
                            <td class="gainsboro">M/F</td>
                            <td class="gainsboro">Date Of Joining</td>
                            <td class="lightgray">Total Days</td>
                            <td class="lightgray">Pay Days</td>
                            <td class="lightgray">Basic</td>
                            <td class="lightgray">DA</td>
                            <td class="lightgray">HRA(%)/HRA(Fixed)</td>
                            @foreach (var all in desID.CRI_.Client_Requirement_Allowances)
                            {
                                <td class="lightgray">@all.ALL_.ALL_Title.</td>
                            }
                            <td class="lightgray">OT Hours</td>
                            <td class="lightgray">OT Amount</td>
                            <td class="silver">Gross Total</td>
                            <td class="silver">PF</td>
                            <td class="silver">ESIC</td>
                            <td class="gray">Final Amount</td>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var employee in Model.wageRegisters.Where( m=>m.CLI_Id.Equals(item.CLI_Id) && m.DES_Id.Equals(desID.DES_Id)))
                        {
                        <tr>
                            <td class="gainsboro">@employee.EMP_.EMP_Id.ToString("D5")</td>
                            <td class="gainsboro">@employee.EMP_.EMP_FirstName @employee.EMP_.EMP_MiddleName @employee.EMP_.EMP_SurName</td>
                            <td class="gainsboro">@(employee.EMP_.EMP_Gender == true ? "M" : "F")</td>
                            <td class="gainsboro">@employee.clientsEmployees.Select(n=>n.CLE_RegisteredOn).First().ToShortDateString()</td>
                            <td class="lightgray">@DaysInMonth</td>
                            <td class="lightgray">@employee.payDays</td>
                            <td class="lightgray">@Math.Round(employee.WAR_Basic, 2)</td>
                            <td class="lightgray">@Math.Round(employee.WAR_DA, 2)</td>
                            <td class="lightgray">@Math.Round(employee.WAR_HRA, 2)</td>
                            @{                                
                                foreach (var all in employee.CRI_.Client_Requirement_Allowances)
                                {
                                    decimal amount = all.CRA_Amount;
                                    decimal fullAmt = Decimal.Multiply(amount, Convert.ToDecimal(employee.payDays)) / DaysInMonth;
                                    if (all.CRA_DayswiseOrFull)
                                    {
                                        <td class="lightgray">@Math.Round(amount, 2)</td>                                       
                                    }
                                    else
                                    {
                                        <td class="lightgray">@Math.Round(fullAmt, 2)</td>                                        
                                    }

                                }                                
                            }
                            <td class="lightgray">@employee.WAR_ExtraWorkingHours</td>
                            <td class="lightgray">@Math.Round(employee.OTAmt, 2)</td>
                            <td class="silver">@Math.Round(employee.WAR_GrossTotal, 2)</td>
                            <td class="silver">@Math.Round(employee.PFAmt, 2)</td>
                            <td class="silver">@Math.Round(employee.EsicAmt, 2)</td>
                            <td class="gray">@Math.Round(employee.finalAmt, 2)</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
            
        <div class="container">
            @using (Html.BeginForm("ResetWageRegister", "WageProcess"))
            {
                <input type="hidden" name="item_CLI_Id" value="@item.CLI_Id" />
                @Html.HiddenFor(m => m.WAG_Id)
                if (Model.wage_Process_Clients != null)
                {
                    <div class="alert alert-info" style="position: absolute;">
                        <h2>Web Register is finalized on  @DateHelper.getDateWithFormat(Model.wage_Process_Clients.WPC_SavedOn)</h2> <br />
                        <input type="submit" value="Reset" formaction="ResetWageRegister" class="btn btn-danger pull-right" />
                    </div>
                }
                else
                {
                    <div class="alert alert-success" style="position: absolute;">
                        <h2>Web Register is ready to finalize</h2> <br />
                        <input type="submit" value="Save" formaction="SaveWageRegister" class="btn btn-success pull-right" />
                    </div>
                }
            }
        </div>
    </div>

    }

</div>

