@model RMERP.DAL.ViewModel.CitiesVM
@{
    ViewData["Title"] = "City";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}
@section Breadcrumbs{
    <li class="breadcrumb-item">@Html.ActionLink("City", "Index", "Cities")</li>
    <li class="breadcrumb-item">City Info</li>
}
@section scripts{

    @if (TempData["message"] != null)
    {
        <script>
            $(document).ready(function () {
            alert('@TempData["message"]');
        });
        </script>
    };    
    <script src="@Url.Content("~/assets/lib/jquery-validation/dist/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}

<div class="modal-dialog">
    <div class="modal-content modal-md">
        <div class="modal-header">
            <h4 class="modal-title"> @ViewData["Title"]</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("AddEditCity", "Cities", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.HiddenFor(m => m.CITY_Id)
                    @Html.LabelFor(m => m.CITY_Name)
                    @Html.TextBoxFor(m => m.CITY_Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CITY_Name, "", new { @class = "text-danger" })
                </div>
                <div class="m-t-20 text-center">
                    <input type="submit" name="Submit City" id="btnSubmit" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>
