@model RMERP.DAL.ViewModel.EmployeeVM
@using RMERP.Helpers
@using static RMERP.DAL.Helpers.ProjectUtils;
@using Microsoft.Extensions.Configuration;

@{
    ViewData["Title"] = "Add-Edit Employee";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}

@section Breadcrumbs{
    <li class="breadcrumb-item">@Html.ActionLink("Employees", "Index", "Employees")</li>
    <li class="breadcrumb-item">Employee Info</li>
}
@section scripts{
    <script src="@Url.Content("~/assets/lib/jquery-validation/dist/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@
    <script>
        $(document).ready(function () {
            //$('.selectpicker').selectpicker({
            //    liveSearch: true,
            //    showSubtext: true
            //});

            var items = "<option value='0'>Select City</option>";
            $("#EMP_City").html(items);
            if (@Model.EMP_City != null && @Model.EMP_City!= 0) {
                GetCity(@Model.EMP_City,@Model.EMP_State);
            }

            if (@Model.EMP_Payment_Type== 0) {
                $(".divBankType").show();
            } else {
                $(".divBankType").hide();
            }

            EMP_Id = $('#EMP_Id').val();
            if (EMP_Id == 0) {
                $('.nav li').not('.active').addClass('disabled');
                $('.nav li').not('.active').find('a').removeAttr("data-toggle");
            } else {
                $('.nav li').not('.active').removeClass('disabled');
            }
            var tab = GetParameterValues('tab');
            var EMP_Id = GetParameterValues('EMP_Id');
            if (tab == "View") {
                $('select', 'form').attr('disabled', true).attr('readonly', true);
                $('input', 'form').attr('disabled', true).attr('readonly', true);
            }
            if (tab == "AddEditAdvance") {
                var CurrentActive = $('.nav li.active').find("a").attr("href");
                var NextActive = $('.nav li.active').next('li').next('li').find("a").attr("href");
                $('.nav li.active').next('li').next('li').addClass("active");
                $('.nav li.active').prev('li').removeClass("active");
                $(CurrentActive).removeClass("in active");
                $(NextActive).addClass("in active");
            }
            if (tab == "AddEditDocuments") {
                var CurrentActive = $('.nav li.active').find("a").attr("href");
                var NextActive = $('.nav li.active').next('li').find("a").attr("href");
                $('.nav li.active').next('li').addClass("active");
                $('.nav li.active').prev('li').removeClass("active");
                $(CurrentActive).removeClass("in active");
                $(NextActive).addClass("in active");
            }

        });
        function GetParameterValues(param) {
            var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < url.length; i++) {
                var urlparam = url[i].split('=');
                if (urlparam[0] == param) {
                    return urlparam[1];
                }
            }
        };

        function PAYMENT_TYPE(payment) {
            if (payment.value == "0") { //Bank Account
                $(".divBankType").show();
            } else {
                $(".divBankType").hide();
            }
        };
        function PAYMENT_BANK_TYPE(bankType) {
            if (bankType.value == "0") { //IDBI BANK  Account
                $("#EMP_Bank").val("IDBI BANK");
                $("#EMP_Bank").prop("disabled", true);
            } else {
                $("#EMP_Bank").val("");
                $("#EMP_Bank").prop("disabled", false);
            }
        };
        $("#EMP_State").change(function () {
            
            var items = "<option value='0'>Select City</option>";
            $("#EMP_City").html(items);
            GetCity();
        });

        function GetCity(EMP_City, EMP_State) {
                        if (EMP_City != 0 && EMP_City != undefined) {
                if (@Model.EMP_City != 0) {
                    var EMP_City =@Model.EMP_City;
                } else {
                    var EMP_City = $("#EMP_City").val();
                }
                if (@Model.EMP_State != 0) {
                    var STA_Id =@Model.EMP_State;
                } else {
                    var STA_Id = $("#EMP_State").val();
                }
            } else if (EMP_State == undefined) {
                var STA_Id = $("#EMP_State").val();
            }

            var url = "/Employees/GetCity";

            $.getJSON(url, { STA_Id: STA_Id }, function (data) {
                var item = "";
                $("#EMP_City").empty();
                $.each(data, function (i, city) {
                    var select = "";
                    if (EMP_City == city.value) {
                        select = "selected='selected'";
                    }
                    item += "<option " + select + " value='" + city.value + "'>" + city.text + "</option>";
                });
                $("#EMP_City").html(item);
            });
        };

    </script>
    @if (TempData["message"] != null)
    {
        <script>
            $(document).ready(function () {
            alert('@TempData["message"]');
        });
        </script>
    };

}

<h3>@Model.EMP_FullName</h3>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#AddEditEmployee">Edit data</a></li>
    <li><a data-toggle="tab" href="#EmployeeDocuments">Employee Documents</a></li>
    <li><a data-toggle="tab" href="#EmployeeAdvance">Employee Advance</a></li>
    <li><a data-toggle="tab" href="#PaymentInfo">Payment Information</a></li>
</ul>

<div class="tab-content">
    <div id="AddEditEmployee" class="tab-pane fade in active">
        <div class="modal-dialog modelLeftSide">
            <div class="modal-content modal-lg">
                @*<div class="modal-header">

                    </div>*@
                <div class="modal-body">
                    <div class="m-b-30">
                        @using (Html.BeginForm("AddEditEmployees", "Employees", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(m => m.EMP_Id)
                            @Html.HiddenFor(m => m.EMP_IsActive)
                            @Html.HiddenFor(m => m.EMP_Payment_Type)
                            @Html.HiddenFor(m => m.EMP_Is_IDBI_Other)
                            @Html.HiddenFor(m => m.EMP_Account_Name)
                            @Html.HiddenFor(m => m.EMP_Account_Number)
                            @Html.HiddenFor(m => m.EMP_Bank)
                            @Html.HiddenFor(m => m.EMP_Bank_IFSC)
                            @Html.HiddenFor(m => m.EMP_Branch)
                            <p class="div-title">Firm</p>
                            <br /> SessionUtils sessionUtils = new SessionUtils(this.Context.Request, this.Context.Response);
                            <div class="row pb-3">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.FRM_Id, new { @class = "control-label" })
                                        @if (sessionUtils.GetLoggedFirmID().HasValue)
                                        {
                                            @Html.HiddenFor(m => m.FRM_Id)
                                            @Html.DropDownListFor(m => m.FRM_Id, new SelectList(ViewBag.firmList, "FRM_Id", "FRM_Name"), "Select Firm", new { @class = "form-control", @disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(m => m.FRM_Id, new SelectList(ViewBag.firmList, "FRM_Id", "FRM_Name"), "Select Firm", new { @class = "form-control" })
                                        }
                                        @Html.ValidationMessageFor(m => m.FRM_Id, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                            </div>
                            <p class="div-title">Employee Details</p>
                            <br />

                            <div class="row pb-3">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_FirstName, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.EMP_FirstName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EMP_FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_MiddleName, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.EMP_MiddleName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EMP_MiddleName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_SurName, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.EMP_SurName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EMP_SurName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_DOB, new { @class = "control-label" })
                                        @Html.EditorFor(m => m.EMP_DOB, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.EMP_DOB, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_Married, new { @class = "control-label" })
                                        <label class="radio-inline form-control ">
                                            @foreach (var MaritalStatus in Enum.GetValues(typeof(MaritalStatus)))
                                            {
                                                <label class="radio-inline">
                                                    @Html.RadioButtonFor(s => s.EMP_Married, (int)MaritalStatus, (int)MaritalStatus == 0 ? (object)new { @checked = true, @id = (int)MaritalStatus } : new { @id = (int)MaritalStatus })@MaritalStatus
                                                </label>
                                            }
                                        </label>
                                        @Html.ValidationMessageFor(x => x.EMP_Married, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_DateOfJoining, new { @class = "control-label" })
                                        @Html.EditorFor(m => m.EMP_DateOfJoining, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.EMP_DateOfJoining, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_Gender, new { @class = "control-label" })
                                        <label class="radio-inline form-control ">
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(m => m.EMP_Gender, true, new { @checked = "checked" }) Male
                                            </label>
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(m => m.EMP_Gender, false) Female
                                            </label>

                                        </label>
                                        @Html.ValidationMessageFor(x => x.EMP_Gender, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_Contact_Primary, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.EMP_Contact_Primary, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EMP_Contact_Primary, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_Contact_Secondry, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.EMP_Contact_Secondry, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EMP_Contact_Secondry, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_Designation, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.EMP_Designation, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EMP_Designation, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_Address, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.EMP_Address, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EMP_Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_State, new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.EMP_State, new SelectList(ViewBag.States, "STA_Id", "STA_Name"), "Select State", new { @class = "form-control" })
                                        @*@Html.DropDownListFor(x => x.EMP_State, new SelectList(ViewBag.States, "STA_Id", "STA_Name"), "Select State", new { @class = "form-control selectpicker" ,
                                                data_show_subtext = "true",
                                                data_live_search = "true"
                                            })*@
                                        @Html.ValidationMessageFor(m => m.EMP_State, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_City, new { @class = "control-label" })
                                        @*@Html.DropDownListFor(m => m.EMP_City, new SelectList(ViewBag.Cities, "CITY_Id", "CITY_Name"), "Select City", new { @class = "form-control" })*@
                                        <select class="form-control" id="EMP_City" name="EMP_City"></select>
                                        @Html.ValidationMessageFor(m => m.EMP_City, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <p class="div-title">Legal Details</p>
                            <br />
                            <div class="row pb-3">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_Aadhar_Name, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.EMP_Aadhar_Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EMP_Aadhar_Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_Aadhar_Number, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.EMP_Aadhar_Number, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EMP_Aadhar_Number, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_Pan_Number, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.EMP_Pan_Number, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EMP_Pan_Number, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_ESIC_Number, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.EMP_ESIC_Number, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EMP_ESIC_Number, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_ESIC_Remark, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.EMP_ESIC_Remark, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EMP_ESIC_Remark, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_UAN_Number, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.EMP_UAN_Number, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EMP_UAN_Number, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_UAN_Remark, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.EMP_UAN_Remark, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EMP_UAN_Remark, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="m-t-20 text-center">
                                <input type="submit" name="Save" id="btnSubmit" class="btn btn-primary" />
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="EmployeeDocuments" class="tab-pane fade">
        <div>
            <div class="content container-fluid">
                <div class="row" style="margin-bottom: 20px;margin-left: 2px;">
                    <div class="col-md-6" style="border: 1px solid #aaa; padding: 10px;">
                        @using (Html.BeginForm("AddEmployeeDocuments", "Employees", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.HiddenFor(m => m.employee_Document.EMD_Id)
                            @Html.HiddenFor(m => m.EMP_Id)

                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <div class="col-md-3">Select File:</div>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.employee_Document.EMD_Document, new { @type = "file", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.employee_Document.EMD_Document, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <div class="col-md-3">Choose Type:</div>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.employee_Document.DOT_Id, new SelectList(ViewBag.DocumentTypes, "DOT_Id", "DOT_Title"), "Select Type", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.employee_Document.DOT_Id, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 m-t-20 text-right">
                                    <input class="btn btn-primary" type="submit" value="Upload Document" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table m-b-0">
                                <thead>
                                    <tr>
                                        <th>Document Type</th>
                                        <th>Title</th>
                                        <th>Download</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.employee_Documents != null && Model.employee_Documents.Count() > 0)
                                    {
                                        @inject IConfiguration _configuration;
                                        string DocumentPath = _configuration.GetSection("DEFAULT_URL").Value + "/" + _configuration.GetSection("EMPLOYEE_DOCUMENT_PATH").Value;

                                        @foreach (var item in Model.employee_Documents)
                                        {
                                            string path = DocumentPath + "/" + item.EMD_Id + "/" + item.EMD_Name;
                                            <tr>
                                                <td>@item.DOT_.DOT_Title</td>
                                                <td>@item.EMD_Name </td>
                                                <td><a href='@Url.Action("DownloadDocument","Employees",new { EMD_Id=item.EMD_Id})' title="Download"><i class="fa fa-download m-r-5"></i> Download</a></td>
                                                <td><a href='@Url.Action("DeleteDocument","Employees",new { EMD_Id=item.EMD_Id})' title="Delete" onclick="return confirm('Are you sure?');"><i class="fa fa-trash m-r-5"></i> Delete</a></td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="EmployeeAdvance" class="tab-pane fade">
        <div>
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-sm-8">

                    </div>
                    <div class="col-sm-4 text-right m-b-30">
                        <a class="btn btn-primary rounded" href="@Url.Action("AddEditAdvance","Employees", new { EMP_Id = Model.EMP_Id})"><i class="fa fa-plus"></i> Add New Advance</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table m-b-0">
                                <thead>
                                    <tr>
                                        <th>Amount Taken</th>
                                        <th>On</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.advances != null && Model.advances.Count() > 0)
                                    {
                                        @foreach (var item in Model.advances)
                                        {
                                            <tr>
                                                <td>@item.ADV_Amount </td>
                                                <td>@DateHelper.getDateWithFormat(@item.ADV_RegisteredOn) </td>

                                                @if (item.ADV_Status == true)
                                                {
                                                    <td>
                                                        <span class="text-success">Closed on @item.Wage_Process_Closed_On.WAG_Month.ToString("MMM-yyyy")</span>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <a href='@Url.Action("AddEditAdvance","Employees",new { ADV_Id=item.ADV_Id, EMP_Id = Model.EMP_Id})' title="Edit"><i class="fa fa-pencil m-r-5"></i> Edit Amount</a> |
                                                        <a href='@Url.Action("DeleteAdvance","Employees",new { ADV_Id=item.ADV_Id, EMP_Id = Model.EMP_Id})' title="Delete" onclick="return confirm('Are you sure?');"><i class="fa fa-trash m-r-5"></i> Remove</a>
                                                    </td>
                                                }



                                            </tr>
                                        }
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="PaymentInfo" class="tab-pane fade">
        <div class="modal-dialog modelLeftSide">
            <div class="modal-content modal-lg">
                <div class="modal-body">
                    <div class="m-b-30">
                        @using (Html.BeginForm("AddEditEmployeesPaymentInfo", "Employees", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(m => m.EMP_Id)
                            <p class="div-title">Payment Type</p>
                            <br />
                            <div class="row col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.EMP_Payment_Type, new { @class = "control-label" })
                                    <label class="radio-inline form-control ">
                                        @foreach (var PAYMENT_TYPE in Enum.GetValues(typeof(PAYMENT_TYPE)).Cast<PAYMENT_TYPE>())
                                        {
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(s => s.EMP_Payment_Type, (int)PAYMENT_TYPE, (int)PAYMENT_TYPE == 0 ? (object)new { @checked = true, @id = (int)PAYMENT_TYPE, onclick = "PAYMENT_TYPE(this)" } : new { @id = (int)PAYMENT_TYPE, onclick = "PAYMENT_TYPE(this)" })@GetStringValue(PAYMENT_TYPE)
                                            </label>
                                        }
                                    </label>
                                    @Html.ValidationMessageFor(x => x.EMP_Payment_Type, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row divBankType">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_Is_IDBI_Other, new { @class = "control-label" })
                                        <label class="radio-inline form-control ">
                                            @foreach (var PAYMENT_BANK_TYPE in Enum.GetValues(typeof(PAYMENT_BANK_TYPE)).Cast<PAYMENT_BANK_TYPE>())
                                            {
                                                <label class="radio-inline">
                                                    @Html.RadioButtonFor(s => s.EMP_Is_IDBI_Other, (int)PAYMENT_BANK_TYPE, (int)PAYMENT_BANK_TYPE == 0 ? (object)new { @checked = true, @id = (int)PAYMENT_BANK_TYPE, onclick = "PAYMENT_BANK_TYPE(this)" } : new { @id = (int)PAYMENT_BANK_TYPE, onclick = "PAYMENT_BANK_TYPE(this)" })@GetStringValue(PAYMENT_BANK_TYPE)
                                                </label>
                                            }
                                        </label>
                                        @Html.ValidationMessageFor(x => x.EMP_Is_IDBI_Other, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_Account_Name, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.EMP_Account_Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EMP_Account_Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_Account_Number, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.EMP_Account_Number, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EMP_Account_Number, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_Bank, new { @class = "control-label" })
                                        @if (Model.EMP_Bank == "IDBI BANK" || Model.EMP_Bank == "IDBI BANK LTD")
                                        {
                                            @Html.TextBoxFor(m => m.EMP_Bank, new { @class = "form-control", disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(m => m.EMP_Bank, new { @class = "form-control" })
                                        }
                                        @Html.ValidationMessageFor(m => m.EMP_Bank, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_Branch, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.EMP_Branch, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EMP_Branch, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EMP_Bank_IFSC, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.EMP_Bank_IFSC, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EMP_Bank_IFSC, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>

                            <div class="m-t-20 text-center">
                                <input type="submit" name="Save" id="btnSubmit" class="btn btn-primary" />
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
