@model Tuple<IEnumerable<RMERP.DAL.ViewModel.EmployeeVM>, int>
@using RMERP.Helpers;
@using RMERP.DAL.Helpers;
@using RMERP.DAL.ViewModel;

@{
    ViewData["Title"] = "Employees";
}
@section Breadcrumbs{
    <li class="breadcrumb-item">Employees</li>
}
@section scripts{
    @if (TempData["message"] != null)
    {
    <script>
            $(document).ready(function () {
            alert('@TempData["message"]');
        });
    </script>
    };
    <script>

        $.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                a=a.slice(0, 11);
                var ukDatea = a.split('-');
                var months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"];
                var monthNo = months.indexOf(ukDatea[1].toLowerCase()) + 1;
                return (ukDatea[2] + monthNo + ukDatea[0]);
            }
    });
    $(document).ready(function () {
            $('.tblEmp').dataTable({
                "paging": true,
                columnDefs: [
                    { orderable: true,targets: [1]},
                    {
                        targets: [3,5],
                        orderable: true,
                        type: 'date-uk'
                    },
                ],

            });

        });

        $(document).on("click", ".empModal", function () {
            var EMP_Id = $(this).data('id');
            $(".modal-body #EMP_Id").val(EMP_Id);
        });
        $(document).on("click", ".empRejoinModal", function () {
            var EMP_Id = $(this).data('id');
            $(".modal-body #EMP_Id").val(EMP_Id);
        });


    function onConfirmClick(EMP_Id, IsAssigned) {

        if (IsAssigned=="False") {

            bootbox.prompt({
                title: "Choose Date!",
                inputType: 'date',

                callback: function (result) {
                    if (result != null) {
                        $.ajax({
                            type: "POST",
                            url: "/Employees/ActiveEmployee?EMP_Id=" + EMP_Id + "&date=" + result,
                            contentType: 'application/json; charset=utf-8',
                            datatype: 'json',
                            type: "GET",
                            success: function () {
                                window.location = '@Url.Action("Index", "Employees")';
                            }

                        })
                    }
                    else if (result == null) {
                    }
                }
            });
        } else {
            alert("We can't delete this, Because it is active in some client.");
        }
        }
    </script>
}
<style>
    .modal-dialog {
        transform: translate(0, -50%);
        top: 30%;
        margin: 0 auto;
    }
</style>

<div class="content container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
        <div class="col-sm-4 text-right">
            <a class="btn btn-primary rounded" href="@Url.Action("AddEditEmployee","Employees")"><i class="fa fa-plus"></i> Add New Employee</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
        </div>
        <div class="col-sm-2 text-right m-b-10">
            <i class="fa fa-hand-o-right" aria-hidden="true"></i>
            <a class="text-right btn-link" data-toggle="collapse" href="#collapseAdvanceSearch" role="button" aria-expanded="false" aria-controls="AdvanceSearch">Advance Search</a>
        </div>
    </div>
    <div class="row collapse" id="collapseAdvanceSearch">
        <div class="col-md-8">
        </div>
        <div class="col-md-4 well">
            @using (Html.BeginForm("SearchEmployee", "Employees", FormMethod.Post))
                {
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @if (Model.Item2 > 0)
                            {
                        @Html.Hidden("FRM_Id", Model.Item2)
                        @Html.DropDownList("FRM_Id", new SelectList(ViewBag.FirmList, "FRM_Id", "FRM_Name", Model.Item2), "Select Firm", new { @class = "form-control", disabled = "disabled" })
                            }
                            else
                            {
                        @Html.DropDownList("FRM_Id", new SelectList(ViewBag.FirmList, "FRM_Id", "FRM_Name"), "Select Firm", new { @class = "form-control" })
                            }
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.CheckBox("EMP_UAN_Number", false)Employee without UAN Number
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.CheckBox("EMP_ESIC_Number", false)Employee without ESIC Number
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Label("Aadhar Number")
                        @Html.TextBox("EMP_Aadhar_Number","", new { @class = "form-control" })
                    </div>
                </div>

            </div>
            <div class="m-t-20 text-center">
                <input type="submit" id="submit" class="btn btn-primary" value="Search" />
            </div>
                }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @{
                    IEnumerable<EmployeeVM> ActiveEmps = Model.Item1.Where(m => m.EMP_IsActive);
                    IEnumerable<EmployeeVM> LeftEmps = Model.Item1.Where(m => m.EMP_IsActive==false);
            }
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#working">Working Employees</a></li>
                <li><a data-toggle="tab" href="#left">Left Employees</a></li>
            </ul>

            <div class="tab-content">
                <div id="working" class="tab-pane fade in active">
                    @if (ActiveEmps.Count() > 0)
                        {
                    <div>
                        <table class="table table-striped custom-table tblEmp">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>DOB</th>
                                    <th>Designation</th>
                                    <th>Joining date</th>
                                    <th>M/F</th>
                                    <th>Mobile</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ActiveEmps)
                                        {
                                            var style = "";
                                            var lable = "Employee Left";
                                            if (item.EMP_IsActive.Equals(false))
                                            {
                                                style = "style=color:orangered;";
                                                lable = "Employee left";
                                            }
                                <tr @style>
                                    <td>@item.FRM_.FRM_ShortName</td>
                                    <td>@item.EMP_Id.ToString("D5")</td>
                                    <td>@item.EMP_FullName</td>
                                    <td>@DateHelper.getLongDateFormat(@item.EMP_DOB)</td>
                                    <td>@item.EMP_Designation</td>
                                    <td>

                                        @DateHelper.getLongDateFormat(@item.EMP_DateOfJoining)
                                        @*@item.EMP_DateOfJoining*@
                                        @if (item.EMP_IsActive.Equals(false))
                                                    {
                                        <div style="font-size:10px;">left on @(item.EMP_InactivatedOn.HasValue ? DateHelper.getLongDateFormat(item.EMP_InactivatedOn.Value) : "") (@ProjectUtils.GetStringValue((ProjectUtils.EMPLOYEE_LEFT_REASON_CODE)item.EMP_ReasonCode))</div>
                                                    }
                                                    else if (item.EMP_RejoinOn != null)
                                                    {
                                        <div style="font-size:10px;color:green">Rejoin on @(item.EMP_RejoinOn.HasValue ? DateHelper.getLongDateFormat(item.EMP_RejoinOn.Value) : "")</div>
                                                    }

                                    </td>
                                    <td>@item.EMP_MoF</td>
                                    <td>@item.EMP_Contact_Primary</td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a href='@Url.Action("AddEditEmployee","Employees",new { EMP_Id=item.EMP_Id})' title="Edit"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
                                                @if (!item.EMP_IsActive)
                                                {
                                                <li><a class="empRejoinModal" style="cursor:pointer" title="Employee Rejoin" data-id="@item.EMP_Id" data-toggle="modal" data-target="#empRejoinModal"><i class="fa fa-plus-square-o m-r-5"></i>Employee Rejoin</a></li>
                                                }
                                                else
                                                {
                                                <li><a class="empModal" style="cursor:pointer" title="Employee Left" data-id="@item.EMP_Id" data-toggle="modal" data-target="#empModal"><i class="fa fa-trash-o m-r-5"></i>Employee Left</a></li>
                                                }

                                                <li><a href='@Url.Action("AddEditEmployee","Employees",new { EMP_Id=item.EMP_Id, tab="View"})' title="Edit"><i class="fa fa-eye m-r-5"></i> View</a></li>
                                                @*<li><a href='@Url.Action("EmployeeHistory","Employees",new { EMP_Id=item.EMP_Id})' title="History"><i class="fa fa-history m-r-5"></i> History</a></li>*@

                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                        }

                            </tbody>
                        </table>
                    </div>
                        }
                        else
                        {
                    <P>No Employees registered.</P>
                        }
                </div>
                <div id="left" class="tab-pane fade">
                    @if (LeftEmps.Count() > 0)
                        {
                    <div>
                        <table class="table table-striped custom-table tblEmp">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>DOB</th>
                                    <th>Designation</th>
                                    <th>Joining date</th>
                                    <th>M/F</th>
                                    <th>Mobile</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in LeftEmps)
                                        {
                                            var style = "";
                                            var lable = "Employee Left";
                                            if (item.EMP_IsActive.Equals(false))
                                            {
                                                style = "style=color:orangered;";
                                                lable = "Employee left";
                                            }
                                <tr @style>
                                    <td>@item.FRM_.FRM_ShortName</td>
                                    <td>@item.EMP_Id.ToString("D5")</td>
                                    <td>@item.EMP_FullName</td>
                                    <td>@DateHelper.getLongDateFormat(@item.EMP_DOB)</td>
                                    <td>@item.EMP_Designation</td>
                                    <td>

                                        @DateHelper.getLongDateFormat(@item.EMP_DateOfJoining)
                                        @*@item.EMP_DateOfJoining*@
                                        @if (item.EMP_IsActive.Equals(false))
                                                    {
                                        <div style="font-size:10px;">left on @(item.EMP_InactivatedOn.HasValue ? DateHelper.getLongDateFormat(item.EMP_InactivatedOn.Value) : "") (@ProjectUtils.GetStringValue((ProjectUtils.EMPLOYEE_LEFT_REASON_CODE)item.EMP_ReasonCode))</div>
                                                    }
                                                    else if (item.EMP_RejoinOn != null)
                                                    {
                                        <div style="font-size:10px;color:green">Rejoin on @(item.EMP_RejoinOn.HasValue ? DateHelper.getLongDateFormat(item.EMP_RejoinOn.Value) : "")</div>
                                                    }

                                    </td>
                                    <td>@item.EMP_MoF</td>
                                    <td>@item.EMP_Contact_Primary</td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a href='@Url.Action("AddEditEmployee","Employees",new { EMP_Id=item.EMP_Id})' title="Edit"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
                                                @if (!item.EMP_IsActive)
                                                            {
                                                <li><a class="empRejoinModal" style="cursor:pointer" title="Employee Rejoin" data-id="@item.EMP_Id" data-toggle="modal" data-target="#empRejoinModal"><i class="fa fa-plus-square-o m-r-5"></i>Employee Rejoin</a></li>
                                                            }
                                                            else
                                                            {
                                                <li><a class="empModal" style="cursor:pointer" title="Employee Left" data-id="@item.EMP_Id" data-toggle="modal" data-target="#empModal"><i class="fa fa-trash-o m-r-5"></i>Employee Left</a></li>
                                                            }

                                                <li><a href='@Url.Action("AddEditEmployee","Employees",new { EMP_Id=item.EMP_Id, tab="View"})' title="Edit"><i class="fa fa-eye m-r-5"></i> View</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                        }

                            </tbody>
                        </table>
                    </div>
                        }
                        else
                        {
                    <P>No Employees registered.</P>
                        }
                </div>

            </div>


        </div>
    </div>
</div>

<div id="empModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Employee Left</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("LeftEmployee", "Employees", FormMethod.Post))
                {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" name="EMP_Id" id="EMP_Id" value="" />
                <div class="form-group">
                    @Html.Label("Choose Date")
                    @Html.TextBox("EMP_Left_Date", "", new { @class = "form-control", @type = "date" })
                    @Html.ValidationMessage("EMP_Left_Date", "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Choose Reason")
                    @Html.DropDownList("EMP_Reason_Code", new SelectList(ViewBag.Reason_Code, "Value", "Text"), "Select Reason", new { @class = "form-control" })
                    @Html.ValidationMessage("EMP_Reason_Code", "", new { @class = "text-danger" })
                </div>

                <div class="m-t-20 text-center">
                    <input type="submit" name="Submit" id="btnSubmit" class="btn btn-primary" />
                </div>
                }
            </div>
        </div>

    </div>
</div>

<div id="empRejoinModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Employee Rejoin</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("RejoinEmployee", "Employees", FormMethod.Post))
                {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" name="EMP_Id" id="EMP_Id" value="" />
                <div class="form-group">
                    @Html.Label("Choose Rejoin Date")
                    @Html.TextBox("EMP_Rejoin_Date", "", new { @class = "form-control", @type = "date" })
                    @Html.ValidationMessage("EMP_Rejoin_Date", "", new { @class = "text-danger" })
                </div>

                <div class="m-t-20 text-center">
                    <input type="submit" name="Submit" id="btnSubmit" class="btn btn-primary" />
                </div>
                }
            </div>
        </div>

    </div>
</div>