@model Tuple<IEnumerable<RMERP.DAL.ViewModel.EmployeeVM>, int>
@using RMERP.Helpers
@{
    ViewData["Title"] = "Employees";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}

@section scripts{
    @if (TempData["message"] != null)
    {
        <script>
            $(document).ready(function () {
            alert('@TempData["message"]');
        });
        </script>
    };

}
<style>
    .modal-dialog {
        transform: translate(0, -50%);
        top: 30%;
        margin: 0 auto;
    }
</style>
<div>
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">@ViewData["Title"]</h4>
            </div>
            <div class="col-sm-4 text-right">
                <a class="btn btn-primary rounded" href="@Url.Action("AddEditEmployee","Employees")"><i class="fa fa-plus"></i> Add New Employee</a>
            </div>           
        </div>
        <div class="row">
            <div class="col-sm-10">               
            </div>
            <div class="col-sm-2 text-right m-b-10">
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                <a class="text-right btn-link" data-toggle="collapse" href="#collapseAdvanceSearch" role="button" aria-expanded="false" aria-controls="AdvanceSearch">Advance Search</a>
            </div>           
        </div>
        <div class="row collapse" id="collapseAdvanceSearch">
            <div class="col-md-8">
            </div>
            <div class="col-md-4 well">
                @using (Html.BeginForm("SearchEmployee", "Employees", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @if (Model.Item2 > 0)
                                {
                                    @Html.Hidden("FRM_Id", Model.Item2)
                                    @Html.DropDownList("FRM_Id", new SelectList(ViewBag.FirmList, "FRM_Id", "FRM_Name", Model.Item2), "Select Firm", new { @class = "form-control", disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.DropDownList("FRM_Id", new SelectList(ViewBag.FirmList, "FRM_Id", "FRM_Name"), "Select Firm", new { @class = "form-control" })
                                }
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.CheckBox("EMP_UAN_Number", false)Employee without UAN Number
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.CheckBox("EMP_ESIC_Number", false)Employee without ESIC Number
                            </div>
                        </div>

                    </div>
                    <div class="m-t-20 text-center">
                        <input type="submit" id="submit" class="btn btn-primary" value="Search" />
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @if (Model.Item1.Count() > 0)
                {
                    <div>
                        <table class="table table-striped custom-table datatable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>DOB</th>
                                    <th>Designation</th>
                                    <th>Joining date</th>
                                    <th>M/F</th>
                                    <th>Mobile</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Item1)
                                {
                                    var style = "";
                                    var lable = "Employee Left";
                                    if (item.EMP_IsActive.Equals(false))
                                    {
                                        style = "style=color:orangered;";
                                        lable = "Employee left";
                                    }
                                    <tr @style>
                                        <td>@item.FRM_.FRM_ShortName</td>
                                        <td>@item.EMP_FullName</td>
                                        <td>@DateHelper.getDateWithFormat(@item.EMP_DOB)</td>
                                        <td>@item.EMP_Designation</td>
                                        <td>
                                            @DateHelper.getDateWithFormat(@item.EMP_DateOfJoining)
                                            @if (item.EMP_IsActive.Equals(false))
                                            {
                                                <div style="font-size:10px;">left on @(item.EMP_InactivatedOn.HasValue ? DateHelper.getDateWithFormat(item.EMP_InactivatedOn.Value) : "")</div>
                                            }
                                        </td>
                                        <td>@item.EMP_MoF</td>
                                        <td>@item.EMP_Contact_Primary</td>
                                        <td class="text-right">
                                            <div class="dropdown">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href='@Url.Action("AddEditEmployee","Employees",new { EMP_Id=item.EMP_Id})' title="Edit"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
                                                    <li>
                                                        <a href='#' title="Employee Left" onclick="onConfirmClick(@item.EMP_Id,'@item.IsAssigned')">
                                                            <i class="fa fa-trash-o m-r-5"></i>
                                                            @lable
                                                        </a>
                                                    </li>
                                                    <li><a href='@Url.Action("AddEditEmployee","Employees",new { EMP_Id=item.EMP_Id, tab="View"})' title="Edit"><i class="fa fa-eye m-r-5"></i> View</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <P>No Employees registered.</P>
                }

            </div>
        </div>
    </div>
</div>

<script>
    function onConfirmClick(EMP_Id, IsAssigned) {
        debugger;
        if (IsAssigned=="False") {

            bootbox.prompt({
                title: "Choose Date!",
                inputType: 'date',

                callback: function (result) {
                    debugger;
                    if (result != null) {
                        $.ajax({
                            type: "POST",
                            url: "/Employees/ActiveEmployee?EMP_Id=" + EMP_Id + "&date=" + result,
                            contentType: 'application/json; charset=utf-8',
                            datatype: 'json',
                            type: "GET",
                            success: function () {
                                window.location = '@Url.Action("Index", "Employees")';
                            }

                        })
                    }
                    else if (result == null) {
                    }
                }
            });
        } else {
            alert("We can't delete this, Because it is active in some client.");
        }
        }
</script>