@model IEnumerable<RMERP.DAL.ViewModel.EmployeeAdvanceVM>
@using RMERP.DAL.ViewModel
@{
    ViewData["Title"] = "Advance list which is not completed";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}

@section scripts{
    @if (TempData["message"] != null)
    {
        <script>
            $(document).ready(function () {
                alert('@TempData["message"]');
            });
            
        </script>
    };
    <script>
        function RemainigAmt(advance, id) {
            debugger;
            if ($("#Amount" + id).val() > $("#amt_" + id).html()) {
                $("#Amount" + id).val(0);
                alert("Your Amount Must Be Less Than Remaining Amount");
            } else {
                var EMIamt = $("#Amount" + id).val();
                var RemaimigAmt = (advance - parseInt(EMIamt));
                $("#amt_" + id).html(RemaimigAmt);
            }
           
        }
    </script>
}
<style>
    .modal-dialog {
        transform: translate(0, -50%);
        top: 30%;
        margin: 0 auto;
    }
</style>
<div>
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">@ViewBag.WAG_Month</h4>
            </div>
            <div class="col-sm-4 text-right m-b-30">
                @*<a class="btn btn-primary rounded" href="@Url.Action("AddEditDesignation","Designations")"><i class="fa fa-plus"></i> Register New Designation</a>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <table class="table table-striped custom-table datatable">
                        <thead>
                            <tr>
                                <th>Employee</th>
                                <th>Total Advance</th>
                                <th>Amount</th>
                                <th>Remaining Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GroupBy(x => x.EMP_Id).Select(g => new
                            {
                                EmployeeName=g.Select(n=>n.EmployeeName).First(),
                                Emp_ID = g.Key,
                                ADV_Amount = g.Sum(x => x.ADV_Amount)
                            }))
                            {
                            <tr>
                                <td><b>@item.EmployeeName</b></td>
                                @{var formated = String.Format("{0:00}", item.ADV_Amount);}
                                <td><b>@item.ADV_Amount</b></td>
                                <td>
                                    @*@Html.TextBox("Amount" + item.Emp_ID, "", new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.TextBoxFor(m=>item.ADV_Amount, new { @class = "form-control",id= "Amount" + item.Emp_ID })
                                    <input type="button" onclick="RemainigAmt(@item.ADV_Amount,@item.Emp_ID)" name="Add" value="Add" class="btn btn-success btn-xs" />
                                </td>
                                <td id="amt_@item.Emp_ID">@Html.DisplayFor(m => item.ADV_Amount, new { @id = "Remaining" + item.Emp_ID })</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

