@model RMERP.DAL.ViewModel.UpdateAdvancesVM
@{
    ViewData["Title"] = "UpdateAdvanceEMI";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}
@section Breadcrumbs{
    <li class="breadcrumb-item">@Html.ActionLink("Wage Process", "Index", "WageProcess", new { FRM_Id = Model.FRM_Id })</li>
    <li class="breadcrumb-item">Advance EMI</li>
}

<div>
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-8">
                @{
                    var WAG_Month = Model.WAG_.WAG_Month.ToString("MMMM") + "-" + Model.WAG_.WAG_Month.ToString("yyyy");
                }
                <h4 class="page-title">@Model.FRM_Name (@WAG_Month)</h4>
            </div>
            <div class="col-sm-4 text-right m-b-30">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <table class="table table-striped custom-table">
                        <thead>
                            <tr>                               
                                <th>Employee</th>
                                <th>Total advance till @WAG_Month</th>
                                <th>Remaining amount till @WAG_Month</th>
                                <th>Amount</th>
                                <th></th>
                                <th></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.AdvanceVMs)
                            {

                                bool disabl = item.WAD_Is_LoanCompleted;
                                if (item.WAD_Status)
                                {
                                    disabl = true;
                                }
                                if (Model.WAG_.WAG_Status)
                                {
                                    disabl = true;
                                }

                                @Html.HiddenFor(m => item.WAD_Id, new { @id = "WAD_Id_" + @item.EMP_Id })

                            <tr>
                                <td> <b>@item.EMP_Name</b></td>
                                <td><b>@item.Total_Advance</b></td>
                                @{
                                    var RemaimngAmt = item.Total_Advance - item.Paid_WAD_Amount;
                                }
                                <td><b>@RemaimngAmt</b></td>

                                @if (disabl)
                                {
                                    <td>
                                        @Html.TextBoxFor(m => item.WAD_Amount, new { @class = "form-control", id = "WAD_Amount_" + @item.EMP_Id, disabled = "disabled" })
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(m => item.WAD_Is_LoanCompleted, new { @id = "WAD_Is_LoanCompleted_" + @item.EMP_Id, disabled = "disabled" }) Consider Loan Completed
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @Html.TextBoxFor(m => item.WAD_Amount, new { @class = "form-control", id = "WAD_Amount_" + @item.EMP_Id })
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(m => item.WAD_Is_LoanCompleted, new { @id = "WAD_Is_LoanCompleted_" + @item.EMP_Id }) Consider Loan Completed
                                    </td>
                                }
                            <td>
                                @if (!item.WAD_Status)
                                {
                                    if (!Model.WAG_.WAG_Status)
                                    {
                                        @if (!item.WAD_Is_LoanCompleted)
                                        {
                                            @if (item.WAD_Id > 0)
                                            {
                                                <a onclick="AddAdvanceEMI(@item.EMP_Id)" class="btn btn-warning btn-xs" title="Edit">Edit</a>
                                                <a onclick="DeleteAdvanceEMI(@item.WAD_Id)" class="btn btn-danger btn-xs" title="Edit">Delete</a>
                                            }
                                            else
                                            {
                                                <a onclick="AddAdvanceEMI(@item.EMP_Id)" class="btn btn-success btn-xs" title="Add">Add</a>
                                            }
                                            <div class="m-t-10 label label-danger-border msg " id="msg_@item.EMP_Id"></div>
                                        }
                                    }
                                    else
                                    {
                                        <span class="text text-warning">Wage Process for this month is Closed.</span>
                                    }
                                }
                                else
                                {
                                    <span class="text text-success">Loan is Closed.</span>
                                }
                            </td>                                
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $(".msg").hide();
        });

        function AddAdvanceEMI(EMP_Id) {
          var WAD_Id = $("#WAD_Id_" + EMP_Id).val();
          var WAD_Amount = $("#WAD_Amount_" + EMP_Id).val();
            var Checked = $("#WAD_Is_LoanCompleted_" + EMP_Id).prop("checked");
            if (Checked) {
                if (window.confirm("Once Closed, Advance Can't undo. Please be sure before Mark it as Completed.")) {
                    callAPI(WAD_Id, EMP_Id, WAD_Amount, Checked);
                }
            } else {
                callAPI(WAD_Id, EMP_Id, WAD_Amount, Checked);
            }
        };

        function DeleteAdvanceEMI(WAD_Id) {  
            var Url = siteUrl + "Employees/DeleteAdvanceEMI?WAD_Id=" + WAD_Id;
            if (window.confirm("Are You Sure You Wants To Delete?")) {
                     $.ajax({
                    type: "GET",
                    url: Url,
                         success: function (data) {                          
                        if (data == "ok") {
                            location.reload();
                        } else {
                            alert("Try Again!");
                        }
                        
                    }
                });
                }
        };

        function callAPI(WAD_Id, EMP_Id, WAD_Amount, WAD_Is_LoanCompleted) {            
            var Url = siteUrl + "Employees/AddAdvanceEMI?WAD_Id=" + WAD_Id + "&EMP_Id=" + EMP_Id + "&WAG_Id=" +@Model.WAG_.WAG_Id+"&WAD_Amount=" + WAD_Amount + "&WAD_Is_LoanCompleted=" + WAD_Is_LoanCompleted;
                $.ajax({
                    type: "GET",
                    url: Url,
                    success: function (data) {                      
                        if (data == "ok") {
                            location.reload();
                        } else if (data == "ko") {
                            $("#msg_"+EMP_Id).val("").hide();
                            alert("Try Again!");
                        } else {
                             $("#msg_"+EMP_Id).show();
                                 $("#msg_"+EMP_Id).html(data);
                        }
                        
                    }
                });
        }
    </script>
}