@model RMERP.DAL.ViewModel.UpdateAdvanceEMI
@using RMERP.DAL.ViewModel;
@{
    ViewData["Title"] = "UpdateAdvanceEMI";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}
@section Breadcrumbs{
    <li class="breadcrumb-item">@Html.ActionLink("Wage Process", "Index", "WageProcess", new { FRM_Id = ViewBag.FRM_Id })</li>
    <li class="breadcrumb-item">Advance EMI</li>
}
@section scripts{
    @if (TempData["message"] != null)
    {
        <script>
            $(document).ready(function () {
                alert('@TempData["message"]');
            });

        </script>
    };
    <script>
        function RemainigAmt(id) {
            debugger;
            var advance = $("#Amount" + id).val();
            if (parseInt(advance) > parseInt($("#amt_" + id).html())) {
                $("#Amount" + id).val(0);
                alert("Your Amount Must Be Less Than Remaining Amount");
            } else {
                debugger;
                var RemaimigAmt = (parseInt($("#amt_" + id).html()) - parseInt(advance));
                $("#amt_" + id).html(RemaimigAmt);
                $("#Ramt_" + id).html("<b>"+RemaimigAmt+"</b>");
                var Cheked = $("#WAD_Status" + id).prop("checked");
                var Url = siteUrl + "Employees/addWageRegisterAdvances?EMP_id=" + id + "&WAG_Id=" +@Model.WAG_Id+"&WAD_Amount=" + advance + "&WAD_Status=" + Cheked + "&FRM_Id=" + @ViewBag.FRM_Id;
                $.ajax({
                    type: "POST",
                    url: Url
                    @*success: function () {                               
                                 window.location = '@Url.Action("UpdateAdvanceEMI", "Employees",new { WAG_Month=Model.WAG_Month, WAG_Id=Model.WAG_Id,FRM_Id = ViewBag.FRM_Id })';
                            }*@
                });

            }
        }; @ViewBag.FRM_Id

        function EditAmt(total, id, WAD_Id) {
            debugger;
            var advance = $("#Amount" + id).val();
            if (parseInt(advance) > total) {
                $("#Amount" + id).val(0);
                alert("Your Amount Must Be Less Than Remaining Amount");
            } else {
                debugger;
                var RemaimigAmt = (total - parseInt(advance));
                $("#amt_" + id).html(RemaimigAmt);
                $("#Ramt_" + id).html("<b>"+RemaimigAmt+"</b>");
                var Cheked = $("#WAD_Status" + id).prop("checked");
                var Url = siteUrl + "Employees/UpdateWageRegisterAdvances?EMP_id=" + id + "&WAG_Id=" +@Model.WAG_Id+"&WAD_Amount=" + parseInt(advance) + "&WAD_Status=" + Cheked + "&WAD_Id=" + WAD_Id +"&FRM_Id="+ @ViewBag.FRM_Id;
                $.ajax({
                    type: "POST",
                    url: Url
                });

            }
        };
    </script>
}
<style>
    .modal-dialog {
        transform: translate(0, -50%);
        top: 30%;
        margin: 0 auto;
    }
</style>
<div>
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">@Model.FRM_Name (@ViewBag.WAG_Month)</h4>
            </div>
            <div class="col-sm-4 text-right m-b-30">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <table class="table table-striped custom-table">
                        <thead>
                            <tr>
                                <th>Employee</th>
                                <th>Total advance till @ViewBag.WAG_Month</th>
                                <th>Amount</th>
                                <th>Remaining amount till @ViewBag.WAG_Month</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.employeeAdvanceVMs.Select(n => new { n.EMP_Id, n.EmployeeName }).Distinct().OrderBy(m=>m.EMP_Id).ToList())
                            {
                                decimal totalAmt = 0;
                                decimal amount = 0, RemainingAmt = 0,TotalAdvanceAmt=0;                               
                                int WADId = 0;
                                DateTime lastDate = new DateTime(Model.WAG_Month.Year, Model.WAG_Month.Month, 1).AddMonths(1).AddDays(-1);


                                if (Model.employeeAdvanceVMs.Where(v => v.EMP_Id.Equals(item.EMP_Id)).Count() > 0)
                                {
                                    var totalAdvance = Model.employeeAdvanceVMs.Where(m => m.EMP_Id == item.EMP_Id && m.ADV_Status == false && m.ADV_RegisteredOn.Date <= lastDate.Date).GroupBy(m => m.EMP_Id).Select(g => new
                                    {
                                        ADV_Amt = g.Sum(n => n.ADV_Amount)
                                    });
                                    if (totalAdvance.Count() > 0)
                                    {
                                        totalAmt = Convert.ToDecimal(totalAdvance.Select(g => g.ADV_Amt).First());
                                    }


                                    var totalAdvance1 = Model.employeeAdvanceVMs.Where(m => m.EMP_Id == item.EMP_Id && m.ADV_RegisteredOn.Date <= lastDate.Date).GroupBy(m => m.EMP_Id).Select(g => new
                                    {
                                        ADV_Amt1 = g.Sum(n => n.ADV_Amount)
                                    });
                                    if (totalAdvance1.Count() > 0)
                                    {
                                        TotalAdvanceAmt = Convert.ToDecimal(totalAdvance1.Select(g => g.ADV_Amt1).First());
                                    }
                                }

                                decimal totalEMI = 0M;
                                if (Model.wageRegisterAdvancesVMs.Where(m => m.EMP_Id.Equals(item.EMP_Id) && m.WAD_Status==false).Count() > 0)
                                {
                                    var EMI = Model.wageRegisterAdvancesVMs.Where(m => m.EMP_Id == item.EMP_Id && m.WAD_Status == false).GroupBy(m => m.EMP_Id).Select(g => new
                                    {
                                        WAD_Amt = g.Sum(n => n.WAD_Amount)
                                    });
                                    totalEMI = Convert.ToDecimal(EMI.Select(g => g.WAD_Amt).FirstOrDefault());
                                    var CurrentClosedEMI = Model.wageRegisterAdvancesVMs.Where(m => m.EMP_Id == item.EMP_Id && m.WAG_Id.Equals(Model.WAG_Id) && m.WAD_Status.Equals(true));
                                    if (CurrentClosedEMI.Count() > 0)
                                    {
                                        totalEMI = totalEMI + CurrentClosedEMI.First().WAD_Amount;
                                    }

                                    //if (Model.wageRegisterAdvancesVMs.Where(v => v.EMP_Id.Equals(item.EMP_Id)).First().WAG_Id == Model.WAG_Id)
                                    //{
                                    //    IsPaid = true;
                                    //    var AdvancesVM = Model.wageRegisterAdvancesVMs.Where(m => m.EMP_Id == item.EMP_Id && m.WAD_Status == false && m.WAG_Id == Model.WAG_Id).First();
                                    //    WADId = AdvancesVM.WAD_Id;
                                    //    amount = AdvancesVM.WAD_Amount;
                                    //}

                                    var NotClosed = Model.wageRegisterAdvancesVMs.Where(v => v.EMP_Id.Equals(item.EMP_Id) && v.WAG_Id.Equals(Model.WAG_Id));
                                    if (NotClosed.Count()>0)
                                    {                                       
                                        WADId = NotClosed.First().WAD_Id;
                                        amount = NotClosed.First().WAD_Amount;
                                    }
                                }
                                RemainingAmt = TotalAdvanceAmt - totalEMI;

                            <tr>
                                <td><b>@item.EmployeeName</b></td>                                
                                <td><b>@TotalAdvanceAmt</b></td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.TextBox("RemainingAmt", amount, new { @class = "form-control", id = "Amount" + item.EMP_Id })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.CheckBox("WAD_Status", new { @id = "WAD_Status" + item.EMP_Id, @value = item.EMP_Id })Consider Loan Completed
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @if (amount <=0)
                                                    {
                                                        <input type="button" onclick="RemainigAmt(@item.EMP_Id)" name="Add" value="Add" class="btn btn-success btn-xs" />
                                                    }
                                                    else
                                                    {
                                                        <input type="button" onclick="EditAmt(@totalAmt,@item.EMP_Id,@WADId)" name="Edit" value="Edit" class="btn btn-warning btn-xs" />
                                                    }
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </td>
                                <td id="amt_@item.EMP_Id">@Html.DisplayFor(m => RemainingAmt, new { @id = "Remaining" + item.EMP_Id })</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>