@model RMERP.DAL.ViewModel.AttendanceRegisterVM
@using RMERP.DAL.Models
@using RMERP.DAL.ManagerClasses
@{
    ViewData["Title"] = "AttendanceRegister";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}

@section scripts{
    <script>
        $(document).ready(function () {
            debugger;
            $("#myTab a:first").tab('show');
        });          
    </script>
}

    <ul class="nav nav-tabs" id="myTab">
        @foreach (var item in Model.listClients)
        {
            <li><a data-toggle="tab" href="#@item.CLI_Id">@item.CLI_Name</a></li>
        }
    </ul>

<div class="tab-content">
   
    @foreach (var item in Model.listClients)
    {
        <div id="@item.CLI_Id" class="tabcontent tab-pane fade">
            <h3>@item.CLI_Name</h3>
            @if (item.Clients_Employees != null && item.Client_Requirements != null)
            {
                <table class="table table-border">
                    <thead>
                        <tr>
                            <td>Employee ID</td>
                            <td>Employee Name</td>
                            <td>Designation</td>
                            <td>Date Of Joining</td>
                            <td>Basic/(Basic+DA)</td>
                            <td>HRA(%) | HRA(Fixed)</td>
                            <td>UPKEEP ALLOW.</td>
                            <td>M/F</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{                            
                            List<Clients_Employees> lstCliEmp = item.Clients_Employees.OrderBy(m => m.EMP_Id).ToList();
                            List<Client_Requirements> lstCliReq = item.Client_Requirements.Where(m=>m.CLI_Id==item.CLI_Id && m.CRI_Active==true).ToList();   
                        }                       
                        @foreach (var emp in lstCliEmp)
                        {
                        <tr>
                            @{Employees employees = new Employees();
                                employees = Model.listEmployee.Where(m => m.EMP_Id.Equals(emp.EMP_Id)).FirstOrDefault();}

                            <td>@employees.EMP_Id.ToString("D5")</td>
                            <td>@employees.EMP_FirstName</td>
                            <td>@employees.EMP_Designation</td>
                            <td>@emp.CLE_RegisteredOn.ToShortDateString()</td>
                            @{Client_Requirements cr = lstCliReq.Where(m => m.DES_Id == emp.DES_Id).FirstOrDefault();}
                            <td>@(Convert.ToDecimal(cr.CRI_Basic) == (0.0m) ? cr.CRI_BasicDA : (cr.CRI_Basic + Convert.ToDecimal(cr.CRI_DA)))</td>
                            <td>@(Convert.ToString(cr.CRI_HRA_Percentage) == "" ? Convert.ToString(cr.CRI_HRA_Fixed) : Convert.ToString(cr.CRI_HRA_Percentage) + "%")</td>
                            @*<td>@(Convert.ToString(cr.CRI_HRA_Percentage) != "" ? Convert.ToString(cr.CRI_HRA_Percentage)+"%" : "-") |
        @(Convert.ToString(cr.CRI_HRA_Fixed) == "" ? "-" : Convert.ToString(cr.CRI_HRA_Fixed))</td>*@
                            <td>@(Convert.ToString(cr.CRI_Allowance_UpKeep) != "" ? Convert.ToString(cr.CRI_Allowance_UpKeep) : "-")</td>
                            @*<td>@Model.listAttendance.Where(m => m.EMP_Id == employees.EMP_Id && m.CLI_Id == item.CLI_Id).Sum(m => m.ATT_ExtraHoursWorked)</td>*@
                            <td>@(employees.EMP_Gender == true ? "M" : "F")</td>
                        </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    }

</div>

