@model RMERP.DAL.ViewModel.UploadExcelViewModel

@{
    ViewData["Title"] = "Upload Excel";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}
@section Breadcrumbs{
    <li class="breadcrumb-item">@Html.ActionLink("Wage Process", "NewIndex", "WageProcess", new { FRM_Id = Model.WageProcessVM.FRM_Id })</li>
    <li class="breadcrumb-item">@Html.ActionLink("Wage Attendance", "NewWageAttendanceList", "Attendance", new { WAG_Id = Model.WageProcessVM.WAG_Id })</li>
    <li class="breadcrumb-item">Upload Attendance Excel</li>
}
@section scripts{
    <script src="@Url.Content("~/assets/lib/jquery-validation/dist/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
@if (TempData["message"] != null)
{
    <script>
            $(document).ready(function () {
            alert('@TempData["message"]');
        });
    </script>
}
<div class="modal-dialog modelLeftSide">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-content modal-lg" style="width: 250%">
        <div class="modal-header">
            <h4 class="modal-title">Upload Attendance</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("NewVerifyTemplate", "Attendance", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.WageProcessVM.WAG_Id)
                @Html.HiddenFor(m => m.WageProcessVM.FRM_Id)
                @Html.HiddenFor(m => m.Client.CLI_Id)
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-md-12 form-group">
                            <div class="col-md-4">Wage Process for:</div>
                            <div class="col-md-8">
                                <b> @Model.WageProcessVM.WAG_Full_Month()</b>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-4">For Client:</div>
                            <div class="col-md-8">
                                <b>@Model.Client.CLI_Name</b>
                            </div>
                        </div>                        
                        <div class="col-md-12 form-group">
                            <div class="col-md-4">Select File:</div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.ExcelFile, new { @type = "file" , @class="form-control" })
                            </div>
                        </div>
                        <div class="col-md-12 m-t-20 text-center">
                            <input class="btn btn-primary" type="submit" value="Verify Excel File" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
