@model RMERP.DAL.ViewModel.UploadExcelViewModel

@{
    ViewData["Title"] = "Upload Excel";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}

<div class="modal-dialog modelLeftSide">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-content modal-lg" style="width: 250%">
            <div class="modal-header">
                <h4 class="modal-title">Upload Attendance</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("VerifyTemplate", "Attendance", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(m => m.wageProcessVM.WAG_Id)
                    @Html.HiddenFor(m => m.client.CLI_Id)

                <div class="row">
                    <div class="col-md-4">
                        <div class="col-md-12 form-group">
                            <div class="col-md-4">Wage Process for:</div>
                            <div class="col-md-8">
                                <b> @Model.wageProcessVM.WAG_Full_Month()</b>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-4">For Client:</div>
                            <div class="col-md-8">
                                <b>@Model.client.CLI_Name</b>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-4">Choose Template:</div>
                            <div class="col-md-8">
                                <div class="radio-inline">
                                    @foreach (var template in ViewBag.templateList)
                                    {
                                        @Html.RadioButtonFor(s => s.Template, (int)template, (int)template == 0 ? (object)new { @checked = true, @id = (int)template } : new { @id = (int)template })@template
                                        <br />
                                    }
                                </div>
                                @Html.ValidationMessageFor(x => x.Template, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-4">Select File:</div>
                            <div class="col-md-8">@Html.TextBoxFor(m => m.ExcelFile, new { @type = "file" })</div>
                        </div>
                        <div class="col-md-12 m-t-20 text-center">
                            <input class="btn btn-primary" type="submit" value="Verify Excel File" />
                        </div>
                    </div>
                    <div class="col-md-8 text-left border-left">
                        <table class="table table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th></th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>P</td>
                                <td>Present</td>
                                <td>Is Present</td>
                            </tr>
                            <tr>
                                <td>PL= EL(or E/L) = CO</td>
                                <td>Paid Leave / Earn Leave / Compensatory off</td>
                                <td>Is Absent + Is Payble</td>
                            </tr>
                            <tr>
                                <td>WO</td>
                                <td>Weekly off</td>
                                <td> Is Absent + Is Weeklyoff + Is Payable(WO is paybale or not is depends on client requirement)</td>
                            </tr>
                            <tr>
                                <td>PW</td>
                                <td>Present on weekly off</td>
                                <td>Is Present + Is Weeklyoff + Is Payable(If WO is payable, then total leave is counted as 2 otherwise counted as 2)</td>
                            </tr>                           
                            <tr>
                                <td>HO = PF = NH</td>
                                <td>Holiday / Public Holiday / National holiday</td>
                                <td>Is Absent + Is Holiday +  Is Payable(HO is paybale or not is depends on client requirement)</td>
                            </tr>
                            <tr>
                                <td>PO = PN</td>
                                <td>Present on holiday / Present on national holiday</td>
                                <td>Is Present + Is Holiday + Is Payable(If HO is payable, then total leave is counted as 2 otherwise counted as 1)</td>
                            </tr> 
                            <tr>
                                <td>HF = P/2 </td>
                                <td>Half day</td>
                                <td>Is Present + Is Halfday (HF or P/2 is allowed in only without shift excel template (Leave counted as 0.5))</td>
                            </tr>
                            <tr>
                                <td>A</td>
                                <td>Absent</td>
                                <td>Is Absent</td>
                            </tr>
                            <tr>
                                <td>CP</td>
                                <td>Present on night shift</td>
                                <td>Is Present + Is Nightshift</td>
                            </tr>
                            <tr>
                                <td>NC</td>
                                <td>Night shift on national holiday</td>
                                <td>Is Present+ Is Nightshift + Is Holiday (If HO is payable, then total leave is counted as 2 otherwise counted as 1)</td>
                            </tr>
                            <tr>
                                <td>CW</td>
                                <td>Night shift on wekkly day off</td>
                                <td>Is Present+ Is Nightshift + Is Weeklyoff (If WO is payable, then total leave is counted as 2 otherwise counted as 1)</td>
                            </tr>                          
                           
                            <tr>
                                <td>I or II or III or G</td>
                                <td>Shift</td>
                                <td>Is Present ( Allowed in only shiftwise excel template)</td>
                            </tr>
                            <tr>
                                <td>I/2 or II/2 or III/2 or G/2</td>
                                <td>Half day in shift</td>
                                <td>Is Present + Is Halfday (Allowed in only shiftwise excel template)</td>
                            </tr>                            
                        </table>                       
                    </div>

                    
                </div>
                }
            </div>
        </div>
    </div>
