@model RMERP.DAL.ViewModel.ExcelViewModel
@using RMERP.Helpers;
@using RMERP.DAL.Models;
@{
    ViewData["Title"] = "Verify Excel File";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}

@if (Model == null)
{
    <h4>No data to display</h4>
}
else
{
    <div class="modal-dialog modelLeftSide" style="width: 100%;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-content modal-lg" style="width: 98%;">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-7">
                        <h4 class="modal-title">Summary of Attendance Going to import</h4>
                        <h6 class="modal-title">Total Employee Found: @Model.totalEmployees</h6>
                        <h6 class="modal-title">Total Public Holidays: @Model.totalPublicHolidays</h6>
                    </div>
                    <div class="col-md-5">
                        <h6 class="modal-title">Starting Date: @DateHelper.getDateWithFormat(Model.startDate)</h6>
                        <h6 class="modal-title">Ending Date: @DateHelper.getDateWithFormat(Model.endDate)</h6>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                    <div class="content container-fluid">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="table-responsive">
                                    <table class="table table-striped font11" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Employee</th>
                                                @{
                                                    DateTime tmpDate = Model.startDate;

                                                    while (Model.endDate >= tmpDate)
                                                    {
                                                        <th> @tmpDate.Day</th>
                                                        tmpDate = tmpDate.AddDays(1);
                                                    }
                                                }
                                                <th>Present Days</th>
                                                <th>Weekly Off</th>
                                                <th>Leave Days</th>
                                                <th>Holidays</th>
                                                <th>Extra Days</th>
                                                <th>CO</th>
                                                <th>WO Present</th>
                                                <th>HO Present</th>
                                                <th>Total Extra Hours</th>
                                                <th>Total Payble Days</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.excelRows)
                                            {
                                            <tr>
                                                <td>@item.EMP_Id</td>
                                                <td><b>@item.EMP_Name</b><br />@item.Designation</td>
                                                @{
                                                    DateTime tmpDate1 = Model.startDate;
                                                    while (Model.endDate >= tmpDate1)
                                                    {
                                                        Attendance att = Model.listAttendance.Where(m => m.EMP_Id == Convert.ToInt32(item.EMP_Id) && m.ATT_Date.Equals(tmpDate1)).FirstOrDefault();
                                                        if (att != null)
                                                        {
                                                            <td align="center">
                                                                <div class="row">
                                                                    @{
                                                                        String str = "";
                                                                        if (att.ATT_IsWeeklyOff)
                                                                        {
                                                                            str = "<span class='weekoff'>W/O</span>";
                                                                        }
                                                                        else
                                                                        {
                                                                            if (att.ATT_IsPresent)
                                                                            {
                                                                                if (att.ATT_Shift != null)
                                                                                {
                                                                                    str = "<span class='present'>" + att.ATT_Shift + "</span>";
                                                                                }
                                                                                else
                                                                                {
                                                                                    str = "<span class='present'>P</span>";
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                str = "<span class='absent'>A</span>";
                                                                            }
                                                                        }
                                                                        <div class="col-md-12">@Html.Raw(str)</div>
                                                                        <div class="col-md-12 font10">
                                                                            @{
                                                                                if (att.ATT_ExtraHoursWorked == 0)
                                                                                {
                                                                                    if (att.ATT_IsEarnLeave)
                                                                                    {
                                                                                        @Html.Raw("EL");
                                                                                    }
                                                                                }
                                                                                else
                                                                                {
                                                                                    @att.ATT_ExtraHoursWorked.ToString("#.#")
                                                                                }
                                                                                if (att.ATT_IsPublicHoliday)
                                                                                {
                                                                                    @Html.Raw("PH");
                                                                                }
                                                                            }
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </td>
                                                        }
                                                        tmpDate1 = tmpDate1.AddDays(1);
                                                    }
                                                }
                                                <td>@item.TotalPresenceDays</td>
                                                <td>@item.totalWeeklyOff</td>
                                                <td>@item.totalLeaves</td>
                                                <td>@item.totalHolidays</td>
                                                <td>@item.totalExtraDays</td>
                                                <td>@item.totalCOs</td>
                                                <td>@item.totalWOPresent</td>
                                                <td>@item.totalHOPresent</td>
                                                <td>@item.TotalExtraHours</td>
                                                <td>@item.totalPaybleDays</td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>


                                @if (Model.empListExtraInExcel.Count() > 0 || Model.EmpListExtraInDb.Count() > 0 || Model.datePeriod == false)
                                {
                                    <br />
                                    <div class="row well well-lg" style="color:red;">
                                        <div class="col-md-12">
                                            <h4 class="modal-title">Match with client's Requirement</h4>
                                            <hr />
                                            <ul>
                                                @if (Model.empListExtraInExcel.Count() > 0)
                                                {
                                                    <li>
                                                        <b>We have found this employees which is/are not assign to Client:</b><br />Solution: Go to client Employees secion and Assign First
                                                        <ul>
                                                            @foreach (var item in Model.empListExtraInExcel)
                                                            {
                                                                <li> @item.EMP_FirstName @item.EMP_MiddleName @item.EMP_SurName</li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                                @if (Model.EmpListExtraInDb.Count() > 0)
                                                {
                                                    <li>
                                                        <b>We have found this missing employees which is/are assigned to Client:</b><br />
                                                        Solution: Re-verify Excel sheet you choosed.
                                                        <ul>
                                                            @foreach (var item in Model.EmpListExtraInDb)
                                                            {
                                                                <li> @item.EMP_FirstName @item.EMP_MiddleName @item.EMP_SurName</li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }

                                                @if (Model.datePeriod == false)
                                                {
                                                    <li>
                                                        <b>We have found date period of excel is not match with client parameter.</b><br />
                                                        Solution: Check Client parameter and excel sheet again.
                                                    </li>
                                                }

                                            </ul>


                                        </div>

                                    </div>
                                }

                                @using (Html.BeginForm("ImportExcel", "Attendance", FormMethod.Post))
                                {
                                    @Html.HiddenFor(m => m.WAG_Id)
                                    @Html.HiddenFor(m => m.CLI_Id)
                                    @Html.HiddenFor(m => m.fileName)
                                    @Html.HiddenFor(m => m.Template)
                                    <div class="m-t-20 text-center">
                                        @if (Model.btnExportToDatabase == false)
                                        {
                                            <input type="submit" value="Export To Database" name="Export" id="btnSubmit" class="btn btn-success" disabled />
                                        }
                                        else
                                        {
                                            <input type="submit" value="Export To Database" name="Export" id="btnSubmit" class="btn btn-success" />
                                        }

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
}

