@using RMERP.DAL.Models;
@using RMERP.DAL.ViewModel;
@model Tuple<List<RMERP.DAL.ViewModel.AttendanceVM>, RMERP.DAL.Models.Client>

@{
   EmployeeVM employee = Model.Item1.Select(m => m.employee).First();
   Designation designation = Model.Item1.Select(m => m.designation).First();
}

<div class="modal fade" id="ATT_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <br />
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h3>@employee.EMP_FullName</h3>
            <h5>@designation.DES_Title</h5>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-md-12">
                  <h5>   @ViewData["Title"] ( @ViewBag.WAG_Month )</h5>
               </div>
            </div>
            <div class="row mb-3">
               <div class="col-md-12">
                  <div class="table-responsive">
                     <table class="table table-striped custom-table m-b-0 font11">
                        <thead>
                           <tr>
                              @{
                                 int counter = 0;
                                 DateTime tmpDate = ViewBag.startDate;

                                 while (ViewBag.endDate >= tmpDate)
                                 {
                                    counter = counter + 1;
                                    <th> @tmpDate.Day</th>
                                    tmpDate = tmpDate.AddDays(1);
                                 }
                              }
                              <th>Present Days</th>
                              <th>Weekly Off</th>
                              <th>Public Holidays</th>
                              <th>Earn Leaves</th>
                              <th>Night Shifts</th>
                              <th>Total Extra Hours</th>
                           </tr>
                        </thead>
                        <tbody>

                           <tr>
                              @{
                                 int counter1 = 0;
                                 DateTime tmpDate1 = ViewBag.startDate;
                                 int totalWeeklyOff = 0, totalPublicHoliday = 0, totalEarnLeave = 0, totalNightShift = 0;
                                 Double totalPresence = 0, totalHalfdays = 0, totExtraWorkingDays = 0, totExtraWorkingHours = 0;

                                 while (ViewBag.endDate >= tmpDate1)
                                 {
                                    counter1 = counter1 + 1;
                                    AttendanceVM att = Model.Item1.Where(m => m.ATT_Date.Equals(tmpDate1)).FirstOrDefault();

                                    if (att != null)
                                    {
                                       <td>
                                          <div class="row" onmouseover="mousehover(@att.ATT_Id);" onmouseout="mouseout();">
                                             @{
                                                String str = "";
                                                String strSecondrow = "";
                                                if (att.ATT_IsPresent)
                                                {
                                                   totalPresence++;
                                                   if (att.ATT_IsHalfday)
                                                   {
                                                      totalHalfdays++;
                                                      if (att.ATT_Shift != null)
                                                      {
                                                         str = "<span class='present'>" + att.ATT_Shift + "</span>";
                                                      }
                                                      else
                                                      {
                                                         str = "<span class='present'>P/2</span>";
                                                      }
                                                   }
                                                   else
                                                   {
                                                      if (att.ATT_Shift != null)
                                                      {
                                                         str = "<span class='present'>" + att.ATT_Shift + "</span>";
                                                      }
                                                      else
                                                      {
                                                         str = "<span class='present'>P</span>";
                                                      }
                                                   }

                                                }
                                                else
                                                {
                                                   str = "<span class='absent'>A</span>";
                                                }
                                                <div class="col-md-12">@Html.Raw(str)</div>
                                                if (att.ATT_IsPublicHoliday)
                                                {
                                                   totalPublicHoliday++;
                                                   strSecondrow = " <span class='present'>PH</span>";
                                                }
                                                else if (att.ATT_IsEarnLeave)
                                                {
                                                   totalEarnLeave++;
                                                   strSecondrow = "<span class='present'>EL</span>";
                                                }
                                                else if (att.ATT_IsWeeklyOff)
                                                {
                                                   totalWeeklyOff++;
                                                   strSecondrow = " <span class='weekoff'>WO</span>";
                                                }
                                                <div class="col-md-12">
                                                   @if (strSecondrow != "")
                                                   {
                                                      @Html.Raw(strSecondrow)
                                                   }
                                                   else
                                                   {
                                                      @Html.Raw("&nbsp;")
                                                   }
                                                </div>
                                                <div class="col-md-12 font10">
                                                   @{
                                                      if (att.ATT_ExtraHoursWorked > 0)
                                                      {
                                                         totExtraWorkingHours += att.ATT_ExtraHoursWorked;
                                                         @att.ATT_ExtraHoursWorked.ToString("#.#")
                                                      }
                                                      else
                                                      {
                                                         @Html.Raw("&nbsp;")
                                                      }
                                                      if (att.ATT_NightShift)
                                                      {
                                                         totalNightShift++;
                                                         @Html.Raw(" <i class='fa fa-moon-o'></i>")
                                                      }
                                                   }
                                                </div>
                                             }
                                          </div>
                                       </td>
                                    }
                                    else
                                    {
                                       <td>
                                          -
                                       </td>
                                    }

                                    tmpDate1 = tmpDate1.AddDays(1);
                                 }
                                 totExtraWorkingDays = totExtraWorkingHours / Model.Item2.CLI_WorkingHours_In_Day;
                                 double Presence = totalPresence + (totalHalfdays / 2) - totalHalfdays;
                              }
                              <td>@Presence</td>
                              <td>@totalWeeklyOff</td>
                              <td>@totalPublicHoliday</td>
                              <td>@totalEarnLeave</td>
                              <td>@totalNightShift</td>
                              <td>@totExtraWorkingHours</td>
                           </tr>

                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>