@model RMERP.DAL.ViewModel.WageProcessClientAttendancePageVM
@{
    ViewData["Title"] = "Attendance status";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}

<div>
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">@ViewData["Title"]</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <table class="table table-striped custom-table m-b-0">
                        <thead>
                            <tr>
                                <th>Client Name</th>
                                <th>Status</th>
                                <th>Total Employee</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lstClient)
                            {
                            <tr>
                                <td><b>@item.CLI_Name</b></td>
                                <td>@Html.Raw((item.totalEmployees > 0 ? "<span class='label label-success-border'>Imported</span>" : "<span class='label label-danger-border'>Not Imported yet</span>"))</td>
                                <td>@(item.totalEmployees > 0 ? item.totalEmployees.ToString() : "-")</td>
                                <td>
                                    @{
                                        if (item.totalEmployees > 0)
                                        {
                                            <a href='@Url.Action("ViewAttendance", "WageProcess", new { WAG_Id = Model.wageProcess.WAG_Id, CLI_Id = item.CLI_Id })' title="View"><i class="fa fa-eye m-r-5"></i> View</a>
                                        }
                                        else
                                        {
                                            <a href='@Url.Action("UploadExcel", "Attendance", new { WAG_Id = Model.wageProcess.WAG_Id, CLI_Id = item.CLI_Id })' title="Upload"><i class="fa fa-upload m-r-5"></i> Upload</a>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (item.totalEmployees > 0)
                                        {
                                            <a onclick="return window.confirm('Are you sure, All attendance of this client will be deleted for this Wage Month?')" href='@Url.Action("DeleteWageClientAttendanceList", "Attendance", new { WAG_Id = Model.wageProcess.WAG_Id, CLI_Id = item.CLI_Id })' title="Reset"><i class="fa fa-remove m-r-5"></i> Reset Attendance</a>
                                        }
                                     }
                                </td>
</tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

