@model RMERP.DAL.ViewModel.EditWageRegisterVM
@using RMERP.DAL.Models
@{
    ViewData["Title"] = "WageRegister";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}

<h2>WageRegister</h2>
<script>
    function calculateTotal() {       
        var totalPaybleDays = $("#wageRegisterVM_WAR_TotalPaybleDays").val();
        var totalWorkingDays = $("#wageRegisterVM_WAR_TotalWorkingDays").val();
        var WAR_ExtraWorkingHours = $("#wageRegisterVM_WAR_ExtraWorkingHours").val();
        var CRI_Basic = $("#wageRegisterVM_WAR_Basic").val();
        var CRI_DA = $("#wageRegisterVM_WAR_DA").val();
        var CRI_HRA = $("#wageRegisterVM_WAR_HRA").val();
        var WAR_PF = $("#wageRegisterVM_WAR_PF").val();
        var WAR_ESIC = $("#wageRegisterVM_WAR_ESIC").val();
        
        var CRI_DA_Calculated = (CRI_Basic * CRI_DA) / 100;
        var BasicDa = parseInt(CRI_Basic) + parseInt(CRI_DA);      
        
        var Percentage = document.getElementById("Percentage").checked; 
        var Fixed = document.getElementById("Fixed").checked;          

        var CRI_HRA_Calculated = 0, WAR_Basic_Calculated = 0, WAR_OverTime_Calculated=0;
        if (totalWorkingDays != 0) {
            CRI_HRA_Calculated = (Percentage == true ? ((BasicDa * CRI_HRA) / 100) : ((CRI_HRA * totalPaybleDays) / totalPaybleDays));
            WAR_Basic_Calculated = (CRI_Basic*totalPaybleDays) / totalWorkingDays;
            WAR_OverTime_Calculated = ((CRI_Basic / totalWorkingDays) / 8) * WAR_ExtraWorkingHours;
        }
        var WAR_PF_Calculated = (BasicDa * WAR_PF) / 100;
        var WAR_ESIC_Calculated = (BasicDa * WAR_ESIC) / 100;
        var AllowancesTotal = 0;

        for (var i = 0; i < @Model.wage_Register_Allowances.Count(); i++) {
           
            var CRA_Dayswise = document.getElementById("CRA_Dayswise["+i+"]").checked;
            var CRA_Full = document.getElementById("CRA_Full[" + i + "]").checked;

            var WAA_Amount = $("#wage_Register_Allowances_"+i+"__WAA_Amount").val();
            var fullAmt = 0;
            var WAA_Amount_Calculated = 0;

            if (totalWorkingDays != 0)
                fullAmt = (WAA_Amount * totalPaybleDays) / totalWorkingDays;   
            
            if (CRA_Dayswise == true && CRA_Full == false)
            {
                WAA_Amount_Calculated = fullAmt.toFixed(2);
                AllowancesTotal = parseInt(AllowancesTotal) + parseInt(fullAmt);
                $("#wage_Register_Allowances_" + i + "__WAA_Amount_Calculated").val(WAA_Amount_Calculated);
            }
            else if (CRA_Dayswise == false && CRA_Full == true)
            {
                WAA_Amount_Calculated = WAA_Amount;
                AllowancesTotal = parseInt(AllowancesTotal) + parseInt(WAA_Amount);
                $("#wage_Register_Allowances_" + i + "__WAA_Amount_Calculated").val(WAA_Amount_Calculated);
            }            
            
        }
        var WAR_GrossTotal = WAR_Basic_Calculated + CRI_DA_Calculated + CRI_HRA_Calculated + WAR_OverTime_Calculated + AllowancesTotal;
        var WAR_FinalTotal = WAR_GrossTotal - (WAR_PF_Calculated + WAR_ESIC_Calculated);
        
        $("#wageRegisterVM_WAR_DA_Calculated").val(CRI_DA_Calculated.toFixed(2));
        $("#wageRegisterVM_WAR_HRA_Calculated").val(CRI_HRA_Calculated.toFixed(2));
        $("#wageRegisterVM_WAR_Basic_Calculated").val(WAR_Basic_Calculated.toFixed(2));
        $("#wageRegisterVM_WAR_OverTime_Calculated").val(WAR_OverTime_Calculated.toFixed(2));
        $("#wageRegisterVM_WAR_PF_Calculated").val(WAR_PF_Calculated.toFixed(2));
        $("#wageRegisterVM_WAR_ESIC_Calculated").val(WAR_ESIC_Calculated.toFixed(2));

        $("#wageRegisterVM_WAR_GrossTotal").val(WAR_GrossTotal.toFixed(2));
        $("#wageRegisterVM_WAR_FinalTotal").val(WAR_FinalTotal.toFixed(2));
    }
</script>

<div class="modal-dialog modelLeftSide">
    <div class="modal-content modal-lg">
        <div class="modal-header">
            <h4 class="modal-title"> @ViewData["Title"]</h4>
        </div>
        <div class="modal-body">
            <div class="m-b-30">
                @using (Html.BeginForm("EditWageRegister", "WageRegister", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.wageRegisterVM.WAR_Id)
                    @Html.HiddenFor(m => m.wageRegisterVM.WAG_Id)      
                    @Html.HiddenFor(m => m.wageRegisterVM.CLI_Id)
                    @Html.HiddenFor(m => m.wageRegisterVM.CRI_Id)
                    @Html.HiddenFor(m => m.wageRegisterVM.EMP_Id)                                                                                                                                                                                                    

                    @*<div style="display: none;">@Html.EditorFor(model => model.wageRegisterVM.designation)</div>
                    <div style="display: none;">@Html.EditorFor(model => model.wageRegisterVM.clientVM)</div>
                    <div style="display: none;">@Html.EditorFor(model => model.wageRegisterVM.clientRequirementVM)</div>
                    <div style="display: none;">@Html.EditorFor(model => model.wageRegisterVM.employeeVM)</div>*@

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.wageRegisterVM.WAR_TotalPaybleDays, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.wageRegisterVM.WAR_TotalPaybleDays, new { @class = "form-control", onfocusout = "calculateTotal()" })
                                @Html.ValidationMessageFor(m => m.wageRegisterVM.WAR_TotalPaybleDays, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.wageRegisterVM.WAR_TotalWorkingDays, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.wageRegisterVM.WAR_TotalWorkingDays, new { @class = "form-control", onfocusout = "calculateTotal()" })
                                @Html.ValidationMessageFor(m => m.wageRegisterVM.WAR_TotalWorkingDays, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.wageRegisterVM.WAR_ExtraWorkingHours, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.wageRegisterVM.WAR_ExtraWorkingHours, new { @class = "form-control", onfocusout = "calculateTotal()" })
                                @Html.ValidationMessageFor(m => m.wageRegisterVM.WAR_ExtraWorkingHours, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.wageRegisterVM.WAR_OverTime_Calculated, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.wageRegisterVM.WAR_OverTime_Calculated, new { @class = "form-control", @readonly = true })
                                @Html.ValidationMessageFor(m => m.wageRegisterVM.WAR_OverTime_Calculated, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.wageRegisterVM.WAR_Basic, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.wageRegisterVM.WAR_Basic, new { @class = "form-control", onfocusout = "calculateTotal()" })
                                @Html.ValidationMessageFor(m => m.wageRegisterVM.WAR_Basic, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.wageRegisterVM.WAR_Basic_Calculated, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.wageRegisterVM.WAR_Basic_Calculated, new { @class = "form-control", @readonly = true })
                                @Html.ValidationMessageFor(m => m.wageRegisterVM.WAR_Basic_Calculated, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.wageRegisterVM.WAR_DA, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.wageRegisterVM.WAR_DA, new { @class = "form-control", onfocusout = "calculateTotal()" })
                                @Html.ValidationMessageFor(m => m.wageRegisterVM.WAR_DA, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.wageRegisterVM.WAR_DA_Calculated, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.wageRegisterVM.WAR_DA_Calculated, new { @class = "form-control", @readonly = true })
                                @Html.ValidationMessageFor(m => m.wageRegisterVM.WAR_DA_Calculated, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.wageRegisterVM.WAR_HRA, new { @class = "control-label" })
                                @Html.RadioButtonFor(m => m.wageRegisterVM.clientRequirementVM.HRAselection, false, new { @id = "Percentage", @checked = "checked", @style = "margin: 0px 0 0", onclick = "calculateTotal()" }) Percentage
                                @Html.RadioButtonFor(m => m.wageRegisterVM.clientRequirementVM.HRAselection, true, new { @id = "Fixed", @style = "margin: 0px 0 0", onclick = "calculateTotal()" }) Fixed
                                @Html.TextBoxFor(m => m.wageRegisterVM.WAR_HRA, new { @class = "form-control", onclick = "calculateTotal()" })
                                @Html.ValidationMessageFor(m => m.wageRegisterVM.WAR_HRA, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.wageRegisterVM.WAR_HRA_Calculated, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.wageRegisterVM.WAR_HRA_Calculated, new { @class = "form-control", @readonly = true })
                                @Html.ValidationMessageFor(m => m.wageRegisterVM.WAR_HRA_Calculated, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.wageRegisterVM.WAR_GrossTotal, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.wageRegisterVM.WAR_GrossTotal, new { @class = "form-control", @readonly = true })
                                @Html.ValidationMessageFor(m => m.wageRegisterVM.WAR_GrossTotal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.wageRegisterVM.WAR_PF, new { @class = "control-label" })
                                @Html.EditorFor(m => m.wageRegisterVM.WAR_PF, new { htmlAttributes = new { @class = "form-control", onfocusout = "calculateTotal()" } })
                                @Html.ValidationMessageFor(m => m.wageRegisterVM.WAR_PF, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.wageRegisterVM.WAR_PF_Calculated, new { @class = "control-label" })
                                @Html.EditorFor(m => m.wageRegisterVM.WAR_PF_Calculated, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                @Html.ValidationMessageFor(m => m.wageRegisterVM.WAR_PF_Calculated, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.wageRegisterVM.WAR_ESIC, new { @class = "control-label" })
                                @Html.EditorFor(m => m.wageRegisterVM.WAR_ESIC, new { htmlAttributes = new { @class = "form-control", onfocusout = "calculateTotal()" } })
                                @Html.ValidationMessageFor(m => m.wageRegisterVM.WAR_ESIC, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.wageRegisterVM.WAR_ESIC_Calculated, new { @class = "control-label" })
                                @Html.EditorFor(m => m.wageRegisterVM.WAR_ESIC_Calculated, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                @Html.ValidationMessageFor(m => m.wageRegisterVM.WAR_ESIC_Calculated, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @{
                            for (var i = 0; i < Model.wage_Register_Allowances.Count(); i++)
                            {
                                <div class="col-md-12">
                                    @Html.Label(Model.wage_Register_Allowances[i].CRA_.ALL_.ALL_Title)
                                    @Html.RadioButtonFor(m => Model.wage_Register_Allowances[i].CRA_.CRA_DayswiseOrFull, true, new { @id = "CRA_Dayswise[" + @i + "]", @checked = "checked", @style = "margin: 0px 0 0" ,onclick = "calculateTotal()" }) Dayswise Calculation
                                    @Html.RadioButtonFor(m => Model.wage_Register_Allowances[i].CRA_.CRA_DayswiseOrFull, false, new { @id = "CRA_Full[" + @i + "]", @style = "margin: 0px 0 0", onclick = "calculateTotal()" })  Full Amount
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            @Html.EditorFor(m => Model.wage_Register_Allowances[i].WAA_Amount, new { htmlAttributes = new { @class = "form-control", onfocusout = "calculateTotal()" } })
                                            @Html.ValidationMessageFor(m => Model.wage_Register_Allowances[i].WAA_Amount, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.EditorFor(m => Model.wage_Register_Allowances[i].WAA_Amount_Calculated, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                            @Html.ValidationMessageFor(m => Model.wage_Register_Allowances[i].WAA_Amount_Calculated, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.wageRegisterVM.WAR_FinalTotal, new { @class = "control-label" })
                                @Html.EditorFor(m => m.wageRegisterVM.WAR_FinalTotal, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                @Html.ValidationMessageFor(m => m.wageRegisterVM.WAR_FinalTotal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="m-t-20 text-center">
                        <input type="submit" name="Submit Wage Register" id="btnSubmit" class="btn btn-primary" />
                    </div>
                }

            </div>
        </div>
    </div>
</div>

