@model List<RMERP.DAL.ViewModel.ClientWageRegisterVM>
@using RMERP.DAL.Models
@using RMERP.Helpers
@using RMERP.DAL.ViewModel
@using RMERP.DAL.Helpers

@{
    ViewData["Title"] = "WageRegister";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
    Allowances allowances1 = new Allowances();
}

@section scripts{
    <script>
        $(document).ready(function () {
            $("#myTab a:first").tab('show');
        });
    </script>
}

<style>
    .gainsboro {
        background-color: #DCDCDC;
    }

    .lightgray {
        background-color: #D3D3D3;
    }

    .silver {
        background-color: #C0C0C0;
    }

    .darkgray {
        background-color: #A9A9A9;
    }

    .gray {
        background-color: #a29e9e;
    }

    .dimgray {
        background-color: #7b7878;
    }

    .fa-check-circle {
        color: green;
    }

    .fa-times-circle {
        color: red;
    }

    .fa-info-circle {
        color: #ff9b44;
    }

    a.myClass {
        color: #f5f5f5;
    }

        a.myClass:hover,
        a.myClass:active,
        a.myClass:focus {
            text-decoration: none;
            color: #C0C0C0;
            outline: none;
        }
</style>

@{
    WageProcessVM wage = Model[0].wageProcessVM;
    int DaysInMonth = DateTime.DaysInMonth(wage.WAG_Month.Year, wage.WAG_Month.Month);
}

<h2>@wage.WAG_Full_Month() @*<small>Total Days: @DaysInMonth</small>*@</h2>

<ul class="nav nav-tabs" id="myTab">
    @foreach (var client in Model.Select(m => new { m.client, m.wageProcessClientVM, m.wageProcessVM.Attendance }).Distinct())
    {
        <li>
            <a data-toggle="tab" href="#@client.client.CLI_Id">
                @*fa-question-circle*@
                @{int attCount = client.Attendance.Where(m => m.CLI_Id.Equals(client.client.CLI_Id)).Count();}
                <i class="fa fa-@( client.wageProcessClientVM != null ? "check-circle" :attCount <=0 ? "times-circle":"info-circle" )"></i>
                @client.client.CLI_Name
            </a>
        </li>
    }
</ul>

<div class="tab-content">
    @foreach (var item in Model)
    {
        <div id="@item.client.CLI_Id" class="tabcontent tab-pane fade">
            <div class="well well-sm"> <h3><u>@item.client.CLI_Name</u></h3></div>
            <hr />
            @{
                var distinceDesignations = item.wageRegisterVMs.Select(q => new { q.designation.DES_Id, q.designation.DES_Title }).Distinct();
            }
            @foreach (var dd in distinceDesignations)
            {
                List<WageRegisterVM> wageRegisters = item.wageRegisterVMs.Where(r => r.designation.DES_Id.Equals(dd.DES_Id)).ToList();
                ClientRequirementVM clientRequirement = wageRegisters.Select(m => m.clientRequirementVM).Where(m => m.CLI_Id.Equals(item.client.CLI_Id) && m.DES_Id.Equals(dd.DES_Id)).First();

                <div class="row">
                    <div class="col-sm-6"><h3>@dd.DES_Title</h3></div>
                    <div class="col-sm-6 text-right">
                        @if (clientRequirement.CRI_CanteenFacility == true)
                        {
                            @if (item.wageProcessClientVM == null && item.wageProcessVM.WageStatus == false)
                            {
                                @Html.ActionLink("Update canteen Amount", "UpdateCanteenAmount", "Canteen", new { CRI_Id = clientRequirement.CRI_Id, WAG_Id = wage.WAG_Id }, new { @class = "btn btn-sm btn-primary rounded" });
                            }
                        }
                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table table-border">
                        <thead style="font-weight:500">
                            <tr>
                                <td class="gainsboro">ID</td>
                                <td class="gainsboro">Name</td>
                                <td class="gainsboro">M/F</td>
                                <td class="gainsboro">Date Of Joining</td>
                                <td class="gainsboro">Total Working Days</td>
                                <td class="gainsboro">Total Payble Days</td>
                                <td class="lightgray">Basic</td>
                                <td class="lightgray">DA</td>
                                <td class="lightgray">HRA</td>
                                @foreach (var all in wageRegisters[0].allowanceVMs)
                                {
                                    <td class="lightgray">@all.allowanceVM.ALL_Alias</td>
                                }
                                <td class="lightgray">OT Amount</td>
                                <td class="lightgray">Gross Total</td>
                                <td class="silver">PF</td>
                                <td class="silver">ESIC</td>

                                @if (clientRequirement.CRI_ProfessionalTax == true)
                                {
                                    <td class="silver">Proffesional Tax</td>
                                }
                                @if (clientRequirement.CRI_RevenueDeduction == true)
                                {
                                    <td class="silver">Revenue Deduction</td>
                                }
                                @if (clientRequirement.CRI_CanteenFacility == true)
                                {
                                    <td class="silver">Canteen Facility</td>
                                }
                                <td class="silver">Advance Installment</td>
                                <td class="silver">Deduct Total</td>
                                <td class="gray">Final Amount</td>
                                @if (item.wageProcessClientVM != null && item.wageProcessVM.WageStatus == false)
                                {
                                    <td class="dimgray"></td>
                                }
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var employee in wageRegisters)
                            {
                                <tr>
                                    <td class="gainsboro">@employee.employeeVM.EMP_Id.ToString("D5")</td>
                                    <td class="gainsboro">@employee.employeeVM.EMP_FirstName @employee.employeeVM.EMP_MiddleName @employee.employeeVM.EMP_SurName</td>
                                    <td class="gainsboro">@(employee.employeeVM.EMP_Gender == true ? "M" : "F")</td>
                                    <td class="gainsboro">@DateHelper.getDateWithFormat(employee.employeeVM.EMP_DateOfJoining)</td>
                                    <td class="gainsboro">@employee.WAR_TotalWorkingDays</td>
                                    <td class="gainsboro">@employee.WAR_TotalPaybleDays</td>
                                    <td class="lightgray"><span title="(@(employee.WAR_Basic) / @employee.WAR_TotalWorkingDays) * @employee.WAR_TotalPaybleDays ">@(Math.Round(employee.WAR_Basic_Calculated))</span></td>
                                    <td class="lightgray"><span title="(@(employee.WAR_DA) / @employee.WAR_TotalWorkingDays) * @employee.WAR_TotalPaybleDays">@(Math.Round(employee.WAR_DA_Calculated))</span></td>
                                    @{
                                        string str1 = "";
                                        if (employee.clientRequirementVM.CRI_HRA_Fixed.ToString() == "")
                                        {
                                            str1 = "(" + employee.WAR_Basic_Calculated + "+" + employee.WAR_DA_Calculated + ")*" + employee.WAR_HRA + "%";
                                        }
                                        else
                                        {
                                            str1 = "(" + employee.WAR_HRA + "/" + employee.WAR_TotalWorkingDays + ")*" + employee.WAR_TotalPaybleDays;
                                        }
                                    }
                                    <td class="lightgray"><span title="@str1">@Math.Round(employee.WAR_HRA_Calculated)</span></td>
                                    @{
                                        foreach (var all in employee.allowanceVMs)
                                        {
                                            string str = "";
                                            if (all.WAA_DayswiseOrFull)
                                            {
                                                str = "(" + all.WAA_Amount + "/" + employee.WAR_TotalWorkingDays + ")*" + employee.WAR_TotalPaybleDays;
                                            }
                                            else
                                            {
                                                str = "Fixed " + all.WAA_Amount;
                                            }
                                            <td class="lightgray"><span title="@str">@Math.Round(all.WAA_Amount_Calculated)</span></td>
                                        }
                                    }
                                    <td class="lightgray">@Math.Round(employee.WAR_OverTime_Calculated)</td>
                                    <td class="lightgray">@Math.Round(employee.WAR_GrossTotal)</td>
                                    @{
                                        string toolPF = ProjectUtils.GetTooltipBasedOnFormula(employee.WAR_PF_Formula, employee.WAR_Basic_Calculated, employee.WAR_DA_Calculated, employee.WAR_HRA_Calculated, employee.allowanceVMs);
                                        toolPF = "(" + toolPF + ")*" + employee.WAR_PF + "%";
                                    }
                                    <td class="silver"><span title="@toolPF">@Math.Round(employee.WAR_PF_Calculated)</span></td>
                                    @{
                                        string toolESIC = ProjectUtils.GetTooltipBasedOnFormula(employee.WAR_ESIC_Formula, employee.WAR_Basic_Calculated, employee.WAR_DA_Calculated, employee.WAR_HRA_Calculated, employee.allowanceVMs);
                                        toolESIC = "(" + toolESIC + ")*" + employee.WAR_ESIC + "%";
                                    }
                                    <td class="silver"><span title="@toolESIC">@Math.Round(employee.WAR_ESIC_Calculated)</span></td>

                                    @if (clientRequirement.CRI_ProfessionalTax == true)
                                    {
                                        <td class="silver">
                                            <span title="toolESIC">
                                                @Math.Round(Convert.ToDecimal(employee.WAR_ProffesionalTax_Calculated))
                                            </span>
                                        </td>
                                    }
                                    @if (clientRequirement.CRI_RevenueDeduction == true)
                                    {
                                        <td class="silver"><span title="toolESIC">@(employee.WAR_RevenueDeduction_Calculated)</span></td>
                                    }
                                    @if (clientRequirement.CRI_CanteenFacility == true)
                                    {
                                        @if (employee.WAR_CanteenFacility_Calculation == "-")
                                        {
                                            <td class="silver">
                                                <span style="color:darkred">-</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="silver">
                                                <span>@(employee.WAR_CanteenFacility_Calculation)</span>
                                            </td>
                                        }


                                    }
                                    <td class="silver">@Math.Round(employee.WAR_Advance_Amount)</td>
                                    @{
                                        decimal DeductTotal = @Math.Round(employee.WAR_PF_Calculated) + @Math.Round(employee.WAR_ESIC_Calculated) + @Math.Round(Convert.ToDecimal(employee.WAR_ProffesionalTax_Calculated))
                                        + @Math.Round(employee.WAR_Advance_Amount);
                                        if (employee.WAR_RevenueDeduction_Calculated != "-")
                                        {
                                            DeductTotal += @Math.Round(Convert.ToDecimal(employee.WAR_RevenueDeduction_Calculated));
                                        }
                                        if (employee.WAR_CanteenFacility_Calculation != "-")
                                        {
                                            DeductTotal += @Math.Round(Convert.ToDecimal(employee.WAR_CanteenFacility_Calculation));
                                        }

                                    }
                                    <td class="silver">@DeductTotal</td>
                                    <td class="gray">@Math.Round(employee.WAR_FinalTotal)</td>

                                    @if (item.wageProcessClientVM != null && item.wageProcessVM.WageStatus == false)
                                    {
                                        <td class="dimgray my-class">@Html.ActionLink("Edit", "EditWageRegister", "WageRegister", new { WAR_Id = employee.WAR_Id }, new { @class = "myClass" })</td>
                                    }

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

            @if (item.wageProcessVM.WageStatus == false)
            {
                <div class="container">
                    @using (Html.BeginForm("SaveWageRegister", "WageRegister"))
                    {
                        <input type="hidden" name="item_CLI_Id" value="@item.client.CLI_Id" />
                        <input type="hidden" name="WAG_Id" value="@wage.WAG_Id" />
                        if (item.wageProcessClientVM != null)
                        {
                            <div class="alert alert-success" style="position: absolute;">
                                <h2>Web Register is finalized on  @DateHelper.getDateWithFormat(item.wageProcessClientVM.WPC_SavedOn)</h2> <br />
                                <input type="submit" value="Reset" formaction="ResetWageRegister" onclick="return confirm('Are you sure you want to reset?');" class="btn btn-success pull-right" />
                            </div>
                            @*<input type="submit" value="Download Excel" formaction="ResetWageRegister" class="btn btn-info pull-right" />*@
                            <a class="btn btn-info pull-right" href='@Url.Action( "WageRegisterExcel","WageRegister",new { WAG_Id = wage.WAG_Id })' title="Download Excel"><i class="fa fa-file-excel-o m-r-5"></i>Download Excel</a>
                        }
                        else if (item.wageProcessVM.Attendance.Where(m => m.CLI_Id.Equals(item.client.CLI_Id)).Count() <= 0)
                        {
                            <div class="alert alert-danger" style="position: absolute;">
                                <h2>Attandance is pending </h2><br />
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-warning" style="position: absolute;">
                                <h2>Web Register is ready to finalize</h2> <br />
                                <input type="submit" value="Save" formaction="SaveWageRegister" onclick="return confirm('Are you sure you want to save?');" class="btn btn-warning pull-right" />
                            </div>
                        }
                    }
                </div>
            }
        </div>

    }

</div>
