@model List<RMERP.DAL.ViewModel.SelectionVM>

    <div class="row well well-lg">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="check" id="checkAll"> <strong>Select All Clients</strong>
            </label>
        </div>
        @for (var i = 0; i < Model.Count; i++)
        {
            <div class="col-sm-6 client-selection-model">
                @Html.HiddenFor(m => Model[i].WAG_Id)
                @Html.HiddenFor(m => Model[i].CLI_Id)
                @Html.HiddenFor(m => Model[i].CLI_Name)
                <label class="check-client">
                    @Html.CheckBoxFor(m => Model[i].IsSelect, new { id = Model[i].CLI_Id, @class = "check" })
                    @Html.DisplayFor(m => Model[i].CLI_Name, new { @class = "form-control" })
                </label>
            </div>
        }
    </div>

   
