@model RMERP.DAL.ViewModel.WagePaySlipMasterVM
@using RMERP.Helpers

@{
    ViewData["Title"] = "PaySlipGenerate";
}

@section Breadcrumbs{
    <li class="breadcrumb-item">@Html.ActionLink("Wage Process", "Index", "WageProcess", new { FRM_Id = Model.FRM_Id })</li>
    <li class="breadcrumb-item">Pay Slips</li>
}
<div>
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">@Model.FRM_Name (@Model.WAG_Month)</h4>
            </div>
            <div class="col-sm-4 text-right m-b-30">
                <a id="btnGenerateAll" class="btn btn-primary rounded" onclick="GeneratePaySlip_All(@Model.WAG_Id,0)">Generate For All</a>
                <img id="All_loading-image" src="~/assets/img/smallLoading.gif" style="display:none;" />
            </div>
        </div>
            <div class="progress" style="display:none;">
                <div class="progress-bar progress-bar-danger" role="progressbar"
                     aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    <span id="per">0</span>% Complete
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div>
                        <table class="table table-striped custom-table">
                            <thead>
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Employee ID</th>
                                    <th>Employee Name</th>
                                    @Html.Hidden("totEmpCount", Model.EmpPaySlipVMs.Where(m => m.IsPaySlipGenerated).Count())
                                    <th># <span>Outof @Model.EmpPaySlipVMs.Count() , Total <span id="pdfCount">@Model.EmpPaySlipVMs.Where(m => m.IsPaySlipGenerated).Count()</span> Generated</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var srNo = 0;                                    
                                }
                                @foreach (var item in Model.EmpPaySlipVMs)
                                {
                                    srNo = srNo + 1;

                                    <tr>
                                        <td>@srNo</td>
                                        <td>@item.EMP_Id.ToString("D5")</td>
                                        <td>@item.EMP_FullName</td>
                                        <td>
                                            @if (item.IsPaySlipGenerated)
                                            {
                                                <span>
                                                    <a id="btnDownload" href="@Url.Action("DownloadPaySlip","Reports",new { WPS_Id=item.WPS_Id})" class="btn btn-xs btn-success">Download</a>
                                                    <a id="btnRegenerate" onclick="GeneratePaySlip(@Model.WAG_Id,@item.EMP_Id,@item.WPS_Id)" class="btn btn-xs btn-warning">Regenerate</a>
                                                    <img id="R_loading-image_@item.EMP_Id" src="~/assets/img/smallLoading.gif" style="display:none;" />
                                                    <br />
                                                    <span class="label label-success-border">Generated on @DateHelper.getLongDateFormat(item.WPS_GeneratedOn.Value) </span>
                                                </span>
                                            }
                                            else
                                            {
                                                <span id="spanNotGenerated_@item.EMP_Id">
                                                    <span class="label label-danger-border">Not Generated Yet </span>
                                                    <span>&nbsp;&nbsp;</span>
                                                    <span>
                                                        <a class="btn btn-xs btn-info" onclick="GeneratePaySlip(@Model.WAG_Id,@item.EMP_Id)"> Generate PaySlip</a>
                                                        <img id="loading-image_@item.EMP_Id" src="~/assets/img/smallLoading.gif" style="display:none;" />
                                                    </span>
                                                </span>                                                
                                            }
                                            <img id="All_loading-image_@item.EMP_Id" src="~/assets/img/smallLoading.gif" style="display:none;" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section scripts{
    <script>      
        function GeneratePaySlip(WAG_Id, EMP_Id, WPS_Id) {              
            var Url = siteUrl + "Reports/GeneratedPaySlip?WAG_Id=" + WAG_Id + "&EMP_Id=" + EMP_Id+"&WPS_Id="+WPS_Id;
            $.ajax({
                type: "GET",
                url: Url,
                beforeSend: function () {                    
                        if (WPS_Id > 0)
                            $("#R_loading-image_" + EMP_Id).show();
                        else
                            $("#loading-image_" + EMP_Id).show();                    
                },
                success: function (data) {                    
                    window.location.replace(siteUrl + "Reports/PaySlipGenerate?WAG_Id=" + WAG_Id);
                }
            })
        };        
        function GeneratePaySlip_All(WAG_Id, id) {             
            var emps = @Html.Raw(Json.Serialize(Model.EmpPaySlipVMs));  
             var EMP_Id= emps[id].emP_Id;
            var WPS_Id= emps[id].wpS_Id;
            var Url = siteUrl + "Reports/GeneratedPaySlip?WAG_Id=" + WAG_Id + "&EMP_Id=" + EMP_Id + "&WPS_Id=" + WPS_Id;
            $.ajax({
                type: "GET",
                url: Url,
                beforeSend: function () {                   
                        if (WPS_Id > 0)
                            $("#R_loading-image_" + EMP_Id).show();
                        else
                            $("#loading-image_" + EMP_Id).show();                    
                },
                success: function (data) {
                    id = id + 1; 
                    $(".progress").show();
                    var per = Math.ceil((parseInt(id) * 100) / emps.length);
                    if (per > 25 && per < 50) {
                        $(".progress-bar").removeClass("progress-bar-danger").addClass("progress-bar-warning");                        
                    }else if (per >= 50 && per < 75) {
                        $(".progress-bar").removeClass("progress-bar-warning").addClass("progress-bar-info");                        
                    }
                    else if (per >= 75) {
                        $(".progress-bar").removeClass("progress-bar-info").addClass("progress-bar-success");                        
                    }
                    $(".progress-bar").removeAttr("style").attr("style","width:"+per+"%");
                    $("#per").text(per);
                    if (WPS_Id > 0)
                            $("#R_loading-image_" + EMP_Id).hide();
                        else
                            $("#loading-image_" + EMP_Id).hide();  
                                      
                    if (emps.length <= id) {                     
                        window.location.replace(siteUrl + "Reports/PaySlipGenerate?WAG_Id=" + WAG_Id);
                    } else {
                        GeneratePaySlip_All(WAG_Id, id);
                    }
                }
            })
        };
       
    </script>
}