@model RMERP.DAL.ViewModel.WagePaySlipMasterVM
@using RMERP.Helpers

@{
    ViewData["Title"] = "PaySlipGenerate";
}

@section Breadcrumbs{
    <li class="breadcrumb-item">@Html.ActionLink("Wage Process", "Index", "WageProcess", new { FRM_Id = Model.FRM_Id })</li>
    <li class="breadcrumb-item">Pay Slips</li>
}
<div>
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">@Model.FRM_Name (@Model.WAG_Month)</h4>
            </div>
            <div class="col-sm-4 text-right m-b-30">
                <a class="btn btn-primary rounded" onclick="GeneratePaySlipForAll(@Model.WAG_Id)">Generate For All</a>                
                <img id="All_loading-image" src="~/assets/img/smallLoading.gif" style="display:none;" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <table class="table table-striped custom-table">
                        <thead>
                            <tr>
                                <th>Sr.No</th>
                                <th>Employee ID</th>
                                <th>Employee Name</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var srNo = 0; }
                            @foreach (var item in Model.EmpPaySlipVMs)
                            {
                                srNo = srNo + 1;
                            <tr>
                                <td>@srNo</td>
                                <td>@item.EMP_Id.ToString("D5")</td>
                                <td>@item.EMP_FullName</td>
                                <td>
                                    @if (item.IsPaySlipGenerated)
                                    {
                                        <span>
                                            <a id="btnDownload" href="@Url.Action("DownloadPaySlip","Reports",new { WPS_Id=item.WPS_Id})" class="btn btn-xs btn-success">Download</a>
                                            <a id="btnRegenerate" onclick="GeneratePaySlip(@Model.WAG_Id,@item.EMP_Id,@item.WPS_Id)" class="btn btn-xs btn-warning">Regenerate</a>
                                            <img id="R_loading-image_@item.EMP_Id" src="~/assets/img/smallLoading.gif" style="display:none;" />
                                            <br />
                                            <span class="label label-success-border">Generated on @DateHelper.getLongDateFormat(item.WPS_GeneratedOn.Value) </span>
                                        </span>
                                    }
                                    else
                                    {
                                        <span id="spanNotGenerated">
                                            <span class="label label-danger-border">Not Generated Yet </span>
                                            <span>&nbsp;&nbsp;</span>
                                            <span>
                                                <a class="btn btn-xs btn-info" onclick="GeneratePaySlip(@Model.WAG_Id,@item.EMP_Id,0)"> Generate PaySlip</a>
                                                <img id="loading-image_@item.EMP_Id" src="~/assets/img/smallLoading.gif" style="display:none;" />
                                            </span>
                                        </span>

                                    }
                                    <img id="All_loading-image_@item.EMP_Id" src="~/assets/img/smallLoading.gif" style="display:none;" />
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function GeneratePaySlip(WAG_Id, EMP_Id, WPS_Id) {              
            var Url = siteUrl + "Reports/GeneratedPaySlip?WAG_Id=" + WAG_Id + "&EMP_Id=" + EMP_Id+"&WPS_Id="+WPS_Id;
            $.ajax({
                type: "GET",
                url: Url,
                beforeSend: function () {                    
                        if (WPS_Id > 0)
                            $("#R_loading-image_" + EMP_Id).show();
                        else
                            $("#loading-image_" + EMP_Id).show();                    
                },
                success: function (data) {                    
                    window.location.replace(siteUrl + "Reports/PaySlipGenerate?WAG_Id=" + WAG_Id);
                }
            })
        };
        function GeneratePaySlipForAll(WAG_Id) {          
            var i;
            var emps = @Html.Raw(Json.Serialize(Model.EmpPaySlipVMs));
            for (i = 0; i <= emps.length - 1; i++) {                 
                GeneratePaySlip(WAG_Id,emps[i].emP_Id,emps[i].wpS_Id);
            }                           
        }
       
    </script>
}