@model RMERP.DAL.ViewModel.updateWageRegisterAllowance_8
@{
   ViewData["Title"] = "Update " + Model.CRI_Allowance_Name_8 + " Allowance";
   Layout = "~/Views/Shared/_RMLayout.cshtml";
}
@section Breadcrumbs{
   <li class="breadcrumb-item">@Html.ActionLink("Wage Process", "Index", "WageProcess", new { FRM_Id = Model.AllowancesVMs[0].FRM_ID })</li>
   <li class="breadcrumb-item">@Html.ActionLink("Wage Register", "WageRegister", "WageRegister", new { WAG_Id = Model.AllowancesVMs[0].WAG_Id, FRM_Id = Model.AllowancesVMs[0].FRM_ID })</li>
   <li class="breadcrumb-item">Update Allowance Amount</li>
}
@section scripts{
   @if (TempData["message"] != null)
   {
      <script>
            $(document).ready(function () {
            alert('@TempData["message"]');
        });
      </script>
   };
}
<style>
   .modal-dialog {
      transform: translate(0, -50%);
      top: 30%;
      margin: 0 auto;
   }
</style>
<div>
   <div class="content container-fluid">
      <div class="row">
         <div class="col-sm-8">
            <h4 class="page-title">@ViewData["Title"] ( @ViewBag.Wag_Month )</h4>
         </div>
         <div class="col-sm-4 text-right m-b-30">

         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div>
               @using (Html.BeginForm("UpdateAmount_8", "Allowances", FormMethod.Post))
               {
                  @Html.HiddenFor(m => m.CLI_Id)
                  <table class="table table-striped custom-table">
                     <thead>
                        <tr>
                           <th>Employee</th>
                           <th>Amount</th>

                        </tr>
                     </thead>
                     <tbody>
                        @for (var i = 0; i < Model.AllowancesVMs.Count; i++)
                        {
                           <tr>
                              <td width="75%"><b>@Html.DisplayFor(m => m.AllowancesVMs[i].Emp_Name)</b></td>
                              <td>
                                 @Html.HiddenFor(m => m.AllowancesVMs[i].CLE_Id)
                                 @Html.HiddenFor(m => m.AllowancesVMs[i].WAG_Id)
                                 @Html.HiddenFor(m => m.AllowancesVMs[i].WRA_Id_8)
                                 @Html.HiddenFor(m => m.AllowancesVMs[i].CRI_Id)
                                 @Html.HiddenFor(m => m.AllowancesVMs[i].FRM_ID)
                                 <div class="form-group">
                                    @Html.TextBoxFor(m => m.AllowancesVMs[i].WRA_Amount_8, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.AllowancesVMs[i].WRA_Amount_8, "", new { @class = "text-danger" })
                                 </div>

                              </td>
                           </tr>
                        }

                     </tbody>
                  </table>
                  <div class="row">
                     <div class="col-md-12">
                        <div class="form-group text-right">
                           <input type="submit" value="Save & Update in Wage Register" id="btnSubmit" class="btn btn-primary" />
                        </div>
                     </div>
                  </div>
               }

            </div>
         </div>
      </div>
   </div>
</div>
