@model RMERP.DAL.ViewModel.updateWageRegisterCanteen
@{
    ViewData["Title"] = "Update Canteen Amount";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}

@section scripts{
    @if (TempData["message"] != null)
    {
        <script>
            $(document).ready(function () {
            alert('@TempData["message"]');
        });
        </script>
    };
}
<style>
    .modal-dialog {
        transform: translate(0, -50%);
        top: 30%;
        margin: 0 auto;
    }
</style>
<div>
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">@ViewData["Title"]</h4>
            </div>
            <div class="col-sm-4 text-right m-b-30">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    @using (Html.BeginForm("UpdateAmount", "Canteen", FormMethod.Post))
                    {
                        <table class="table table-striped custom-table">
                            <thead>
                                <tr>
                                    <th>Employee</th>
                                    <th>Amount</th>

                                </tr>
                            </thead>
                            <tbody>
                                    @for (var i = 0; i < Model.canteenVMs.Count; i++)                                    
                                        {
                                            <tr>
                                                <td><b>@Html.DisplayFor(m=>m.canteenVMs[i].Emp_Name)</b></td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                @Html.HiddenFor(m => m.canteenVMs[i].CLE_Id)
                                                                @Html.HiddenFor(m => m.canteenVMs[i].WAG_Id)
                                                                @Html.HiddenFor(m => m.canteenVMs[i].WRC_Id) 
                                                                @Html.HiddenFor(m => m.canteenVMs[i].CRI_Id)

                                                                @Html.TextBoxFor(m => m.canteenVMs[i].WRC_Amount, new { @class = "form-control" })
                                                                @Html.ValidationMessageFor(m => m.canteenVMs[i].WRC_Amount, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group text-right">
                                    <input type="submit" name="Submit Amount" value="Submit Amount" id="btnSubmit" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-12">                
                    <div class="form-group text-right">
                        <input type="button" onclick="UpdateCanteenAmount()" name="Submit" value="Submit" class="btn btn-warning" />
                    </div>               
            </div>
        </div>*@
    </div>
</div>


@*<script>
    function UpdateCanteenAmount(Emp_ID, CLE_Id, WAG_Id, WRC_Id, CRI_Id) {
        debugger;
        var amount = $("#WRC_Amount_" + Emp_ID).val();
        var Url = siteUrl + "Canteen/UpdateAmount?CLE_Id=" + CLE_Id + "&WAG_Id=" + WAG_Id + "&WRC_Id=" + WRC_Id + "&CRI_Id=" + CRI_Id+"&amount=" + amount;
        $.ajax({
            type: "POST",
            url: Url
        });
    }
</script>*@

