@model List<RMERP.DAL.ViewModel.ClientEmployeeVM>
@using RMERP.Helpers;
@using RMERP.DAL.Helpers;

@if (Model != null)
{
    <table class="table table-striped custom-table m-b-0 ">
        <thead>
            <tr>
                <th>Designation</th>
                <th>Employee</th>
                <th>Assign On</th>
                <th class="text-right">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                bool IsUnAssign = false;
                var style = "";
                if (item.CLE_UnassignedOn != null)
                {
                    style = "style=color:orangered;";
                    IsUnAssign = true;
                }
                <tr @style>
                    <td><b>@item.DES_Title</b></td>
                    <td>@item.employee.EMP_FullName</td>
                    <td>
                        @DateHelper.getLongDateFormat(item.CLE_RegisteredOn)
                        @if (IsUnAssign)
                        {
                            <br /> <span style="color:gray;font-size:10px;">UnAssigned On : @DateHelper.getLongDateFormat(item.CLE_UnassignedOn.Value) <i class="fa fa-edit" onclick="EditUnassignDate(@item.CLE_Id,@item.CLI_Id,'edit')"></i></span>
                        }
                    </td>

                    <td class="text-right">
                        <div class="dropdown">
                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                            <ul class="dropdown-menu pull-right">
                                @if (!IsUnAssign)
                                {
                                    <li><a href='#' onclick="EditUnassignDate(@item.CLE_Id,@item.CLI_Id,'add')" title="Unassign"><i class="fa fa-trash m-r-5"></i> Unassign</a></li>
                                }
                                <li><a href='@Url.Action("AddEmployee","Clients",new { CLI_Id=item.CLI_Id, CLE_Id=item.CLE_Id})' title="Edit"><i class="fa fa-edit m-r-5"></i> Edit</a></li>
                                @if (!item.IsEmployeeWagedForClient && item.CLE_UnassignedOn == null)
                                {
                                    <li><a href='#' onclick="onDeleteEmployeeClick(@item.CLE_Id,@item.CLI_Id,@item.EMP_Id,@item.DES_Id)" title="Delete"><i class="fa fa-remove m-r-5"></i> Delete</a></li>
                                }
                                @if (IsUnAssign && item.CLE_UnassignedOn != null)
                                {
                                    @if (item.CLE_UnassignedOn.Value.Date > ProjectUtils.DateNow().AddMonths(-1).Date)
                                    {
                                        <li><a href='@Url.Action("RevertAssignEmployee","Clients",new { CLE_Id=item.CLE_Id})' title="Revert"><i class="fa fa-undo m-r-5"></i> Revert</a></li>
                                    }
                                }

                            </ul>

                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <p>Assign first Employee to this Client</p>
}

<div id="divEditDate"></div>