@model IEnumerable<RMERP.DAL.Models.Clients>
@using Microsoft.Extensions.Configuration;

@{
    @inject IConfiguration Configuration;
    string ImagePath = Configuration.GetSection("DEFAULT_URL").Value + "/" + Configuration.GetSection("CLIENTS_LOGO_PATH").Value;

}

<div class="row staff-grid-row">
    @foreach (var item in Model)
    {
        string Path = "/" +item.CLI_Id + "/" + item.CLI_Logo;

        <div class="col-md-4 col-sm-4 col-xs-6 col-lg-3">
            <div class="profile-widget ClientProfile">
                <div style="position:absolute;top:5px;left:5px;">@item.FRM_.FRM_ShortName</div>
                <div class="profile-img">
                    <a class="avatar">
                        @if (item.CLI_Logo != null)
                        {
                            <img class="avatar" src="@ImagePath/@Path" />
                        }
                        else
                        {
                            @item.CLI_Name[0].ToString()
                        }
                    </a>

                </div>

                <h4 class="user-name m-t-10 m-b-0" style="min-height: 45px;"><a>@item.CLI_Name</a></h4>
                @if (item.Client_Contacts.Where(m => m.CON_isPrimary.Equals(true)).Count() > 0)
                {
                    <div class="small text-muted">
                        @item.Client_Contacts.Where(m => m.CON_isPrimary.Equals(true)).FirstOrDefault().CON_FirstName
                        @item.Client_Contacts.Where(m => m.CON_isPrimary.Equals(true)).FirstOrDefault().CON_SurName
                    </div>
                }
                else
                {
                    <div class="small text-muted"> No Primary Contact Person</div>
                }
                <a href="@Url.Action("AddEditClients","Clients",new { @id=item.CLI_Id})" class="btn btn-default btn-sm m-t-10">Edit</a>
            </div>
        </div>
    }

</div>