@model RMERP.DAL.ViewModel.UnassignVM
<style>
    .modal-dialog {
        padding-top: 50px;
    }
</style>
<script src="@Url.Content("~/assets/lib/jquery-validation/dist/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div id="ModelEditDate" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-md">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose Date!</h4>                
            </div>
            <div class="modal-body">
                <div class='alert alert-warning' style='font-size:12px;'>Employee will be available in the wage of selected date's month.</div>
                @using (Html.BeginForm("UnassignClientEmp", "Clients", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.CLE_Id)
                    <div class="form-group">                        
                        @Html.EditorFor(m => m.UnassignedOn, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UnassignedOn, "", new { @class = "text-danger" })
                    </div>
                    <div class="m-t-20 text-center">
                        <input type="submit" name="Submit" id="btnSubmit" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
