@model RMERP.DAL.ViewModel.ClientRequirementVM
@using static RMERP.DAL.App_Code.ProjectUtils;
@using static RMERP.DAL.Helpers.ProjectUtils;
@using RMERP.DAL.Models;
@using RMERP.DAL.ViewModel;
@{
    ViewData["Title"] = "Client Requirement Detail";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}
<style>
    .has-error .control-label {
        color: black
    }

    .has-error .help-block {
        color: red
    }

    .has-error .form-control {
        border-color: darkorange;
    }

    .other-allowance {
        margin-left: 30px;
    }

        .other-allowance label {
            font-weight: normal !important;
        }

    .manualError {
        color: red;
        font-size: 12px;
        margin-bottom: 7px;
        margin-top: 7px;
    }
</style>
@section scripts{

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
    @if (Model.CRI_Id > 0)
    {
        <script src="~/assets/Scripts/requirement_Edit.js"></script>
    }
    else
    {
        <script src="~/assets/Scripts/requirement.js"></script>
    }
    <script src="@Url.Content("~/assets/lib/jquery-validation/dist/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {

            var tab = GetParameterValues("tab");

            function GetParameterValues(param) {
                var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < url.length; i++) {
                    var urlparam = url[i].split('=');
                    if (urlparam[0] == param) {
                        return urlparam[1];
                    }
                }
            };
            if (tab == "History" || tab == "ViewRequirement") {
                $('select', 'form').attr('disabled', true).attr('readonly', true);
                $('input', 'form').attr('disabled', true).attr('readonly', true);
                $('button', 'form').attr('disabled', true).attr('readonly', true);
            }


            $('input[class="Allselection"]').click(function () {               
                if ($(this).prop("checked") == true) {
                    $("#divReqAllow_" + this.id).show();
                    addCheckbox(this.id);
                    $("#flagClientRequirement" + this.id).val("true");
                }
                else if ($(this).prop("checked") == false) {
                    $("#divReqAllow_" + this.id).hide();
                    $("#chk_" + this.id).remove();
                    $("#lbl_" + this.id).remove();
                    $("#br" + this.id).remove();
                    $("#flagClientRequirement" + this.id).val("false");
                }
            });
            var PFSelection = [];
            var ESICSelection = [];
            var OTSelection = [];
            var OTDeductSelection = [];
            if ($("#CRI_PF_Formula").val() != "") {
                PFSelection = $("#CRI_PF_Formula").val().split("+");
            }
            if ($("#CRI_ESIC_Formula").val() != "") {
                ESICSelection = $("#CRI_ESIC_Formula").val().split("+");
            }
            if ($("#CRI_OT_Formula").val() != "") {
                var OT_Formula = $("#CRI_OT_Formula").val();

                if (($("#CRI_OT_Formula").val().includes("-"))) {
                    OTSelection = OT_Formula.substring(0, OT_Formula.indexOf('-')).split("+");
                    OTDeductSelection = OT_Formula.substring(OT_Formula.indexOf('-') + 1).split("-");
                } else {
                    OTSelection = OT_Formula.split("+");
                }

            }
            $(document).on("click", "INPUT[class^=PFselection]", function (event) {
                if ($(this).prop("checked") == true) {
                    PFSelection.push($(this).prop('value'));
                }
                else if ($(this).prop("checked") == false) {
                    PFSelection.splice(PFSelection.indexOf($(this).prop('value')), 1)
                }
                $("#CRI_PF_Formula").val(PFSelection.join("+"));
            });
            $(document).on("click", "INPUT[class^=ESICselection]", function (event) {
                if ($(this).prop("checked") == true) {
                    ESICSelection.push($(this).prop('value'));
                }
                else if ($(this).prop("checked") == false) {
                    ESICSelection.splice(ESICSelection.indexOf($(this).prop('value')), 1)
                }
                $("#CRI_ESIC_Formula").val(ESICSelection.join("+"));
            });
            $(document).on("click", "INPUT[class^=OTselection]", function (event) {
                calculateFormula();
            });
            $(document).on("click", "INPUT[class^=OTDeductSelection]", function (event) {
                calculateFormula();
            });

            function calculateFormula() {
                var str = "";
                $("INPUT[class=OTselection]")  // for all checkboxes
                    .each(function () {  // first pass, create name mapping
                        if (this.checked) {
                            str = str + (str.length > 0 ? "+" : "") + this.value;
                        }
                    });
                $("INPUT[class=OTDeductSelection]")  // for all checkboxes
                    .each(function () {  // first pass, create name mapping
                        if (this.checked) {
                            str = str + "-" + this.value;
                        }
                    });

                $("#CRI_OT_Formula").val(str);
            }


            function addCheckbox(AllId) {               
                var id = parseInt(AllId);
                var container = $('#PFlist');
                var containerEsic = $('#ESIClist');
                var containerOT = $('#OTlist');
                var containerDeductOT = $('#OTDeductlist');
                var short = $("#allAllowances_" + (parseInt(id) - 1) + "__allowance_ALL_Shortform");
                var id = 'PF_' + short.val();
                container.append("<div class='col-md-12'><input type='checkbox' class='PFselection' id='" + id + "' value='" + short.val() + "' />" + short.val() + "</div>")
                containerEsic.append("<div class='col-md-12'><input type='checkbox' class='ESICselection' id='" + id + "' value='" + short.val() + "' />" + short.val() + "</div>")
                containerOT.append("<div class='col-md-12'><input type='checkbox' class='OTselection' id='" + id + "' value='" + short.val() + "' />" + short.val() + "</div>")
                containerDeductOT.append("<div class='col-md-12'><input type='checkbox' class='OTDeductSelection' id='" + id + "' value='" + short.val() + "' />" + short.val() + "</div>")
                //$('<input />', { type: 'checkbox', name: short.val(), class: 'ESICselection', id: 'ESIC_'+short.val(), value: short.val() }).appendTo(containerEsic);
                //$('<div />', { 'for': 'esic' + id, id: 'lbl_' + id, text: v.val(), value: short.val() }).appendTo(containerEsic);
                //$('<br/>', { id: 'br' + id }).appendTo(containerEsic);

            }
        });
        $("input[id='rdo_OT_Payable']").click(function () {         
            $("#divOTdifferently").hide();
            $("#divByFormula").hide();
            $("#div_OT_Per_Hr").hide();
            $('#rdo_OT_Payable').val("True");            
        });
        $("input[id='rdo_OT_Differently']").click(function () {        
            $("#divOTdifferently").show();
            $("#divByFormula").hide();
            $("#div_OT_Per_Hr").show();
            $('#rdo_OT_Payable').val("False");
        });
        $("input[id='rdo_OT_Fixed_Amount']").click(function () {
            $("#divOTdifferently").show();
            $("#divByFormula").hide();
            $("#div_OT_Per_Hr").show();
            $('#rdo_OT_Payable').val("False");
            $('#rdo_OT_Fixed_Amount').val("True");

        });
        $("input[id='rdo_OT_By_Formula']").click(function () { 
            $("#divOTdifferently").show();
            $("#divByFormula").show();
            $("#div_OT_Per_Hr").hide();
            $('#rdo_OT_Payable').val("False");
            $('#rdo_OT_Fixed_Amount').val("False");


        });
        $('input[id="chkOutStation"]').click(function () {
            if ($(this).prop("checked") == true) {
                $("#divOutStaion").show();
            }
            else if ($(this).prop("checked") == false) {
                $("#divOutStaion").hide();
            }
        });
        $('input[id="chkAttendance"]').click(function () {
            if ($(this).prop("checked") == true) {
                $("#divAttendance").show();
            }
            else if ($(this).prop("checked") == false) {
                $("#divAttendance").hide();
            }
        });
        $('.HRAselection').change(function () {
            var value = $(this).filter(':checked').val();
            if (value == "True") {
                $("#CRI_HRA_Percentage").hide();
                $("#CRI_HRA_Fixed").show();
            }
            else if (value == "False") {
                $("#CRI_HRA_Percentage").show();
                $("#CRI_HRA_Fixed").hide();
            }
        });
        $(".btnSave").click(function () {
            var isCheckedPayable = $('#rdo_OT_Payable').prop('checked');
            if (isCheckedPayable == false) {
                var isCheckedFixed = $('#rdo_OT_Fixed_Amount').prop('checked');
                if (isCheckedFixed == false) {
                    if ($("#CRI_OT_Formula").val() == "") {
                        $(".errorFormula").html("Formula required");
                        return false;
                    }
                } else {
                    if ($("#CRI_OT_Fixed_PerHour").val() == "" || $("#CRI_OT_Fixed_PerHour").val() <= 0) {
                        $(".errorAmount").html("Amount required");
                        return false;
                    }
                }

            }
        });
    </script>


    @if (TempData["message"] != null)
    {
        <script>
            $(document).ready(function () {
                alert('@TempData["message"]');
        });
        </script>
    };

}
@{
    Clients client = ViewBag.client;
}
<div class="modal-dialog modelLeftSide">
    <div class="modal-content modal-lg">
        <div class="modal-header">
            <h4 class="modal-title">@client.CLI_Name</h4>
        </div>
        <div class="modal-body">
            <div class="m-b-30">
                @using (Html.BeginForm("AddEditRequirement", "Clients", FormMethod.Post, new { @id = "accountForm", @class = "my-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.CRI_Id)
                    @Html.HiddenFor(m => m.CRI_Active)
                    if (Model.CRI_Id > 0)
                    {
                        @Html.HiddenFor(m => m.DES_Id, new { @id = "designationID" })
                    }
                    @Html.HiddenFor(m => m.CLI_Id)

                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Designation" data-toggle="tab">Designation <i class="fa"></i></a></li>
                        <li><a href="#SalaryAllowances" data-toggle="tab">Salary and Incentives <i class="fa"></i></a></li>
                        <li><a href="#Deduction" data-toggle="tab">Deduction <i class="fa"></i></a></li>
                        <li><a href="#OverTime" data-toggle="tab">Over Time <i class="fa"></i></a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="Designation" class="tab-pane active">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.DES_Id, new { @class = "control-label" })
                                        @if (Model.CRI_Id > 0)
                                        {
                                            @Html.HiddenFor(m => m.DES_Id)
                                            @Html.TextBox("DES_Title", Model.DES_Title, new { @readonly = "readonly", @class = "form-control" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(m => m.DES_Id, new SelectList(ViewBag.Designation, "DES_Id", "DES_Title"), "Select Designation", new { @class = "form-control" })
                                        }
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.CRI_Total, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.CRI_Total, new { @type = "number", @min = "1", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="SalaryAllowances" class="tab-pane">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.CRI_Basic, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.CRI_Basic, new { @class = "form-control" })
                                        @*@Html.ValidationMessageFor(x => x.CRI_Basic, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.CRI_DA, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.CRI_DA, new { @class = "form-control" })
                                        @*@Html.ValidationMessageFor(x => x.CRI_DA, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("HRA")
                                        @Html.RadioButtonFor(m => m.HRAselection, false, new { @class = "HRAselection", @checked = "checked", @style = "margin: 0px 0 0" }) Percentage
                                        @Html.RadioButtonFor(m => m.HRAselection, true, new { @class = "HRAselection", @style = "margin: 0px 0 0" }) Fixed

                                        @Html.TextBoxFor(m => m.CRI_HRA_Percentage, new { @class = "form-control", style = "display:" + (@Model.HRAselection == true ? "none" : "block") })
                                        @Html.TextBoxFor(m => m.CRI_HRA_Fixed, new { @class = "form-control", style = "display:" + (@Model.HRAselection == true ? "block" : "none") })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    @Html.CheckBoxFor(m => m.CRI_IsPayable_WeeklyOff)
                                    @Html.LabelFor(m => m.CRI_IsPayable_WeeklyOff, new { @class = "control-label" })
                                </div>

                                <div class="col-md-6">
                                    @Html.CheckBoxFor(m => m.CRI_IsPayable_PublicHoliday)
                                    @Html.LabelFor(m => m.CRI_IsPayable_PublicHoliday, new { @class = "control-label" })
                                </div>
                                <div class="col-md-12">
                                    <hr />
                                </div>
                                <div class="col-md-12">
                                    <label>
                                        @Html.CheckBoxFor(m => m.CRI_OutStation_Allowance, new { @id = "chkOutStation" })
                                        &nbsp;@Html.LabelFor(m => m.CRI_OutStation_Allowance, new { @for = "chkOutStation" })
                                    </label>
                                    <div id="divOutStaion" style="display:@(Model.CRI_OutStation_Allowance ? "block" : "none")">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="col-md-12">
                                                    <div class="col-md-10">
                                                        @Html.TextBoxFor(m => m.CRI_OutStation_Allowance_Rate, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.CRI_OutStation_Allowance_Rate, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-2">
                                                        @Html.Raw("INR/Hr")
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label>
                                        @Html.CheckBoxFor(m => m.CRI_Attendance_Allowance, new { @id = "chkAttendance" })
                                        &nbsp;@Html.LabelFor(m => m.CRI_Attendance_Allowance, new { @for = "chkAttendance" })
                                    </label>
                                    <div id="divAttendance" style="display:@(Model.CRI_Attendance_Allowance ? "block" : "none")">
                                        <div class="col-md-12">
                                            <div class="col-md-10">
                                                Pay @Html.TextBoxFor(m => m.CRI_Attendance_Allowance_Rate, new { @class = "client-textbox" }) INR if maximum  @Html.TextBoxFor(m => m.CRI_Attendance_Allowance_MaximumDays, new { @class = "client-textbox" }) days off.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <hr />
                                </div>
                                <div class="col-md-12">
                                    <b>Other Allowances</b>
                                </div>
                                <div class="col-md-12 other-allowance">
                                    <div class="form-group">
                                        <div class="row">
                                            @for (var i = 0; i < Model.allAllowances.Count; i++)
                                            {
                                                <div class="col-md-12">
                                                    <label>
                                                        @Html.CheckBoxFor(m => m.allAllowances[i].flagClientRequirement, new { @class = "Allselection", @id = Model.allAllowances[i].ALL_Id })&nbsp;@Model.allAllowances[i].allowance.ALL_Title

                                                        @Html.HiddenFor(m => Model.allAllowances[i].allowance.ALL_Title, new { @Value = Model.allAllowances[i].allowance.ALL_Title })
                                                        @Html.HiddenFor(m => Model.allAllowances[i].allowance.ALL_Shortform, new { @Value = Model.allAllowances[i].allowance.ALL_Shortform })
                                                    </label>
                                                    @Html.HiddenFor(m => m.allAllowances[i].ALL_Id)
                                                    @Html.HiddenFor(m => m.allAllowances[i].flagClientRequirement, new { @id = "flagClientRequirement" + Model.allAllowances[i].ALL_Id })
                                                    <div id="divReqAllow_@Model.allAllowances[i].ALL_Id" style="display:@(Model.allAllowances[i].flagClientRequirement ? "block" : "none")">
                                                        <div class="col-md-12">
                                                            <div class="col-md-6">
                                                                <div class="col-md-12">
                                                                    <div class="col-md-10">
                                                                        @Html.TextBoxFor(m => m.allAllowances[i].CRA_Amount, new { @class = "form-control" })
                                                                        @Html.ValidationMessageFor(m => m.allAllowances[i].CRA_Amount, "", new { @class = "text-danger" })
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        @Html.Raw("INR")
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6" id="rdo_@Model.allAllowances[i].ALL_Id">
                                                                @{string id = i + "radioTrue";}
                                                                @Html.RadioButtonFor(m => m.allAllowances[i].CRA_DayswiseOrFull, false, new { @id = id })@Html.LabelFor(m => m.allAllowances[i].CRA_DayswiseOrFull, "Full Amount", new { @for = id })
                                                                @{id = i + "radioFalse";}
                                                                @Html.RadioButtonFor(m => m.allAllowances[i].CRA_DayswiseOrFull, true, new { @id = id })@Html.LabelFor(m => m.allAllowances[i].CRA_DayswiseOrFull, "Daywise Calculation", new { @for = id })
                                                                @Html.ValidationMessageFor(x => x.allAllowances[i].CRA_DayswiseOrFull, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Deduction" class="tab-pane">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div id="PFlist">
                                            @{
                                                string[] arr = null;
                                                if (Model.CRI_PF_Formula != null)
                                                {
                                                    arr = Model.CRI_PF_Formula.Split('+');
                                                }
                                            }
                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.CRI_PF_Percentage, new { @class = "control-label" })
                                                @Html.TextBoxFor(m => m.CRI_PF_Percentage, new { @class = "form-control" })
                                            </div>

                                            <div class="col-md-12" style="padding-top: 20px;">
                                                <label>
                                                    @Html.LabelFor(m => m.CRI_PF_Formula, new { @class = "control-label" })
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                @if (arr != null && arr.Contains("BASIC"))
                                                {
                                                    @Html.CheckBox("pf_BASIC", new { @class = "PFselection", @value = "BASIC", @checked = "checked" })
                                                }
                                                else
                                                {
                                                    @Html.CheckBox("pf_BASIC", new { @class = "PFselection", @value = "BASIC" })
                                                }
                                                @Html.Raw("BASIC")
                                            </div>
                                            <div class="col-md-12">
                                                @if (arr != null && arr.Contains("DA"))
                                                {
                                                    @Html.CheckBox("pf_DA", new { @class = "PFselection", @value = "DA", @checked = "checked" })
                                                }
                                                else
                                                {
                                                    @Html.CheckBox("pf_DA", new { @class = "PFselection", @value = "DA" })
                                                }
                                                @Html.Raw("DA")
                                            </div>
                                            <div class="col-md-12">
                                                @if (arr != null && arr.Contains("HRA"))
                                                {
                                                    @Html.CheckBox("pf_HRA", new { @class = "PFselection", @value = "HRA", @checked = "checked" })
                                                }
                                                else
                                                {
                                                    @Html.CheckBox("pf_HRA", new { @class = "PFselection", @value = "HRA" })
                                                }
                                                @Html.Raw("HRA")
                                            </div>
                                            <div class="col-md-12">
                                                @if (arr != null && arr.Contains("OT"))
                                                {
                                                    @Html.CheckBox("pf_OT", new { @class = "PFselection", @value = "OT", @checked = "checked" })
                                                }
                                                else
                                                {
                                                    @Html.CheckBox("pf_OT", new { @class = "PFselection", @value = "OT" })
                                                }
                                                @Html.Raw("OT")
                                            </div>


                                            @for (var i = 0; i < Model.allAllowances.Count; i++)
                                            {
                                                if (Model.allAllowances[i].flagClientRequirement == true)
                                                {
                                                    <div class="col-md-12">
                                                        @if (arr != null && arr.Contains(Model.allAllowances[i].allowance.ALL_Shortform))
                                                        {
                                                            @Html.CheckBox(Model.allAllowances[i].allowance.ALL_Shortform, new { @class = "PFselection", @Value = Model.allAllowances[i].allowance.ALL_Shortform, @checked = "checked" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBox(Model.allAllowances[i].allowance.ALL_Shortform, new { @class = "PFselection", @Value = Model.allAllowances[i].allowance.ALL_Shortform })
                                                        }
                                                        @Html.Raw(@Model.allAllowances[i].allowance.ALL_Title)
                                                    </div>
                                                }
                                            }
                                        </div>

                                        @Html.TextBoxFor(m => m.CRI_PF_Formula, new { @class = "form-control" })

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div id="ESIClist">
                                            @{
                                                string[] arrEsic = null;
                                                if (Model.CRI_ESIC_Formula != null)
                                                {
                                                    arrEsic = Model.CRI_ESIC_Formula.Split('+');
                                                }
                                            }
                                            <div class="col-md-12">
                                                @Html.LabelFor(m => m.CRI_ESIC_Percentage, new { @class = "control-label" })
                                                @Html.TextBoxFor(m => m.CRI_ESIC_Percentage, new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-12" style="padding-top: 20px;">
                                                <label>
                                                    @Html.LabelFor(m => m.CRI_ESIC_Formula, new { @class = "control-label" })
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                @if (arrEsic != null && arrEsic.Contains("BASIC"))
                                                {
                                                    @Html.CheckBox("esic_BASIC", new { @class = "ESICselection", @value = "BASIC", @checked = "checked" })
                                                }
                                                else
                                                {
                                                    @Html.CheckBox("esic_BASIC", new { @class = "ESICselection", @value = "BASIC" })
                                                }
                                                @Html.Raw("BASIC")

                                            </div>
                                            <div class="col-md-12">
                                                @if (arrEsic != null && arrEsic.Contains("DA"))
                                                {
                                                    @Html.CheckBox("esic_DA", new { @class = "ESICselection", @value = "DA", @checked = "checked" })
                                                }
                                                else
                                                {
                                                    @Html.CheckBox("esic_DA", new { @class = "ESICselection", @value = "DA" })
                                                }
                                                @Html.Raw("DA")
                                            </div>
                                            <div class="col-md-12">
                                                @if (arrEsic != null && arrEsic.Contains("HRA"))
                                                {
                                                    @Html.CheckBox("esic_HRA", new { @class = "ESICselection", @value = "HRA", @checked = "checked" })
                                                }
                                                else
                                                {
                                                    @Html.CheckBox("esic_HRA", new { @class = "ESICselection", @value = "HRA" })
                                                }
                                                @Html.Raw("HRA")
                                            </div>
                                            <div class="col-md-12">
                                                @if (arrEsic != null && arrEsic.Contains("OT"))
                                                {
                                                    @Html.CheckBox("esic_OT", new { @class = "ESICselection", @value = "OT", @checked = "checked" })
                                                }
                                                else
                                                {
                                                    @Html.CheckBox("esic_OT", new { @class = "ESICselection", @value = "OT" })
                                                }
                                                @Html.Raw("OT")
                                            </div>



                                            @for (var i = 0; i < Model.allAllowances.Count; i++)
                                            {
                                                if (Model.allAllowances[i].flagClientRequirement == true)
                                                {
                                                    <div class="col-md-12">
                                                        @if (arrEsic != null && arrEsic.Contains(Model.allAllowances[i].allowance.ALL_Shortform))
                                                        {
                                                            @Html.CheckBox(@Model.allAllowances[i].allowance.ALL_Shortform, new { @class = "ESICselection", @value = Model.allAllowances[i].allowance.ALL_Shortform, @checked = "checked" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBox(@Model.allAllowances[i].allowance.ALL_Shortform, new { @class = "ESICselection", @value = Model.allAllowances[i].allowance.ALL_Shortform })
                                                        }
                                                        @Html.Raw(Model.allAllowances[i].allowance.ALL_Title)

                                                    </div>
                                                }
                                            }
                                        </div>
                                        @Html.TextBoxFor(m => m.CRI_ESIC_Formula, new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.CheckBoxFor(s => s.CRI_ProfessionalTax) Professional Tax
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.CheckBoxFor(s => s.CRI_RevenueDeduction) Revenue Deduction
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.CheckBoxFor(s => s.CRI_CanteenFacility) Canteen Facility
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="OverTime" class="tab-pane">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        @Html.RadioButtonFor(m => m.CRI_OT_Calculate_Payableday, true, htmlAttributes: new { @id = "rdo_OT_Payable" })
                                        @Html.LabelFor(m => m.CRI_OT_Calculate_Payableday, new { @class = "control-label" })
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        @Html.RadioButtonFor(m => m.CRI_OT_Calculate_Payableday, false, htmlAttributes: new { @id = "rdo_OT_Differently", @class = "OT_Differently" })
                                        @Html.Label("", "Calculate Over Time differently", new { @for = "rdo_OT_Differently" })
                                    </div>
                                </div>
                                @{
                                    string style = (Model.CRI_OT_Calculate_Payableday == false ? "block" : "none");
                                    string styleAmount = (Model.CRI_OT_Fixed_PerHour > 0 ? "block" : "none");
                                    string styleFormula = (Model.CRI_OT_Fixed_PerHour > 0 ? "none" : "block");
                                }
                                <div id="divOTdifferently" style="display:@style">
                                    <div class="col-md-8" style="padding-left: 40px;">
                                        <div class="col-md-12">
                                            @Html.RadioButtonFor(m => m.CRI_OT_Calculate_Differently, true, htmlAttributes: new { @id = "rdo_OT_Fixed_Amount" })
                                            @Html.LabelFor(m => m.CRI_OT_Fixed_PerHour, new { @class = "control-label", @for = "rdo_OT_Fixed_Amount" })
                                        </div>
                                        <div id="div_OT_Per_Hr" style="display:@styleAmount">
                                            <div class="col-md-10" style="padding-left: 50px;">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(m => m.CRI_OT_Fixed_PerHour, new { @class = "form-control" })
                                                    <p class="errorAmount manualError"></p>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                INR/hr
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.RadioButtonFor(m => m.CRI_OT_Calculate_Differently, false, htmlAttributes: new { @id = "rdo_OT_By_Formula" })
                                                @Html.Label("", "Calculate by formula", new { @for = "rdo_OT_By_Formula" })
                                            </div>
                                        </div>
                                        <div class="col-md-12" id="divByFormula" style="padding-left: 40px;display:@styleFormula">
                                            <div class="form-group">
                                                <div id="OTlist">
                                                    @{
                                                        string[] arrOT = null;
                                                        string[] arrDeductOT = null;
                                                        if (Model.CRI_OT_Formula != null)
                                                        {
                                                            if (Model.CRI_OT_Formula.Contains("-"))
                                                            {
                                                                arrOT = Model.CRI_OT_Formula.Substring(0, Model.CRI_OT_Formula.IndexOf("-")).Split('+');
                                                                arrDeductOT = Model.CRI_OT_Formula.Substring(Model.CRI_OT_Formula.IndexOf("-") + 1).Split('-');
                                                            }
                                                            else
                                                            {
                                                                arrOT = Model.CRI_OT_Formula.Split('+');
                                                            }
                                                        }
                                                    }
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(m => m.CRI_OT_MultipleTimes, new { @class = "control-label" })
                                                            @Html.DropDownListFor(m => m.CRI_OT_MultipleTimes, Enumerable.Range(1, 3).Select(i => new SelectListItem { Text = i.ToString() + " Times", Value = i.ToString() }), new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(x => x.CRI_OT_MultipleTimes, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12" style="padding-top: 20px;">
                                                        <label>
                                                            @Html.LabelFor(m => m.CRI_OT_Formula, new { @class = "control-label" })
                                                        </label>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="col-md-12">
                                                                @if (arrOT != null && arrOT.Contains("BASIC"))
                                                                {
                                                                    @Html.CheckBox("OT_BASIC", new { @class = "OTselection", @value = "BASIC", @checked = "checked" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.CheckBox("OT_BASIC", new { @class = "OTselection", @value = "BASIC" })
                                                                }
                                                                @Html.Raw("BASIC")

                                                            </div>
                                                            <div class="col-md-12">
                                                                @if (arrOT != null && arrOT.Contains("DA"))
                                                                {
                                                                    @Html.CheckBox("OT_DA", new { @class = "OTselection", @value = "DA", @checked = "checked" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.CheckBox("OT_DA", new { @class = "OTselection", @value = "DA" })
                                                                }
                                                                @Html.Raw("DA")
                                                            </div>
                                                            <div class="col-md-12">
                                                                @if (arrOT != null && arrOT.Contains("HRA"))
                                                                {
                                                                    @Html.CheckBox("OT_HRA", new { @class = "OTselection", @value = "HRA", @checked = "checked" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.CheckBox("OT_HRA", new { @class = "OTselection", @value = "HRA" })
                                                                }
                                                                @Html.Raw("HRA")
                                                            </div>

                                                            @for (var i = 0; i < Model.allAllowances.Count; i++)
                                                            {
                                                                if (Model.allAllowances[i].flagClientRequirement == true)
                                                                {
                                                                    <div class="col-md-12">
                                                                        @if (arrOT != null && arrOT.Contains(Model.allAllowances[i].allowance.ALL_Shortform))
                                                                        {
                                                                            @Html.CheckBox(@Model.allAllowances[i].allowance.ALL_Shortform, new { @class = "OTselection", @value = Model.allAllowances[i].allowance.ALL_Shortform, @checked = "checked" })
                                                                        }
                                                                        else
                                                                        {
                                                                            @Html.CheckBox(@Model.allAllowances[i].allowance.ALL_Shortform, new { @class = "OTselection", @value = Model.allAllowances[i].allowance.ALL_Shortform })
                                                                        }
                                                                        @Html.Raw(Model.allAllowances[i].allowance.ALL_Title)

                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                        @*<div class="col-md-6" >
                                                                <div class="col-md-12">
                                                                    @if (arrDeductOT != null && arrDeductOT.Contains("PF"))
                                                                    {
                                                                        @Html.CheckBox("OT_PF", new { @class = "OTDeductSelection", @value = "PF", @checked = "checked" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.CheckBox("OT_PF", new { @class = "OTDeductSelection", @value = "PF" })
                                                                    }
                                                                    @Html.Raw("PF")

                                                                </div>
                                                                <div class="col-md-12">
                                                                    @if (arrDeductOT != null && arrDeductOT.Contains("ESIC"))
                                                                    {
                                                                        @Html.CheckBox("OT_ESIC", new { @class = "OTDeductSelection", @value = "ESIC", @checked = "checked" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.CheckBox("OT_ESIC", new { @class = "OTDeductSelection", @value = "ESIC" })
                                                                    }
                                                                    @Html.Raw("ESIC")
                                                                </div>
                                                            </div>*@
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.TextBoxFor(m => m.CRI_OT_Formula, new { @class = "form-control" })
                                                        <p class="errorFormula manualError"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="m-t-20 text-center">
                        <button type="submit" class="btn btn-primary btnSave">Save</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

