@model RMERP.DAL.ViewModel.ClientsViewModel
@using static RMERP.DAL.App_Code.ProjectUtils;
@using RMERP.Helpers;
@using Microsoft.Extensions.Configuration;


@{
    ViewData["Title"] = "Add-Edit Clients";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
    ViewBag.ButtonTitle = Model.clientsModel.CLI_Id > 0 ? "Update Client" : "Create Client";
    ViewBag.ClientName = Model.clientsModel.CLI_Id > 0 ? Model.clientsModel.CLI_Name : "Create-Edit Client";

}
<div class="col-sm-12">
    <h4 class="page-title"> @ViewBag.ClientName</h4>
</div>
<ul class="nav nav-tabs" id="ClientTab">
    <li class="active"><a data-toggle="tab" href="#ClientInfo">Client Info</a></li>
    <li><a data-toggle="tab" href="#ContactInfo">Contact Info</a></li>
    <li><a data-toggle="tab" href="#Parameters">Parameters</a></li>
    <li><a data-toggle="tab" href="#ClientRequirement">Client Requirement</a></li>
    <li><a data-toggle="tab" href="#ClientEmployee">Assign Employee</a></li>
    <li><a data-toggle="tab" href="#ClientDelete">Client Activation</a></li>
</ul>
@{
    @inject IConfiguration Configuration;
    string ImagePath = Configuration.GetSection("ImagePath").GetSection("APP_DEFAULT_LOGO_IMAGE_PATH").Value + "/" + Configuration.GetSection("ImagePath").GetSection("APP_CLIENTS_LOGO_IMAGE_PATH").Value + "/" + Model.clientsModel.CLI_Id + "/" + Model.clientsModel.CliLogoImage;
    string path = (Model.clientsModel.CliLogoImage != null ? ImagePath : "/RMERP_Data/user.jpg");
}
<div class="tab-content">
    <div id="ClientInfo" class="tab-pane fade in active">
        <div class="modal-dialog modelLeftSide">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <h4 class="modal-title">Add Client</h4>
                </div>
                <div class="modal-body">
                    <div class="m-b-30">
                        @using (Html.BeginForm("AddEditClients", "Clients", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.HiddenFor(m => m.clientsModel.CLI_Id)
                            @Html.HiddenFor(m => m.clientsModel.CLI_IsActive)
                            if (Model.clientsModel.CLI_Id > 0)
                            {
                                @Html.HiddenFor(m => m.clientsModel.FRM_Id)
                            }

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.clientsModel.FRM_Id, new { @class = "control-label" })
                                        @Html.DropDownListFor(x => x.clientsModel.FRM_Id, new SelectList(ViewBag.firmList, "FRM_Id", "FRM_Name"), "Select Firm", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.clientsModel.FRM_Id, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.clientsModel.CLI_International_Domestic, new { @class = "control-label" })
                                        <label class="radio-inline form-control ">
                                            @foreach (var CountryRegion in Enum.GetValues(typeof(CountryRegion)))
                                            {
                                                <label class="radio-inline">
                                                    @Html.RadioButtonFor(s => s.clientsModel.CLI_International_Domestic, (int)CountryRegion, (int)CountryRegion == 1 ? (object)new { @checked = true, @id = (int)CountryRegion } : new { @id = (int)CountryRegion })@CountryRegion
                                                </label>
                                            }
                                        </label>
                                        @Html.ValidationMessageFor(x => x.clientsModel.CLI_International_Domestic, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.clientsModel.CLI_Name, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.clientsModel.CLI_Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.clientsModel.CLI_Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.clientsModel.CLI_Address, new { @class = "control-label" })
                                        @Html.TextAreaFor(m => m.clientsModel.CLI_Address, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.clientsModel.CLI_Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.clientsModel.CITY_Id, new { @class = "control-label" })
                                        @Html.DropDownListFor(x => x.clientsModel.CITY_Id, new SelectList(ViewBag.cityList, "CITY_Id", "CITY_Name"), "Select City", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.clientsModel.CITY_Id, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.clientsModel.CLI_Pincode, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.clientsModel.CLI_Pincode, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.clientsModel.CLI_Pincode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.clientsModel.CLI_Phone, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.clientsModel.CLI_Phone, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.clientsModel.CLI_Phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.clientsModel.CLI_Fax, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.clientsModel.CLI_Fax, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.clientsModel.CLI_Fax, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.clientsModel.CLI_Email, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.clientsModel.CLI_Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.clientsModel.CLI_Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.clientsModel.CLI_Email_2, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.clientsModel.CLI_Email_2, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.clientsModel.CLI_Email_2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-8">
                                            @Html.LabelFor(m => m.clientsModel.CLI_Logo, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.clientsModel.CLI_Logo, new { @type = "file", @class = "form-control", @onchange = "ShowImagePreviewMain(this);" })
                                            @Html.ValidationMessageFor(x => x.clientsModel.CLI_Logo, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col-md-4">
                                            <img id="ClientImage" src="@path" height="80" width="80" class="img-thumbnail" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary">@ViewBag.ButtonTitle</button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ContactInfo" class="tab-pane fade">
        <div class="content container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    @*<h4 class="page-title">Client Contact</h4>*@
                </div>
                <div class="col-sm-4 text-right m-b-30">
                    <a class="btn btn-primary rounded" href="@Url.Action("AddEditContacts","Clients", new { CLI_Id = Model.clientsModel.CLI_Id})"><i class="fa fa-plus"></i> Register New Contact</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        @if (Model.contacts != null)
                        {
                            <table class="table table-striped custom-table m-b-0 ">
                                <thead>
                                    <tr>
                                        <th>Contact Name</th>
                                        <th>Mobile No</th>
                                        <th>Email Address</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.contacts)
                                    {
                                        var style = item.CON_isPrimary == true ? "background-color:#3bb73b4a" : null;
                                        <tr style="@style">
                                            <td>
                                                @item.CON_FullName
                                                <br><b>@item.CON_Designation</b>
                                            </td>
                                            <td>@item.CON_Mobile</td>
                                            <td>@item.CON_Email</td>
                                            <td class="text-right">
                                                <div class="dropdown">
                                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li><a href='@Url.Action("AddEditContacts","Clients",new { CON_Id=item.CON_Id, CLI_Id=Model.clientsModel.CLI_Id})' title="Edit"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>

                                                        <li><a href='@Url.Action("DeleteContact","Clients",new { CON_Id=item.CON_Id,CLI_Id=Model.clientsModel.CLI_Id})' title="Delete" onclick="return confirm('Are you sure?');"><i class="fa fa-trash m-r-5"></i> Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>No Contact registered</p>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ClientRequirement" class="tab-pane fade">
        <div class="content container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    @*<h4 class="page-title">Client Requirement</h4>*@
                </div>
                <div class="col-sm-4 text-right m-b-30">
                    <a class="btn btn-primary rounded" href="@Url.Action("AddEditRequirement","Clients", new { CLI_Id =  Model.clientsModel.CLI_Id})"><i class="fa fa-plus"></i> Add New Requirement</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        @if (Model.requirements != null)
                        {
                            <table class="table table-striped custom-table m-b-0 ">
                                <thead>
                                    <tr>
                                        <th>Designation</th>
                                        <th>Total Post</th>
                                        <th>Effective from</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.requirements)
                                    {
                                        <tr>
                                            <td><b>@item.DES_Title</b></td>
                                            <td>@item.CRI_Total</td>
                                            <td>@DateHelper.getDateWithFormat(item.CRI_RegisteredOn)</td>
                                            <td class="text-right">
                                                <div class="dropdown">
                                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li><a href='@Url.Action("AddEditRequirement","Clients",new { CRI_Id=item.CRI_Id,CLI_Id =  Model.clientsModel.CLI_Id})' title="ChangeRequirement"><i class="fa fa-pencil m-r-5"></i> Change On This</a></li>
                                                        <li><a href='@Url.Action("AddEditRequirement","Clients",new { CRI_Id=item.CRI_Id,CLI_Id =  Model.clientsModel.CLI_Id,tab="ViewRequirement"})' title="ViewRequirement"><i class="fa fa-pencil m-r-5"></i> View</a></li>
                                                        <li><a href='@Url.Action("HistoryRequirement","Clients",new { DES_Id=item.DES_Id,CLI_Id=item.CLI_Id})' title="History"><i class="fa fa-trash m-r-5"></i> History</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>Register Client's Requirement.</p>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Parameters" class="tab-pane fade">
        @using (Html.BeginForm("Parameters", "Clients", FormMethod.Post))
        {

            <div class="content container-fluid">
                <div class="card-box m-b-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-view">
                                <h4 class="page-title">Attendence Parameters</h4>
                                <div class="form-group">
                                    <label class="form-group col-sm-12 " style="font-size: 15px;font-weight: normal;">
                                        @Html.HiddenFor(m => m.clientsModel.CLI_Id)
                                        @Html.RadioButtonFor(m => m.ParametersClientsModel.CLI_Att_MonthReal, true, htmlAttributes: new { @id = "Default", @checked = "checked" })
                                        Month Start With 1st of month till last date of that Month
                                    </label>
                                    <label class="form-group col-sm-12 RadioAttPara" style="font-size: 15px;font-weight: normal;">
                                        @*<input id="custom" name="AttendenceParameters" type="radio"> Customize Dates For Month*@
                                        @Html.RadioButtonFor(m => m.ParametersClientsModel.CLI_Att_MonthReal, false, new { @id = "custom" })
                                        @*@Html.TextBoxFor(m => m.clientsModel.CLI_Att_MonthReal, new { @id = "custom", type = "radio" })*@
                                        Customize Dates For Month
                                    </label>

                                    <div id="divSelectdate" class="row">

                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Start On</label>
                                                    @Html.DropDownListFor(m => m.ParametersClientsModel.CLI_Att_Month_Start, Enumerable.Range(1, 30).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-6"> </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Ends On</label>
                                                    @Html.DropDownListFor(m => m.ParametersClientsModel.CLI_Att_Month_End, Enumerable.Range(1, 30).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-6"> </div>
                                        </div>

                                        <div class="form-group col-sm-6"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content container-fluid">
                <div class="card-box m-b-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-view">
                                <h4 class="page-title">Total working days in month</h4>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.LabelFor(m => m.clientsModel.CLI_Total_WorkingDays, new { @class = "control-label" })
                                        @Html.DropDownListFor(x => x.clientsModel.CLI_Total_WorkingDays, new SelectList(ViewBag.TotalWorkingDays, "Value", "Text"), new { @class = "form-control", onchange = "WorkingDays_Change(this)" })
                                        @Html.ValidationMessageFor(x => x.clientsModel.CLI_Total_WorkingDays, "", new { @class = "text-danger" })
                                    </div>

                                        <div id="divSelectMethod" class="row">

                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.clientsModel.CLI_No_Reduce_Days)
                                                        @Html.TextBoxFor(m => m.clientsModel.CLI_No_Reduce_Days, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(x => x.clientsModel.CLI_No_Reduce_Days, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6"> </div>
                                            </div>
                                            
                                            <div class="form-group col-sm-6"></div>
                                        </div>

                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content container-fluid">
                    <div class="card-box m-b-0">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-view">
                                    <h4 class="page-title">Invoicing Parameters</h4>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            @Html.LabelFor(m => m.ParametersClientsModel.clientsModel.CLI_GST_Number)
                                            @Html.TextBoxFor(m => m.ParametersClientsModel.clientsModel.CLI_GST_Number, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.ParametersClientsModel.clientsModel.CLI_GST_Number, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-sm-6">
                                            @Html.LabelFor(m => m.ParametersClientsModel.clientsModel.CLI_GST_Rate)
                                            @Html.TextBoxFor(m => m.ParametersClientsModel.clientsModel.CLI_GST_Rate, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.ParametersClientsModel.clientsModel.CLI_GST_Rate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            @*<label>Date <span class="text-danger">*</span></label>*@
                                            @Html.LabelFor(m => m.ParametersClientsModel.clientsModel.CLI_HSN_Code)
                                            @Html.TextBoxFor(m => m.ParametersClientsModel.clientsModel.CLI_HSN_Code, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.ParametersClientsModel.clientsModel.CLI_HSN_Code, "", new { @class = "text-danger" })
                                            @*<input class="form-control" type="text" value="9">*@
                                        </div>
                                        <div class="form-group col-sm-6">
                                            @Html.LabelFor(m => m.ParametersClientsModel.clientsModel.CLI_TDS_Rate)
                                            @Html.TextBoxFor(m => m.ParametersClientsModel.clientsModel.CLI_TDS_Rate, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.ParametersClientsModel.clientsModel.CLI_TDS_Rate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="m-t-20 text-center">
                                        <input type="submit" class="btn btn-primary" value="Save Changes" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        }
            </div>
            <div id="ClientEmployee" class="tab-pane fade">
                <div class="content container-fluid">
                    <div class="row">
                        <div class="col-sm-12 text-right m-b-30">
                            <a class="btn btn-primary rounded" href="@Url.Action("AddEmployee","Clients", new { CLI_Id=Model.clientsModel.CLI_Id})"><i class="fa fa-plus"></i> Assign Employee</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                @if (Model.employees != null)
                                {
                                    <table class="table table-striped custom-table m-b-0 ">
                                        <thead>
                                            <tr>
                                                <th>Designation</th>
                                                <th>Employee</th>
                                                <th>Assign On</th>
                                                <th class="text-right">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.employees)
                                            {
                                                <tr>
                                                    <td><b>@item.DES_Title</b></td>
                                                    <td>@item.employee.EMP_FullName</td>
                                                    <td>@DateHelper.getDateWithFormat(item.CLE_RegisteredOn)</td>

                                                    <td class="text-right">
                                                        <div class="dropdown">
                                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                            <ul class="dropdown-menu pull-right">
                                                                <li><a href='@Url.Action("DeleteClientEmployee","Clients",new { CLE_Id=item.CLE_Id})' title="Delete"><i class="fa fa-trash m-r-5"></i> Delete</a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <p>Assign first Employee to this Client</p>
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <br />
                    <div class="col-sm-12 text-right m-b-30">
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle btn btn-success rounded" data-toggle="dropdown" aria-expanded="false">Get Excel</a>
                            <ul class="dropdown-menu pull-right">
                                @foreach (var excel in Enum.GetValues(typeof(Execl_BasicShifts)))
                                {
                                    <li><a href='@Url.Action( @excel.ToString(),"Clients")' title="BASIC_WithoutShifts"><i class="fa fa-file-excel-o m-r-5"></i>  @excel.ToString()</a></li>
                                }
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
            <div id="ClientDelete" class="tab-pane fade">
                <div class="modal-dialog">
                    <div class="modal-content modal-md">
                        <div class="modal-header">
                            <h4 class="modal-title" id="activeTitle"></h4>
                        </div>
                        <form>
                            <div class="modal-body card-box">
                                <p id="activeBody">

                                </p>
                                <div class="m-t-20">
                                    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                                    <button id="btnSubmit" type="submit" class="btn btn-danger"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

@section scripts{
    <script src="@Url.Content("~/assets/lib/jquery-validation/dist/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    @if (TempData["message"] != null)
    {
        <script>
            $(document).ready(function () {
            alert('@TempData["message"]');
        });
        </script>
    };
    <script type="text/javascript">
        var ClientID;
        var CLI_IsActive;
        $(document).ready(function () {
            radioShow();
            var CLI_Id = $("#clientsModel_FRM_Id").val();
            if (CLI_Id > 0) {
                $("#clientsModel_FRM_Id").attr("disabled", true);
            }          
            WorkingDaysMethod();
            $("input[type='radio']").click(function () {
                radioShow();
            });
            function radioShow() {
                var radioValue = $("input[name='ParametersClientsModel.CLI_Att_MonthReal']:checked").attr("id");
                if (radioValue == "custom") {
                    $("#divSelectdate").show();
                } else if (radioValue == "Default") {
                    $("#divSelectdate").hide();
                }
            }

            $("#ClientHistory").hide();
            $("#activeTitle").html("InActive Client");
            $("#activeBody").html("Are you sure want to InActive this Client?");
            $("#btnSubmit").html("InActive");
            ClientID = $('#clientsModel_CLI_Id').val();
            CLI_IsActive = $('#clientsModel_CLI_IsActive').val();

            if (CLI_IsActive.toLowerCase() == "false") {

                var CurrentActive = $('.nav li.active').find("a").attr("href");
                var NextActive = $('.nav li.active').next('li').next('li').find("a").attr("href");
                $('.nav li.active').next('li').next('li').next('li').next('li').next('li').addClass("active");
                $('.nav li.active').prev('li').prev('li').prev('li').prev('li').prev('li').removeClass("active");
                $(CurrentActive).removeClass("in active");
                $("#ClientDelete").addClass("in active");
                $('.nav li').not('.active').addClass('disabled');
                $('.nav li').not('.active').find('a').removeAttr("data-toggle");

                $("#activeTitle").html("Activate Client");
                $("#activeBody").html("Are you sure want to Active this Client?");
                $("#btnSubmit").html("Active");
            }
            if (CLI_IsActive.toLowerCase() == "true") {
                var CurrentActive = $('.nav li.active').find("a").attr("href");

                if (CurrentActive == "#ClientDelete") {
                    var prevActive = $('.nav li.active').prev('li').prev('li').find("a").attr("href");
                    $('.nav li.active').prev('li').prev('li').AddClass("active");
                    $('.nav li.active').prev('li').AddClass("active");
                    $('.nav li.active').removeClass("active");

                    $(CurrentActive).removeClass("in active");
                    $(prevActive).addClass("in active");

                    $('.nav li').not('.active').addClass('disabled');

                    $("#activeTitle").html("InActive Client");
                    $("#activeBody").html("Are you sure want to InActive this Client?");
                    $("#btnSubmit").html("InActive");
                }

            }
            var tab = GetParameterValues('tab');
            if (tab == "ContactInfo") {
                $('.nav li.active').next('li').addClass("active").find('a');
                var CurrentActive = $('.nav li.active').find("a").attr("href");
                var PrevActive = $('.nav li.active').next('li').find("a").attr("href");
                $('.nav li.active').prev('li').removeClass("active");
                $(CurrentActive).removeClass("in active");
                $(PrevActive).addClass("in active");
            }
            else if (tab == "ClientRequirement") {
                $('.nav li.active').next('li').next('li').next('li').addClass("active").find('a');
                var CurrentActive = $('.nav li.active').find("a").attr("href");
                var PrevActive = $('.nav li.active').next('li').next('li').next('li').find("a").attr("href");
                $('.nav li.active').prev('li').prev('li').prev('li').removeClass("active");
                $(CurrentActive).removeClass("in active");
                $(PrevActive).addClass("in active");
            }
            else if (tab == "ClientEmployee") {
                $('.nav li.active').next('li').next('li').next('li').next('li').addClass("active").find('a');
                var CurrentActive = $('.nav li.active').find("a").attr("href");
                var PrevActive = $('.nav li.active').next('li').next('li').next('li').next('li').find("a").attr("href");
                $('.nav li.active').prev('li').prev('li').prev('li').prev('li').removeClass("active");
                $(CurrentActive).removeClass("in active");
                $(PrevActive).addClass("in active");
            }
            if (ClientID == 0) {
                $('.nav li').not('.active').addClass('disabled');
                $('.nav li').not('.active').find('a').removeAttr("data-toggle");
            } else {
                $('.nav li').not('.active').removeClass('disabled');
            }

        });
        function ShowImagePreviewMain(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#ClientImage').prop('src', e.target.result)
                        .width(80)
                        .height(80);
                };
                reader.readAsDataURL(input.files[0]);
            }
        };

        $("#btnSubmit").click(
            function () {
                var Url = siteUrl + "Clients/InActiveClient?ClientID=" + ClientID + "&Active=" + CLI_IsActive;
                $.ajax({
                    type: "POST",
                    url: Url,
                    success: function (data) {
                        if (data.d == null) {
                            window.location.replace(siteUrl + "Clients/Index");
                        }
                    }
                })

            });
        function GetParameterValues(param) {
            var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < url.length; i++) {
                var urlparam = url[i].split('=');
                if (urlparam[0] == param) {
                    return urlparam[1];
                }
            }
        };
        function WorkingDaysMethod() {   
            if ($("#clientsModel_CLI_Total_WorkingDays").find('option:selected').val() == "2") {
                $("#divSelectMethod").show();
            } else {
                $("#divSelectMethod").hide();
            }
            
        }
        function WorkingDays_Change(days) {
            debugger;
            if ($(days).find('option:selected').val() == "2") {
                $("#divSelectMethod").show();
            } else {
                $("#divSelectMethod").hide();
                $("#clientsModel_CLI_No_Reduce_Days").val(null);
            }
        }
    </script>
}




