@model RMERP.DAL.ViewModel.ClientRequirementVM
@using static RMERP.DAL.App_Code.ProjectUtils;
@using RMERP.DAL.Models;
@using RMERP.DAL.ViewModel;


@{
    ViewData["Title"] = "Client Requirement Detail";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}

@section scripts{
    <script src="@Url.Content("~/assets/lib/jquery-validation/dist/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
          
                var tab = GetParameterValues("tab");

                function GetParameterValues(param) {
                    var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                    for (var i = 0; i < url.length; i++) {
                        var urlparam = url[i].split('=');
                        if (urlparam[0] == param) {
                            return urlparam[1];
                        }
                    }
                };
                if (tab == "History" || tab == "ViewRequirement") {
                $('select', 'form').attr('disabled', true).attr('readonly', true);
                $('input', 'form').attr('disabled', true).attr('readonly', true);
                $('button', 'form').attr('disabled', true).attr('readonly', true);
                }

            $('input[type="checkbox"]').click(function () {
                    if ($(this).prop("checked") == true) {
                    $("#divReqAllow_" + this.id).show();
                    $("#flagClientRequirement" + this.id).val("true");
                    }
                else if ($(this).prop("checked") == false) {
                    $("#divReqAllow_" + this.id).hide();
                    $("#flagClientRequirement" + this.id).val("false");
                    }
                });
            });

            $('.HRAselection').change(function () {
                debugger;
                var value = $(this).filter(':checked').val();
                if (value == "True") {
                    $("#CRI_HRA_Percentage").hide();
                    $("#CRI_HRA_Fixed").show();
                }
                else if (value == "False") {
                    $("#CRI_HRA_Percentage").show();
                    $("#CRI_HRA_Fixed").hide();
                }
            });

    </script>


    @if (TempData["message"] != null)
    {
        <script>
            $(document).ready(function () {
            alert('@TempData["message"]');
        });
        </script>
    };

}
@{
    Clients client = ViewBag.client;
}
<div class="modal-dialog modelLeftSide">
    <div class="modal-content modal-lg">
        <div class="modal-header">
            <h4 class="modal-title">@client.CLI_Name</h4>
        </div>
        <div class="modal-body">
            <div class="m-b-30">
                @using (Html.BeginForm("AddEditRequirement", "Clients", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.CRI_Id)
                    @Html.HiddenFor(m => m.CRI_Active)
                    if (Model.CRI_Id > 0)
                    {
                        @Html.HiddenFor(m => m.DES_Id, new { @id = "designationID" })
                    }
                    @Html.HiddenFor(m => m.CLI_Id)
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.DES_Id, new { @class = "control-label" })
                                @if (Model.CRI_Id > 0)
                                {
                                    @Html.HiddenFor(m => m.DES_Id)
                                    @Html.TextBox("DES_Title", Model.DES_Title, new { @readonly = "readonly", @class = "form-control" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => m.DES_Id, new SelectList(ViewBag.Designation, "DES_Id", "DES_Title"), "Select Designation", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.DES_Id, "", new { @class = "text-danger" })
                                }
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.CRI_Total, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.CRI_Total, new { @type = "number", @min = "1", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.CRI_Basic, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.CRI_Basic, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.CRI_Basic, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.CRI_DA, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.CRI_DA, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.CRI_DA, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("HRA")
                                @Html.RadioButtonFor(m => m.HRAselection, false, new { @class = "HRAselection", @checked = "checked" , @style="margin: 0px 0 0" }) Percentage
                                @Html.RadioButtonFor(m => m.HRAselection, true, new { @class = "HRAselection", @style = "margin: 0px 0 0" }) Fixed

                                @Html.TextBoxFor(m => m.CRI_HRA_Percentage, new { @class = "form-control", style = "display:" + (@Model.HRAselection == true ? "none" : "block") })
                                @Html.TextBoxFor(m => m.CRI_HRA_Fixed, new { @class = "form-control", style = "display:"+(@Model.HRAselection==true ? "block" : "none")})

                                
                                @Html.ValidationMessageFor(x => x.CRI_HRA_Fixed, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.CRI_HRA_Percentage, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.CRI_HRA_Percentage, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.CRI_HRA_Percentage, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.CRI_PF_Percentage, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.CRI_PF_Percentage, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.CRI_PF_Percentage, "", new { @class = "text-danger" })
                            </div>
                        </div> <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.CRI_ESIC_Percentage, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.CRI_ESIC_Percentage, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.CRI_ESIC_Percentage, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.CRI_ESIC_Area, new { @class = "control-label" })
                                <label class="radio-inline form-control ">
                                    @foreach (var ESIC_AREA in Enum.GetValues(typeof(ESIC_AREA)))
                                    {
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(s => s.CRI_ESIC_Area, (int)ESIC_AREA, (int)ESIC_AREA == 1 ? (object)new { @checked = true, @id = (int)ESIC_AREA } : new { @id = (int)ESIC_AREA })@ESIC_AREA
                                        </label>
                                    }
                                </label>
                                @Html.ValidationMessageFor(x => x.CRI_ESIC_Area, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.CRI_OT_Rate, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.CRI_OT_Rate, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.CRI_OT_Rate, "", new { @class = "text-danger" })
                            </div>
                        </div> <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.CRI_OT_MultipleTimes, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.CRI_OT_MultipleTimes, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.CRI_OT_MultipleTimes, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.CRI_WageCalculationOnWeeklyOffPlus, new { @class = "control-label" })
                                <label class="radio-inline form-control ">
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(m => m.CRI_WageCalculationOnWeeklyOffPlus, true, new { @checked = "checked" }) Yes
                                    </label>
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(m => m.CRI_WageCalculationOnWeeklyOffPlus, false) No
                                    </label>

                                </label>
                                @Html.ValidationMessageFor(x => x.CRI_WageCalculationOnWeeklyOffPlus, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    @for (var i = 0; i < Model.allAllowances.Count; i++)
                                    {
                                        <div class="col-md-12">
                                            @Html.CheckBoxFor(m => m.allAllowances[i].flagClientRequirement, new { @id = Model.allAllowances[i].ALL_Id })@Model.allAllowances[i].allowance.ALL_Title
                                            @Html.HiddenFor(m => m.allAllowances[i].ALL_Id)
                                            @Html.HiddenFor(m => m.allAllowances[i].flagClientRequirement, new { @id = "flagClientRequirement" + Model.allAllowances[i].ALL_Id })
                                            <div id="divReqAllow_@Model.allAllowances[i].ALL_Id" style="display:@(Model.allAllowances[i].flagClientRequirement?"block":"none")">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        @Html.TextBoxFor(m => m.allAllowances[i].CRA_Amount, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.allAllowances[i].CRA_Amount, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-6" id="rdo_@Model.allAllowances[i].ALL_Id">
                                                        @Html.RadioButtonFor(m => m.allAllowances[i].CRA_DayswiseOrFull, false)Full Salary Calculation
                                                        @Html.RadioButtonFor(m => m.allAllowances[i].CRA_DayswiseOrFull, true)Day Wise Calculation
                                                        @Html.ValidationMessageFor(x => x.allAllowances[i].CRA_DayswiseOrFull, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary">Save</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

