@model RMERP.DAL.ViewModel.ClientsEmployeesViewModel
@{
    ViewData["Title"] = "ClientEmployee";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}

@section scripts{
    <script src="@Url.Content("~/assets/lib/jquery-validation/dist/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
    <div class="modal-dialog modelLeftSide">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-content modal-lg">
            @*<div class="col-sm-12">
                    <h4 class="page-title"></h4>
                </div>*@
            <div class="modal-header">
                <h4 class="modal-title">@ViewBag.ClientName</h4>
            </div>
            <div class="modal-body">
                <div class="m-b-30">
                    @using (Html.BeginForm("ClientEmployee", "Clients", FormMethod.Post))
                    {
                        @Html.HiddenFor(m => m.CLE_Id)
                        @Html.HiddenFor(m => m.CLI_Id)

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.EMP_Id, new { @class = "control-label" })
                                    @Html.DropDownListFor(x => x.EMP_Id, new SelectList(ViewBag.EmployeeList, "EMP_Id", "EMP_FirstName"), "Select Employee", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.EMP_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.DES_Id, new { @class = "control-label" })
                                    @Html.DropDownListFor(x => x.CRI_Id, new SelectList(ViewBag.designationList, "CRI_Id", "DES_Title"), "Select Designation", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.CRI_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>

                        <div class="m-t-20 text-center">
                            <input type="submit" class="btn btn-primary" value="Save Changes" />
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

