@using RMERP.DAL.Helpers;
@model RMERP.DAL.ViewModel.InvoiceTypeVM
<div id="InvoiceTypeModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Template & Invoice Concept</h4>
            </div>
            <div class="modal-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" name="USR_Id" id="USR_Id" value="" />
                <div class="form-group table">
                    <table class="table table-hover">
                        @Html.HiddenFor(m=>m.WAG_Id)
                        @{
                            IEnumerable<ProjectUtils.INVOICE_TEMPLATE_TYPE>
                                INVOICE_TEMPLATE_TYPES = Enum.GetValues(typeof(ProjectUtils.INVOICE_TEMPLATE_TYPE))
                                .Cast<ProjectUtils.INVOICE_TEMPLATE_TYPE>();
                        }

                        @for (int i = 0; i < INVOICE_TEMPLATE_TYPES.Count(); i++)
                        {
                            string id = ((int)INVOICE_TEMPLATE_TYPES.ToList()[i]).ToString();
                            <tr>
                                <td>
                                    <input type="hidden" value="@id" id="type_id_@i" />
                                    @if (INVOICE_TEMPLATE_TYPES.ToList()[i] == ProjectUtils.INVOICE_TEMPLATE_TYPE.CONTRACT_BILL_FOR_PROVIDING_FACILITY_SERVICES)
                                    {
                                        <span>
                                            Contact Bill For Provinding Facility Services For Month
                                            @Html.DropDownList("WAG_Idd", new SelectList(ViewBag.Months, "Value", "Text"), new { @id = "month_" + i, @class = "Month_0" })
                                            And For Type
                                            @Html.DropDownListFor(m => m.Type, new SelectList(string.Empty, "Value", "Text"), new { @id = "type_" + i, @class = "drpType" })

                                        </span>
                                    }
                                    else if (INVOICE_TEMPLATE_TYPES.ToList()[i] == ProjectUtils.INVOICE_TEMPLATE_TYPE.COMPANY_CONTRIBUTION_PF)
                                    {
                                        <span>
                                            Company Contribution For PF Of Month
                                            @Html.DropDownListFor(m => m.WAG_Id, new SelectList(ViewBag.Months, "Value", "Text"), new { @id = "month1_" + i, @class = "Month_1" })
                                        </span>
                                    }
                                    else if (INVOICE_TEMPLATE_TYPES.ToList()[i] == ProjectUtils.INVOICE_TEMPLATE_TYPE.COMPANY_CONTRIBUTION_ESIC)
                                    {
                                        <span>
                                            Company Contribution For ESIC Of Month
                                            @Html.DropDownListFor(m => m.WAG_Id, new SelectList(ViewBag.Months, "Value", "Text"), new { @id = "month2_" + i, @class = "Month_2" })
                                        </span>
                                    }
                                    else if (INVOICE_TEMPLATE_TYPES.ToList()[i] == ProjectUtils.INVOICE_TEMPLATE_TYPE.FULL_AND_FINAL_SETTLEMENT)
                                    {
                                        <span>
                                            Full & Final Settlement Of Left Employees
                                            @Html.DropDownList("Left_EMP_Id", new SelectList(ViewBag.LeftEmps, "EMP_Id", "EMP_FullName", "Select Employee"), new { @multiple = "multiple" })                                           
                                        </span>
                                    }                                    

                                </td>
                                <td>
                                    <a class="btn btn-xs btn-primary" onclick="FillData(@i)" title="Select">Select</a>
                                </td>
                            </tr>
                        }
                            <tr>
                                <td><span>Manual</span></td>
                                <td>
                                    <a class="btn btn-xs btn-primary" onclick="FillData(999)" title="Select">Select</a>
                                </td>
                            </tr>
                    </table>
                </div>


                @*<div class="m-t-20 text-center">
                        <a class="btn btn-primary" onclick="FillData()" title="Add">Submit</a>
                    </div>*@
            </div>
        </div>

    </div>
</div>

