@model RMERP.DAL.Models.Invoices
@using static RMERP.DAL.Helpers.ProjectUtils;
@using RMERP.Helpers
@{
    Layout = null;
}
<html>
<head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <style>
        .invoice-title h2, .invoice-title h3 {
            display: inline-block;
        }

        .table > tbody > tr > .no-line {
            border-top: none;
        }

        .table > thead > tr > .no-line {
            border-bottom: none;
        }

        .table > tbody > tr > .thick-line {
            border-top: 2px solid;
        }

        .custom-border {
            border: solid 1px;
            border-color: #000000;
            padding: 10px;
        }

        .gst-table td {
            border: solid 1px;
            border-color: #000000;
            padding: 5px;
        }

        hr {
            height: 1px !important;
            background-color: #000000 !important;
        }
    </style>
</head>
<body>
    <div class="container custom-border" style="margin-top: 10px;">

        <div class="row">
            <center>
                <span style="font-size:30px;"><strong>@Model.FRM_.FRM_Name</strong><br/></span>
                <strong>
                    @Model.FRM_.FRM_Address1<br>
                    @Model.FRM_.FRM_Address2<br>
                    GSTIN/UIN : @Model.FRM_.FRM_GST_No<br>
                    State Name: @Model.FRM_.STA_.STA_Name , Code: @Model.FRM_.STA_.STA_GST_Code<br>
                    E-Mail : @Model.FRM_.FRM_Email<br>
                </strong>
            </center>
        </div>
        <div class="row">
            <div class="col-xs-12">                                              
                <table width="100%" style="font-size:inherit">
                            <tr>
                                <td colspan="2" class="invoice-title text-center" style="border-top:1px solid;border-bottom:1px solid;">
                                    <span style="font-size:32px;"><strong>TAX INVOICE</strong></span>
                                </td>
                            </tr>
                            <tr>
                                <td width="75%" rowspan="2" style="border-right:1px solid;">
                                    <p style="font-size: 18px;font-weight:bold;padding-top: 5px;">Buyer: </p>                                    
                                    <address>
                                        <span style="font-size: 18px;font-weight:bold;padding-top: 5px;">@Model.CLI_.CLI_Invoicing_Name</span> <br>
                                        @if (!string.IsNullOrEmpty(Model.CLI_.CLI_Invoicing_Address1))
                                        {
                                            @Model.CLI_.CLI_Invoicing_Address1<br>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.CLI_.CLI_Invoicing_Address2))
                                        {
                                            @Model.CLI_.CLI_Invoicing_Address2<br>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.CLI_.CLI_Invoicing_City))
                                        {
                                            @Model.CLI_.CLI_Invoicing_City<br>
                                        }

                                        @if (Model.CLI_.CLI_Invoicing_ZipCode != null)
                                        {
                                            <br /><span>Pin Code: @Model.CLI_.CLI_Invoicing_ZipCode</span><br /><br />
                                        }
                                        @if (!string.IsNullOrEmpty(Model.CLI_.CLI_Invoicing_Location))
                                        {
                                            <span>LOCATION : @Model.CLI_.CLI_Invoicing_Location</span><br />
                                        }
                                        @if (!string.IsNullOrEmpty(Model.CLI_.CLI_GST_Number))
                                        {
                                            <span>Buyer's GSTIN/UIN : @Model.CLI_.CLI_GST_Number</span><br />
                                        }

                                        @Model.CLI_.STA_.STA_Name Code: @Model.CLI_.STA_.STA_GST_Code <br />
                                        @if (!string.IsNullOrEmpty(Model.CLI_.CLI_Place_Of_Supply))
                                        {
                                            <span> Place of Supply : @Model.CLI_.CLI_Place_Of_Supply</span><br />
                                        }

                                    </address>
                                </td>
                                <td class="text-right" width="25%" style="vertical-align:top;">
                                    <address style="border-bottom:1px solid;padding:10px;">
                                        <span style="font-size:18px;font-weight:bold;">Invoice No: @Model.INV_Number</span><br>
                                        <strong>Date :</strong> @DateHelper.getLongDateFormat(Model.INV_Date)
                                    </address>                                   
                                </td>                                
                            </tr>
                    <tr>
                        <td style="vertical-align:top;">
                            <address style="padding:10px;">
                                
                                @if (Model.INV_ClientOrder_Number != null && Model.INV_ClientOrder_Number != "0")
                                {
                                    <span>Order No. : </span>@Model.INV_ClientOrder_Number<br>
                                }
                                @{
                                    var dt = "";
                                    if (Model.INV_ClientOrder_Date != null)
                                    {
                                        dt = DateHelper.getLongDateFormat(Model.INV_ClientOrder_Date.Value);
                                    }
                                }
                                @if (dt != "")
                                {
                                    <span>Date :</span> @dt<br>
                                }

                            </address>
                           
                        </td>

                    </tr>
                    
                        </table>                    
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <table class="gst-table" width="100%">
                    <thead>
                        <tr>
                            <td width="10%" class="text-center"><strong>Sr.No</strong></td>
                            <td class="text-center"><strong>Description</strong></td>
                            <td width="20%" class="text-center"><strong>Amount</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            bool IsGST = false;
                            bool IsIGST = false;
                            decimal TaxableAmt = Model.Invoice_Concepts.Sum(m => m.INC_Total);
                        }
                        @foreach (var item in Model.Invoice_Concepts.OrderBy(m => m.INC_Serial_Number))
                        {
                            <tr>
                                <td>@item.INC_Serial_Number</td>
                                <td class="text-left">@Html.Raw(item.INC_Description.Replace("???????", ""))</td>
                                <td class="text-right"><i class="fa fa-rupee"></i>@item.INC_Total</td>
                            </tr>
                        }
                        @{
                            int count = Model.Invoice_Concepts.Count();
                        }
                        @if (Model.INV_SGST_Total.Value > 0)
                        {
                            IsGST = true;
                            count = count + 1;
                            <tr>
                                <td>@count</td>
                                <td class="text-left"><strong>SGST</strong></td>
                                <td class="text-right"><i class="fa fa-rupee"></i>@Model.INV_SGST_Total.Value</td>
                            </tr>
                        }
                        @if (Model.INV_CGST_Total.Value > 0)
                        {
                            IsGST = true;
                            count = count + 1;
                            <tr>
                                <td>@count</td>
                                <td class="text-left"><strong>CGST</strong></td>
                                <td class="text-right"><i class="fa fa-rupee"></i>@Model.INV_CGST_Total.Value</td>
                            </tr>
                        }
                        @if (Model.INV_IGST_Total.Value > 0)
                        {
                            IsIGST = true;
                            count = count + 1;
                            <tr>
                                <td>@count</td>
                                <td class="text-left"><strong>IGST</strong></td>
                                <td class="text-right"><i class="fa fa-rupee"></i>@Model.INV_IGST_Total.Value</td>
                            </tr>
                        }

                        <tr>
                            <td class="thick-line"></td>
                            <td class="thick-line text-right"><strong>Total</strong></td>
                            <td class="thick-line text-right"><i class="fa fa-rupee"></i>@RoundFigure(Model.INV_Total).ToString("#,##0.00")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        @if (IsGST)
        {
            <table width="100%" style="font-size:inherit" class="gst-table">
                <tr>
                    <td rowspan="2" class="text-center" width="30%">HSN/SAC</td>
                    <td rowspan="2" class="text-center">Taxable Value</td>
                    <td colspan="2" class="text-center">Central Tax</td>
                    <td colspan="2" class="text-center">State Tax</td>
                    <td rowspan="2" class="text-center">Total Tax Amount</td>
                </tr>
                <tr>
                    <td class="text-center">Rate</td>
                    <td class="text-center">Amount</td>
                    <td class="text-center">Rate</td>
                    <td class="text-center">Amount</td>
                </tr>
                <tr>
                    <td class="text-left">@Model.CLI_.CLI_HSN_Code</td>
                    <td class="text-right">@TaxableAmt</td>
                    <td class="text-right">@Model.INV_CGST_Percentage %</td>
                    <td class="text-right">@Model.INV_CGST_Total</td>
                    <td class="text-right">@Model.INV_SGST_Percentage %</td>
                    <td class="text-right">@Model.INV_SGST_Total</td>
                    @{
                        decimal GST_Total = Model.INV_CGST_Total.Value + Model.INV_SGST_Total.Value;
                    }
                    <td class="text-right">@GST_Total</td>
                </tr>
                <tr>
                    <td class="text-right"><strong>Total</strong></td>
                    <td class="text-right"><strong>@RoundFigure(TaxableAmt).ToString("#,##0.00")</strong></td>
                    <td></td>
                    <td class="text-right"><strong>@Model.INV_CGST_Total</strong></td>
                    <td></td>
                    <td class="text-right"><strong>@Model.INV_SGST_Total</strong></td>
                    <td class="text-right"><strong>@GST_Total</strong></td>
                </tr>
            </table>
        }
        else if (IsIGST)
        {
            <table width="100%" style="font-size:inherit" class="gst-table">
                <tr>
                    <td rowspan="2" class="text-center" width="30%">HSN/SAC</td>
                    <td rowspan="2" class="text-center">Taxable Value</td>
                    <td colspan="2" class="text-center">Integrated Tax</td>
                    <td rowspan="2" class="text-center">Total Tax Amount</td>
                </tr>
                <tr>
                    <td class="text-center">Rate</td>
                    <td class="text-center">Amount</td>
                </tr>
                <tr>
                    @{ var HSN_Number = (Model.CLI_.CLI_HSN_Code != "" ? Model.CLI_.CLI_HSN_Code : "-");}


                    <td class="text-left">@HSN_Number</td>
                    <td class="text-right">@RoundFigure(TaxableAmt)</td>
                    <td class="text-right">@Model.INV_IGST_Percentage %</td>
                    <td class="text-right">@Model.INV_IGST_Total</td>
                    <td class="text-right">@Model.INV_IGST_Total</td>
                </tr>
                <tr>
                    <td class="text-right"><strong>Total</strong></td>
                    <td class="text-right"><strong>@TaxableAmt</strong></td>
                    <td></td>
                    <td class="text-right"><strong>@Model.INV_IGST_Total</strong></td>

                    <td class="text-right"><strong>@Model.INV_IGST_Total</strong></td>
                </tr>
            </table>
        }
        <table width="100%" style="font-size:inherit" class="gst-table">
            <tr>
                <td colspan="3"> <strong>Amount in Word: </strong>@ConvertNumbertoWords(Model.INV_Total) Only</td>
            </tr>
            <tr>
                <td colspan="3"><strong>Company GST No: </strong> @Model.FRM_.FRM_GST_No</td>
            </tr>
            <tr>
                <td colspan="3"><strong>Company's Bank Details </strong><br /></td>
            </tr>
            <tr>
                <td class="text-left" width="33%"> <strong>Bank Name:</strong>  @Model.FRM_.FRM_BankName</td>
                <td class="text-center" width="33%">  <strong> A/c No. :</strong>  @Model.FRM_.FRM_AccountNumber</td>
                <td class="text-right" width="33%"> <strong>IFSC Code:</strong>  @Model.FRM_.FRM_IFSC_Code</td>
            </tr>
            <tr>
                <td colspan="3"> <strong>Remark: </strong> @Model.INV_Remark</td>
            </tr>
        </table>

        <div class="row">
            <div class="col-sm-12">
                <p class="text-right"><strong> For @Model.FRM_.FRM_Name</strong> </p>
            </div>
        </div>
        <div class="row">
            <br /><br /><br />
        </div>

        <div class="row">
            <div class="col-sm-12">
                <table width="100%" style="font-size:inherit">
                    <tbody>
                        <tr>
                            <td class="text-left" width="25%"><strong>Customer Seal and Signature </strong></td>
                            <td class="text-center" width="25%"> <strong>Prepared by </strong></td>
                            <td class="text-center" width="25%"> <strong>Verified by </strong></td>
                            <td class="text-right" width="25%"><strong>Proprietor </strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table width="100%" style="font-size:inherit">
                    <tbody>
                        <tr>
                            <td class="text-center" width="75%"><span><i>Subject to Jurisdiction</i></span></td>
                            <td class="text-right" width="25%"><span>E & O.E</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>


