@model RMERP.DAL.ViewModel.InvoiceMasterVM
@using static RMERP.DAL.Helpers.ProjectUtils;
@{
    ViewData["Title"] = "Index";
}
@section scripts{
    @if (TempData["message"] != null)
    {
        <script>
            $(document).ready(function () {
            alert('@TempData["message"]');
        });
        </script>
    };
    <script>
        function searchInvoiceList() {
            var CLI_Id = $("#CLI_Id").val();
            var Year = $("#Year").val();
            var Month = $("#Month").val();
            var Url = siteUrl + "Invoices/SearchInvoice?CLI_Id=" + CLI_Id + "&Year=" + Year + "&Month=" + Month;
            $.ajax({
                type: "GET",
                url: Url,
                beforeSend: function () {
                    $("#loading-image").show();
                    $('#divClientList').html("");                    
                },
                success: function (data) {
                    $('#divClientList').html(data);
                    $("#loading-image").hide();
                }
            })
        }
    </script>
}
<div class="row">
    <div class="col-sm-8">
        <h4 class="page-title">Invoices</h4>
    </div>
    <div class="col-sm-4 text-right m-b-30">
        <a href="@Url.Action("AddEditInvoice","Invoices",new {INV_Id=0})" class="btn btn-primary rounded"><i class="fa fa-plus"></i> Create New Invoice</a>
    </div>
</div>
<div class="row filter-row">
    <div class="col-sm-3 col-xs-4">
        <div class="form-group form-focus select-focus">
            <label class="control-label">Clients</label>
            @Html.DropDownListFor(m => m.CLI_Id, new SelectList(ViewBag.ClientList, "CLI_Id", "CLI_Name"), "Select Client", new { @class = "select floating" })
        </div>
    </div>
    <div class="col-sm-3 col-xs-4">
        <div class="form-group form-focus select-focus">
            <label class="control-label">Year</label>
            @Html.DropDownListFor(m => m.Year, new SelectList(ViewBag.linktoYearId, "Value", "Text"), "Select Year", new { @class = "select floating" })
        </div>
    </div>
    <div class="col-sm-3 col-xs-4">
        <div class="form-group form-focus select-focus">
            <label class="control-label">Month</label>
            @Html.DropDownListFor(m => m.Month, new SelectList(ViewBag.linktoMonthId, "Value", "Text"), "Select Month", new { @class = "select floating" })
        </div>
    </div>
    <div class="col-sm-3 col-xs-4">
        <a class="btn btn-success btn-block" onclick="searchInvoiceList()"> Search </a>
    </div>
</div>
<img id="loading-image" src="~/assets/img/25.gif" style="display:none;position: fixed;left: 50%;top: 50%;z-index: 1000000; background-position:center;" />
<div id="divClientList">
    @{Html.RenderPartial("_InvoiceList", Model.InvoiceVMs);}
</div>

