@model IEnumerable<RMERP.DAL.Models.AdminUsers>
@using static RMERP.DAL.App_Code.ProjectUtils;

@{
    ViewData["Title"] = "Admin Users List";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}
@section Breadcrumbs{
    <li class="breadcrumb-item">Admin Users</li>
}
@section scripts{
    @if (TempData["message"] != null)
    {
        <script>
            $(document).ready(function () {
            alert('@TempData["message"]');
        });
        </script>
    };

}
<style>
    .modal-dialog {
        transform: translate(0, -50%);
        top: 30%;
        margin: 0 auto;
    }
</style>
<div>
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">@ViewData["Title"]</h4>
            </div>
            <div class="col-sm-4 text-right m-b-30">
                <a class="btn btn-primary rounded" href="@Url.Action("AddEditAdminUsers","AdminUsers")"><i class="fa fa-plus"></i> Add New AdminUsers</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @if (Model.Count() > 0)
                {
                    <div>
                        <table class="table table-striped custom-table">
                            <thead>
                                <tr>
                                    <th>Firm</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Mobile</th>
                                    <th class="text-right"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(item.FRM_Id.HasValue ? item.FRM_.FRM_Name : "Super Admin")</td>
                                        <td>@item.ADM_FirstName @item.ADM_MiddleName @item.ADM_LastName</td>

                                        <td>@item.ADM_EmailId</td>
                                        <td>@item.ADM_Password</td>
                                        <td>@item.ADM_Mobile</td>

                                        <td class="text-right">
                                            <div class="dropdown">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href='@Url.Action("AddEditAdminUsers","AdminUsers",new { AdminId=item.ADM_Id})' title="Edit"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
                                                    <li><a href='@Url.Action("DeleteAdminUsers","AdminUsers",new { AdminId=item.ADM_Id})' title="Delete"><i class="fa fa-trash m-r-5"></i> Delete </a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <P>No Admin Users To Display</P>
                }

            </div>
        </div>
    </div>
</div>

